<div id="main" class="container">




<form id="BasvuruListesiForm" action="/izlemler/EvdeSaglik/BasvuruListesi" method="post">
<div class="row" style="margin-top:2%;">
         <div class="btnBasvuruListesi" style="
         background-color: teal;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         margin-left: 30%;
         ">       </div>
         <div class="btnBasvuruListesi" style="
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    padding-right: -25%;
    border-radius: 76px;
    margin-left: -4%;
    /* text-align: right; */
    width: 42%;">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Backup</div>
        </div>
</div>
</form>

<form id="EvdeSaglikHizmetiIzlemleriForm" action="/izlemler" method="get">
<div class="row">
         
         <div class="btnHizmetİzlemleri" style="
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    border-radius: 76px;
    width: 42%;
    margin-left: 15%;
    margin-right: -4%;
    ">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Restore</div>
        </div><div class="btnHizmetİzlemleri" style="
         background-color: #9c6616;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         ">       </div>
</div>

</form>


<form id="MalzemeIslemleriForm" action="/ayarlar/malzemeIslemleri" method="get">
<div class="row" style="">
         <div class="btnMalzemeIslemleri" style="
         background-color: #9a2219;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         margin-left: 30%;
         ">       </div>
         <div class="btnMalzemeIslemleri" style="
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    padding-right: -25%;
    border-radius: 76px;
    margin-left: -4%;
    /* text-align: right; */
    width: 42%;">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Malzeme İşlemleri</div>
        </div>
</div>


</form>



<form id="HizmetSonlandırmaForm" action="/izlemler/EvdeSaglik/HizmetSonlandirmaListesi" method="post">
<div class="row">
         
         <div class="btnSonlandırma" style="
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    border-radius: 76px;
    width: 42%;
    margin-left: 15%;
    margin-right: -4%;
    ">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Randevular  </div>
        </div><div class="btnSonlandırma" style="
         background-color: #9c6616;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         ">       </div>
</div>

</form>

<form id="ilkİlzemForm" action="/izlemler/EvdeSaglik/ESilkizlem" method="post">
<div class="row" style="">
         <div class="btnilkizlem" style="
         background-color: #9a2219;
         border-radius: 100%;
         /* margin: auto; */
         width: 150px;
         height: 150px;
         border-style: solid;
         border-width: 26px;
         border-color: gray;
         z-index: 0;
         margin-left: 30%;
         ">       </div>
         <div class="btnilkizlem" style="
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    padding: 2%;
    padding-right: -25%;
    border-radius: 76px;
    margin-left: -4%;
    /* text-align: right; */
    width: 42%;">
                        <div class="" style="/* margin:auto; */margin-left: 15%;font-size: x-large;">Nüfus İşlemleri</div>
        </div>
</div>


</form>









</div>


<script>

$( ".btnMalzemeIslemleri" ).click(function() {
  
    $('#MalzemeIslemleriForm').submit();
});




</script>