<form id="bebekFORM" action="/izlemler/Bebekcocukizlem/kaydet" method="post">
<%- include('hastaIzlemHeader'); -%>
<div class="container" style="margin-top: 26px;">
          <div class="row" style="margin-top:1%;">
                             <div id="izlembilgileriSekme" class="col-md-4 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">İzlem Bilgileri</div>
                             <div id="psikoSekme" class="col-md-4 sekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Psikososyal İzlem ve Değerlendirmeler</div>
                             <div id="taramaSekme" class="col-md-4 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Taramalar</div>   
          </div>
 </div>

           <div id="bebekSekme1" class="container bebekTab">
              <%- include('bebekcocukizlem-YeniIzlemSekme1'); -%>
          </div>
          <div id="bebekSekme2"class="container bebekTab" style="display:none;">
              <%- include('bebekcocukizlem-YeniIzlemSekme2'); -%>
          </div>
          <div id="bebekSekme3"class="container bebekTab"style="display:none;">
              <%- include('bebekcocukizlem-YeniIzlemSekme3'); -%>
          </div>
          <div class="container">

            <div class="" style="">
              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
           </div>
           <div class="">
            <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
            </div>
           </div>
          <div class="row" style="margin-top: 1%;">
              <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
              <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
           </div>
</div>
</form>



<script src="/public/js/bebekizlem.js"></script>

<script>
 $( "#Kaydetbtn" ).click(function() {
            var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
            $('#bebekFORM').append(input);
            var input2 = $("<input>").attr("type", "hidden").attr("name", "islemGruplariJson").val(JSON.stringify(secilenTestler));
            $('#bebekFORM').append(input2);



            var input3 = $("<input>").attr("type", "hidden").attr("name", "islemGruplariJson").val(JSON.stringify(secilenTestler));
            $('#bebekFORM').append(input3);
            $("#bebekFORM").submit();
         
  });
</script>

