<div class="row">
<div class="rcorners3" style="width: 95%;">
<div class="row">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label">
                      Biyotinidaz Eksikliği
                    </label>
                </div>
       </div>
        <div class="col-md-2 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class=" biyotOpt form-check-input" name="optradio" >N(-)
                    </label>
                </div>
       </div>
       <div class="col-md-2 biyotOpt">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="biyotOpt form-check-input" name="optradio" >P(+)
                    </label>
                </div>
       </div>
              
</div>
<div class="row" style="margin-top:1%;">
       <div class="col-md-3">
                 <div class="form-check">
                     <label class="form-check-label" id="isitme">
                     İşitme Testi
                    </label>
                </div>
       </div>
        <div class="col-md-3 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class=" isitmeOpt form-check-input" name="isitmerad" >İşitme K. Yok
                    </label>
                </div>
       </div>
       <div class="col-md-3 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="isitmeOpt form-check-input" name="isitmerad" >Tek Taraflı İ.K.
                    </label>
                </div>
       </div>
        <div class="col-md-3 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="isitmeOpt form-check-input" name="isitmerad" >Çift Taraflı İ.K.
                    </label>
                </div>
       </div>
              
</div>
<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="fenil">
                    Fenilketanüri
                    </label>
                </div>
       </div>
        <div class="col-md-2 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class=" fenilOpt form-check-input" name="fenilrad" >N(-)
                    </label>
                </div>
       </div>
       <div class="col-md-2 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="fenilOpt form-check-input" name="fenilrad" >P(+)
                    </label>
                </div>
       </div>
              
</div>

<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="fenil">
                      Gelişimsel Kalça Ç.
                    </label>
                </div>
       </div>
       
              
</div>

<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="konjen">
                      Konjenital Hipotiroidi
                    </label>
                </div>
       </div>
        <div class="col-md-2 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class=" konjenOpt form-check-input" name="konjenrad" >N(-)
                    </label>
                </div>
       </div>
       <div class="col-md-2 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="konjenOpt form-check-input" name="konjenrad" >P(+)
                    </label>
                </div>
       </div>
              
</div>

<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="konjen">
                      Hiper FenilAninemi
                    </label>
                </div>
       </div>
       <div class="col-md-2 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="konjenOpt form-check-input" name="konjenrad" >P(+)
                    </label>
                </div>
       </div>
              
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-6">
        <div class="input-group mb-3 col-md-12">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Topuk Kanı</span>
                       </div>
                       <select class="browser-default custom-select">
                       <option selected="">1</option>
                       <option value="sgk">2</option>
                       </select>
        </div>
    </div>
    <div class="col-md-6">
            <div class="input-group col-md-8">
                <div class="input-group-prepend">
                   <span class="input-group-text " id="inputGroup-sizing-default">Barkod </span>
                </div>
                <input class="form-control" name="doğumYeri" type="text" aria-label="Default" aria-describedby="">
            </div>
    </div>

              
</div>

<div class="row" style="margin-top:1%;">
    <div class="col-md-8">
        <div class="input-group mb-3 col-md-12">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Göz Taraması</span>
                       </div>
                       <select class="browser-default custom-select">
                       <option selected="">1</option>
                       <option value="sgk">2</option>
                       </select>
        </div>
    </div>   
</div>
<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="konjen">
                      Kistik Fib. Myn
                    </label>
                </div>
       </div>
        <div class="col-md-2 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="kistikrad" >N(-)
                    </label>
                </div>
       </div>
       <div class="col-md-2 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="form-check-input" name="kistikrad" >P(+)
                    </label>
                </div>
       </div>
              
</div>
<div class="row" style="margin-top:1%;">
    <div class="col-md-8">
        <div class="input-group mb-3 col-md-12">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Testis Kontrol Myn</span>
                       </div>
                       <select class="browser-default custom-select">
                       <option selected="">1</option>
                       <option value="sgk">2</option>
                       </select>
        </div>
    </div>   
</div>
<div class="row" style="margin-top:1%;">
       <div class="col-md-4">
                 <div class="form-check">
                     <label class="form-check-label" id="konjen">
                      Fimozis Kontrol Myn
                    </label>
                </div>
       </div>
        <div class="col-md-2 ">
                <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="fimorad" >N(-)
                    </label>
                </div>
       </div>
       <div class="col-md-2 ">
                 <div class="form-check-inline disabled">
                    <label class="form-check-label">
                          <input  type="radio" class="form-check-input" name="fimorad" >P(+)
                    </label>
                </div>
       </div>
              
</div>





</div>
</div>














<script>


var $self;

$('input[type=radio]').on('click', function() {
  $self = $(this);
  if ( $self.hasClass('is-checked') ) {
    $self.prop('checked', false).removeClass('is-checked');
  } else {
    $self.addClass('is-checked');
  }
});

</script>