<div class="row" style="margin-top: 2%;">
          <div class="input-group mb-3 col-md-6">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">İşlem Grubu</span>
                                       </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% islemGrubu.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
          </div>
</div>


<div class="row" style="margin-top:2%;">
     <div class="col-md-6">
               <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-top-right-radius: 20px;border-top-left-radius: 20px;;overflow-y: auto;overflow-x: hidden;">
                                                    <div class="row">
                                                         <div id="islemAdi" class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"></div>                                               
                                                    </div>                                                                                                
               </div>   
               <div class="container grupElement" id="BeyinGelisimiRisklerTable"style="display:none;border-radius: 20px;border-top-right-radius: 0;border-top-left-radius: 0;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;overflow-y: auto;overflow-x: hidden;">
                         <% BeyinGelisimiRiskler.forEach(function(e) { %>
                         <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>       
                         <%}); %>          
               </div> 
               <div class="container grupElement" id="EbeveynAktiviteTable"style="display:none;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                         <% EbeveynAktivite.forEach(function(e) { %>
                           <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>       
                         <%}); %>                                                                                       
               </div>
               <div class="container grupElement" id="GelisimTablosuBilgilerininSorgulanmasiTable"style="display:none;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                          <% GelisimTablosuBilgilerininSorgulanmasi.forEach(function(e) { %>
                           <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>        
                         <%}); %>                                                                                         
               </div>   
               <div class="container grupElement" id="RisklereYonelikEgtimlerTable"style="display:none;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                          <% RisklereYonelikEgtimler.forEach(function(e) { %>
                           <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>          
                         <%}); %>                                                                                                      
               </div>   
               <div class="container grupElement" id="RiskFaktorlerineYapilanMudahelelerTable"style="display:none;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                         <% RiskFaktorlerineYapilanMudaheleler.forEach(function(e) { %>
                            <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>          
                         <%}); %>                                                                                               
               </div>   
               <div class="container grupElement" id="RiskTakipiTable"style="display:none;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                         <% RiskTakipi.forEach(function(e) { %>
                           <div class="row testRow">
                              <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                   <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.KODU %>"></div>
                              </div>
                              <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= e.ADI %></div> 
                         </div>       
                         <%}); %>                                                                                                
               </div>                                                             
     </div>
     <div class="col-md-6">
               <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-bottom-left-radius: 0px ;border-bottom-right-radius: 0px ;">
                                                        <div class="row" id="secilenHeader">
                                                                   <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                                                             Seçilenler
                                                                  </div> 
                                                       </div>
               </div>
                <div class="container" id="secilenTestlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0px ;border-top-right-radius: 0px ;">
                                                     
               </div>
     </div>
</div>
