

<%- include('hastaIzlemHeader'); -%>
   <div class="row" style="margin-top:2%;">   
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Doğum Yöntemi:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>APGAR1 Skoru:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>APGAR5 Skoru:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
   </div>
   <div class="row" style="margin-top:2%;">   
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Doğum Komplikasyonu:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Anne Adı:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Anne Yaşı:</b></div></div>
                <div class="col-md-2" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
   </div>
  
    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                        <div class="col-md-6">
                                <div class="row">
                                                <div class="col-md-4" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Doğum Ağırlığı:</b></div></div>
                                                <div class="col-md-4" style=""><div style="margin: auto;color: #325179;font-size: inherit;">*</div></div>
                                </div>       
                                <div class="row">
                                        <div class="col-md-6">                          
                                             <div class="container"  style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 260px;border-radius: 20px;margin: 0;">
                                                   <div class="row">
                                                             <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;color: #325179;font-family: Avenir Next;"><b>AŞI BİLGİLERİ</b></div>                                               
                                                   </div>
                                                   <div class="row">
                                                                <div class="col-md-12"> 
                                                                        <div class="row" style="margin-top:10%;"> <div style="color: #325179;margin: auto;"><b>SON AŞI İSMİ:</b></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                                        <div class="row" style="margin-top:10%;"> <div style="color: #325179;margin: auto;"><b>SON AŞI TARİHİ:</b></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                               </div>                                                                                                                                                                       
                                                    </div>

                                             </div> 
                                        </div>
                                        <div class="col-md-6">                          
                                             <div class="container"  style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 260px;border-radius: 20px;margin: 0;">
                                                   <div class="row">
                                                              <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;color: #325179;font-family: Avenir Next;"><b>BESLENME BİLGİLERİ</b></div>                                               
                                                   </div>
                                                   <div class="row">                                                         
                                                                <div class="col-md-12"> 
                                                                        <div class="row" style="margin-top:4%;"> <div style="color: #325179;margin: auto;"><b>Sütten Kesildiği Ay:</b></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                                        <div class="row" style="margin-top:6%;"> <div style="color: #325179;margin: auto;"><b>Ek Gıda Başlama Ayı:</b></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                                         <div class="row" style="margin-top:6%;"> <div style="color: #325179;margin: auto;"><b>Anne Sütü Aldığı Ay:</b></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                               </div>                                                                                                                                                                            
                                                    </div>
                                             </div> 
                                        </div>
                                </div> 
                        </div>     
                         <div class="col-md-6">
                                <div class="row">
                                        <div class="col-md-4">                          
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 314px;border-radius: 20px;margin: 0;">
                                                 

                                             </div> 
                                        </div>       
                                        <div class="col-md-4">                          
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 314px;border-radius: 20px;margin: 0;">
                                                 

                                             </div> 
                                        </div>       
                                        <div class="col-md-4">                          
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 314px;border-radius: 20px;margin: 0;">
                                                 

                                             </div> 
                                        </div>                              
                                </div>
                        </div>                          
     </div>




   <div class="container">                          

     <div class="row"style="margin-top:1%;height: 18%;background-color:white;border-radius: 15px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">
          <div id="ay1" class="" style="width: 7.692%;">  
                        <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;">  
                                    İzlem 1: 9 Ocak
                        </div>
                        <div class="row" style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;">  
                                        İzlem 2: 9 Ocak
                        </div>
                        <div class="row" style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;">  
                                        İzlem 3: 9 Ocak
                        </div>
          </div>
          <div id="ay2" class="" style="width: 7.692%;">  
                        <div  class="row"style="background-color: blue;color: white;padding: 2%;margin: auto;width: 92%;margin-top:2%; ">  
                                    İzlem 4: 9 Ocak
                        </div>
                        <div class="row" style="background-color: blue;color: white;padding: 2%;margin: auto; width: 92%;margin-top:2%;">  
                                        İzlem 5: 9 Ocak
                        </div>
          </div>
    </div>
    <div class="row"style="background-color:blue;border-radius: 15px;border-top-left-radius: 0;border-top-right-radius: 0;">
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                1.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                2.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                3.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                4.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                5.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                6.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                7.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                8.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                9.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                10.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                11.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;border-right-style: solid;">  
                                12.AY
                </div>
                <div style="width: 7.692%;text-align: center;color: white;">  
                      13.AY
                </div>
                
     </div>
  </div>




    <div class="row"style="margin-top:1%;">
            <div class="col-md-8">                          
            </div>
            <div class="col-md-4">                          
                    <button id="yeniIzlemBtn" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Yeni İzlem</button>
            </div>
    </div>

<form id="yeniIzlemForm" action="/izlemler/Bebekcocukizlem/YeniIzlem" method="get"></form>
</form>
<script src="/public/js/bebekizlem.js"></script>