 <div class="row" style="margin-top:1%;">
                <div class="col-md-4">
                             <div class="row" style="">
                                    <div class="input-group mb-3 col-md-12">
                                                  <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">İzlem Sırası</span>
                                                  </div>
                                                              <select name="izlemSirasi"class="browser-default custom-select">
                                                                               <% kacinciizlem.forEach(function(element) { %>
                                                                                <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                                <%}); %>
                                                              </select>
                                    </div>
                             </div>
                </div>
                <div class="col-md-8" style="text-align: right;">
                     <div class="custom-control custom-checkbox custom-control-inline" >
                        <input type="checkbox" class="custom-control-input" name="bdi" id="bdi" value="bdi">
                        <label class="custom-control-label" for="bdi">Bölge Dışı İzlem</label>
                    </div>  
                </div>
 </div>

 <div class="row" style="margin-top:1%;">
            <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ağırlık(gr)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="kilo" name="kilo" class="form-control bki" type="text" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/boy.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Boy(cm)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="boy" name="boy" class="form-control bki" type="text" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Baş Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="bascevresi" name="bascevresi" class="form-control" type="text" placeholder="Ağırlık(gr)"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Göğüs Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="goguscevresi" name="goguscevresi" class="form-control " type="text" placeholder="Göğüs Çevresi"></div>
                  </div>
            </div>
             <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Fontanal</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="fontanal" name="kifontanallo" class="form-control " type="text" placeholder="Fontanal"></div>
                  </div>
            </div>
            <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Kol Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="kolcevresi" name="kolcevresi" class="form-control " type="text" placeholder="Kol Çevresi"></div>
                  </div>
            </div>
</div>

 <div class="row" style="margin-top:2%;">
            <div class="col-md-6">
                    <div class="row">
                            <div class="input-group mb-3 col-md-9">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Beden Kitle Endeksi</span>
                                     </div>
                                     <input id="bkiSonuc" name="bkiSonuc" class="form-control" name="" type="text" aria-label="Default" aria-describedby="">
                            </div>
                             <div class="input-group mb-3 col-md-3">
                                     <input id="bkiDurum" name="bkiDurum" class="form-control" name="" type="text" aria-label="Default" aria-describedby="">
                            </div>
                    </div>
                    <div class="row"style="margin-top:2%;">
                            <div class="input-group mb-3 col-md-6">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hemoglobin</span>
                                     </div>
                                     <input  class="form-control" name="hemoglobin" type="text" aria-label="Default" aria-describedby="">
                            </div>
                            <div class="input-group mb-3 col-md-6">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hemotokrit</span>
                                     </div>
                                     <input  class="form-control" name="hemotokrit" type="text" aria-label="Default" aria-describedby="">
                            </div>
                            
                    </div>                                          
            </div>
             <div class="col-md-6">
                    <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">D Vitamini</span>
                                       </div>
                                                   <select name="DVitamini"  class="browser-default custom-select">
                                                                    <% DVitamini.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
                  </div>
                  <div class="row" style="">
                        <div class="input-group mb-3 col-md-12">
                                      <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Demir Desteği</span>
                                      </div>
                                                   <select name="DemirDestek"  class="browser-default custom-select">
                                                                   <% DemirDestek.forEach(function(element) { %>
                                                                    <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                    <%}); %>
                                                    </select>
                        </div>
                   </div>
                   <div class="row" style="">
                         <div class="col-md-6" style="">
                               Ağızdan Sıvı Takviyesi
                        </div>
                         <div class="col-md-6" style="">
                                   <div class="custom-control custom-checkbox custom-control-inline">
                                                 <input type="checkbox" class="custom-control-input" id="sivitakviyesiEvet" name="sivitakviyesi" value="1">
                                                 <label class="custom-control-label" for="sivitakviyesiEvet">Evet</label>
                                   </div>
                                   <div class="custom-control custom-checkbox custom-control-inline">
                                                 <input type="checkbox" class="custom-control-input" id="sivitakviyesiHayir" name="sivitakviyesi" value="0">
                                                 <label class="custom-control-label" for="sivitakviyesiHayir">Hayır</label>
                                   </div>
                   
                        </div>
                   </div>
            </div>


</div>
