
<div class="" style="margin-top:2%;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -20px;height: 75px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: fit-content;text-align: center;font-size: xx-large;">EVDE SAĞLIK HİZMETLERİ</div>
<div class="container btnBasvuruListesi" style="border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;position: relative;z-index: 5;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Başvuru Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>
<div class="container btnHizmetİzlemleri" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;position: relative;z-index: 4;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/EvdeSaglikHizmetIslem.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Evde Sağlık Hizmeti İzlemleri</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>

<div class="container btnHastaNakil" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;position: relative;z-index: 3;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/HastaNakil.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Hasta Nakil Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>
<div class="container btnSonlandırma" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;position: relative;z-index: 2;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/HizmetSonlandırmaListesi.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Hizmet Sonlandırma Listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>
<div class="container btnilkizlem" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/ESİlkİzlem.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">İlk İzlem</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>

<form id="BasvuruListesiForm" action="/izlemler/EvdeSaglik/BasvuruListesi" method="post"></form>

<form id="EvdeSaglikHizmetiIzlemleriForm" action="/izlemler/EvdeSaglik/ESHizmetiIzlemleri" method="EvdeSaglik"></form>


<form id="HastaNakilForm" action="/izlemler/EvdeSaglik/ESHastaNakilListesi" method="post"></form>





<form id="HizmetSonlandırmaForm" action="/izlemler/EvdeSaglik/HizmetSonlandirmaListesi" method="post"></form>
         




<form id="ilkİlzemForm" action="/izlemler/EvdeSaglik/ESilkizlem" method="post" ></form>




<script src="../public/js/evdesaglık.js"></script>
