<form id="gebeFORM" action="/izlemler/Gebeizlem/kaydet" method="post">


<%- include('hastaIzlemHeader'); -%>
<div class="container" style="margin-top: 26px;">
          <div class="row" style="margin-top:1%;">
                             <div id="izlembilgileriSekme" class="col-md-6 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">İzlem Bilgileri</div>
                             <div id="riskSekme" class="col-md-6 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Risk Faktörleri/İşaretler/İşlemler/Gebe Bilgilendirme ve Danışma</div>   
          </div>
 </div>

           <div id="bebekSekme1" class="container bebekTab">
              <%- include('gebeizlem-YeniIzlemSekme1'); -%>
          </div>
         
          <div id="bebekSekme2"class="container bebekTab"style="display:none;">
              <%- include('gebeizlem-YeniIzlemSekme2'); -%>
          </div>
        
 <div class="">

                <div class="" >
                  <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
               </div>
               <div class="">
                <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                    <textarea name="aciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                </div>
               </div>

              <div class="row" style="margin-top: 1%;">
                  <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                  <button id="KaydetbtnGebe" type="submit" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
               </div>
</div>
</form>




<script>



 
 
$( "#KaydetbtnGebe" ).click(function() {
            var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
            $('#gebeFORM').append(input);
            $("#gebeFORM").submit();
         
});
        
var sekme="İzlem Bilgileri";
$( "#izlembilgileriSekme").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme1").css("display","");
    }
 
});
$( "#riskSekme").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".bebekTab").css("display","none");
        $("#bebekSekme2").css("display","");
    }
});


        
</script>
