<div class="row" style="margin-top:2%;">
              <div style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;width: 15%;margin: auto;">
                        <div class="row"> <img src="/public/img/boy.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Hemoglobin</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="hemoglobin" name="hemoglobin" class="bki form-control" type="text" placeholder="Hemoglobin"></div>

            </div>
          
            <div style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;width: 15%;margin: auto;">
                        <div class="row"> <img src="/public/img/nabız.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Nabız</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="Nabiz" class="form-control" type="text" placeholder="Nabız"></div>

            </div>
             <div style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;width: 15%;margin: auto;">
                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ağırlık(gr)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="kilo" name="kilo" class="form-control bki" type="text" placeholder="Ağırlık(gr)"></div>

            </div>
            <div style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;width: 15%;margin: auto;">
                        <div class="row"> <img src="/public/img/ates.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Fetüs Kalp Sesi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="Fetus" class="form-control" type="text" placeholder="Fetüs Kalp Sesi"></div>

            </div>
           <div style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;width: 22%;margin: auto;">
                      <div class="row">
                                                            <div class="col-md-5"> <img src="/public/img/tansiyon.svg" style="margin: auto;height: 95px;">  </div>
                                                            <div class="col-md-7"> 
                                                                                   <input name="tanS" class="form-control" type="text" placeholder="S" style="">
                                                                                   <input name="tanD" class="form-control" type="text" placeholder="D" style="margin-top: 20px;">

                                                            </div>

                     </div>
                     <div class="row" style="margin: auto;margin-top:8px;"><div style="color: #325179;font-size: larger;text-align: center;margin: auto;">Tansiyon</div></div>
            </div>
        
    </div>


    <div class="row" style="margin-top: 2%;">
                  <div class="col-md-1">
                          <div class="custom-control custom-checkbox custom-control-inline">
                                                  <input type="checkbox" class="custom-control-input" id="ödem" name="odem" value="1">
                                                  <label class="custom-control-label" for="ödem">Ödem</label>
                          </div>
                  </div>
                  <div class="col-md-1">
                         <div class="custom-control custom-checkbox custom-control-inline">
                                                 <input type="checkbox" class="custom-control-input" id="varis" name="varis" value="1">
                                                 <label class="custom-control-label" for="varis">Varis</label>
                         </div>
                 </div>
                   <div class="col-md-4">
                          <div class="custom-control custom-checkbox custom-control-inline">
                                                  <input type="checkbox" class="custom-control-input" id="diyabetTaramasi" name="diyabetTaramasi" value="1">
                                                  <label class="custom-control-label" for="diyabetTaramasi">Gestasyonel Diyabet Taraması</label>
                          </div>
                  </div>
                  <div class="col-md-6">
                        <div class="row" style="">
                          <div class="col-md-4" style="">
                                Gebelikte Risk Durumu
                         </div>
                          <div class="col-md-8" style="">
                                    <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" class="custom-control-input" id="yuksekriskli" name="riskDurumu" value="1">
                                                  <label class="custom-control-label" for="yuksekriskli">Yüksek Riskli</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" class="custom-control-input" id="riskli" name="riskDurumu" value="2">
                                                  <label class="custom-control-label" for="riskli">Riskli</label>
                                    </div>
                                   <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" class="custom-control-input" id="riskyok" name="riskDurumu" value="3" checked>
                                                  <label class="custom-control-label" for="riskyok">Risk Yok</label>
                                    </div>
                         </div>
                     </div>
                  </div>                      
</div>




<div class="row" style="margin-top:2%;">
            <div class="col-md-6">
                       <div class="row">
                            <div class="input-group mb-3 col-md-11">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Geliş Biçimi</span>
                                       </div>
                                       <select name="gelisBicimi" class="browser-default custom-select">
                                           <%GelisSekli.forEach(function(element) {
                                                    if(element.ADI=="NORMAL"){%>
                                                        <option selected value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                   <% }
                                                    else { %> 
                                                         <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%} }); %>
                                         </select>
                            </div>
                       </div>
                       <div class="row">
                                <div class="input-group mb-3 col-md-11">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Sistemik Muayene</span>
                                     </div>
                                     <input class="form-control" name="sistemikMyn" type="text" aria-label="Default" aria-describedby="">
                                </div>
                       </div>
                       <div class="row" style="">
                         <div class="input-group mb-3 col-md-11">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text "  id="inputGroup-sizing-default">D Vitamini</span>
                                       </div>
                                                   <select name="DVitamini" class="browser-default custom-select">
                                                                    <% DVitamini.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
                    </div>
                    <div class="row" style="">
                              <div class="input-group mb-3 col-md-11">
                                            <div class="input-group-prepend">
                                                 <span class="input-group-text "  id="inputGroup-sizing-default">İdrarda Protein</span>
                                            </div>
                                                        <select name="idrardaProtein" class="browser-default custom-select">
                                                                         <% idrardaProtein.forEach(function(element) { %>
                                                                          <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                          <%}); %>
                                                          </select>
                              </div>
                    </div>
                   
            </div>
             <div class="col-md-6">
                    <div class="row" style="margin-bottom: 8px;">
                        <div class="col-md-12">
                          <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="bdi" name="bdi" value="1">
                              <label class="custom-control-label" for="bdi">Bölge Dışı İzlem</label>
                          </div>
                        </div>
                    </div>     
                    <div class="row" style="">
                              <div class="input-group mb-3 col-md-11">
                                            <div class="input-group-prepend">
                                                 <span class="input-group-text " id="inputGroup-sizing-default">Demir Desteği</span>
                                            </div>
                                                         <select name="DemirDestek" class="browser-default custom-select">
                                                                         <% DemirDestek.forEach(function(element) { %>
                                                                          <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                          <%}); %>
                                                          </select>
                              </div>
                         </div>
                         <div class="row" style="">
                               <div class="col-md-6" style="">
                                     Ağızdan Sıvı Takviyesi
                              </div>
                               <div class="col-md-6" style="">
                                        <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" class="custom-control-input" id="agizSiviTakviyesiE" name="agizSiviTakviyesi" value="1">
                                                  <label class="custom-control-label" for="agizSiviTakviyesiE">Evet</label>
                                       </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                                  <input type="radio" class="custom-control-input" id="agizSiviTakviyesiH" name="agizSiviTakviyesi" value="0" checked>
                                                  <label class="custom-control-label" for="agizSiviTakviyesiH">Hayır</label>
                                       </div>
                         
                              </div>
                         </div>
                         <div class="row" style="margin-top:2%">
                                 <div class="input-group mb-3 col-md-11">
                                            <div class="input-group-prepend">
                                                 <span class="input-group-text " id="inputGroup-sizing-default">Konjenital Anomali Varlığı</span>
                                            </div>
                                            <select name="KonjenitalAnomali" class="browser-default custom-select">
                                                <%KonjenitalAnomali.forEach(function(element) {
                                                         if(element.ADI=="NORMAL"){%>
                                                             <option selected value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                        <% }
                                                         else { %> 
                                                              <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                      <%} }); %>
                                              </select>
                                 </div>
                            </div>
            </div>


</div>