<%- include('hastaIzlemHeader'); -%>

<div class="row" style="margin:auto;margin-top:2%;">
        <div class="col-md-6" style="margin:auto;">

<div class="card" style="
    width: 100%;
">
  <h5 class="card-header" style="
    text-align: center;
">Gebelik Sonucu</h5>
  <div class="card-body">
            <div class="row" style="margin-top:1%;">
                    <div style="margin-left: auto; font-size: small;">Gebelik Sonlandırma Tarihi <b>2018.01.01</b></div>
            </div>
            <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Gebelik Sonucu</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğum Yöntemi</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğuma Yardım Eden</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
              <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğum Gerçekleşme Yeri</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğan Bebek Toplamı</div>
                    <div class="col-md-5"> <b>3</b></div>
            </div>
            <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">Canlı/Ölü Sayısı</div>
                     <div class="col-md-6 row">
                                <div class="col-md-3" style="text-align: center;border-style: groove;border-color: blue;border-radius: 15px;">2</div> /  <div class="col-md-3" style="text-align: center;border-style: groove;border-color: blue;border-radius: 15px;">1</div>
                                      
                     </div>
            </div>
  </div>
</div>
        </div>
        <div class="col-md-6" style="margin:auto;width: 100%;">

<div class="card">
  <h5 class="card-header" style="
    text-align: center;
">Bebek Bilgileri</h5>
  <div class="card-body">
              <div class="row">
                    <div class="col-md-3">İsim</div><div class="col-md-3"> <b>Örnek</b></div> <div class="col-md-3">Soyisim</div><div class="col-md-3"> <b>Örnek</b></div>
            </div>
             <div class="row">
                    <div class="col-md-3">Cinsiyet</div><div class="col-md-3"> <b>Örnek</b></div> 
            </div>
               <div class="row">
                     <div class="col-md-4">Doğum Tarihi</div><div class="col-md-6"> <b>2018.01.01</b></div>
            </div>
             <div class="row">
                        <div class="row" style="margin-top: 2%;">
                           <div class="col-md-4" style="">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Ağırlık(gr)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
                             <div class="col-md-4">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Boy(cm)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
                            <div class="col-md-4">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Baş Çevresi(cm)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
              </div>
    </div>                       
</div>
</div>        
  </div>


</div>
<hr width="100%" color="#0000F8" size="4">

<div class="row" style="margin:auto;margin-top:2%;">
        <div class="col-md-6" style="margin:auto;">

<div class="card" style="
    width: 100%;
">
  <h5 class="card-header" style="
    text-align: center;
">Gebelik Sonucu</h5>
  <div class="card-body">
            <div class="row" style="margin-top:1%;">
                    <div style="margin-left: auto; font-size: small;">Gebelik Sonlandırma Tarihi <b>2018.01.01</b></div>
            </div>
            <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Gebelik Sonucu</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğum Yöntemi</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğuma Yardım Eden</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
              <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğum Gerçekleşme Yeri</div><div class="col-md-5"> <b>Örnek</b></div>
            </div>
             <div class="row"style="margin-top:1%;">
                    <div class="col-md-7">Doğan Bebek Toplamı</div>
                    <div class="col-md-5"> <b>3</b></div>
            </div>
            <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">Canlı/Ölü Sayısı</div>
                     <div class="col-md-6 row">
                                <div class="col-md-3" style="text-align: center;border-style: groove;border-color: blue;border-radius: 15px;">2</div> /  <div class="col-md-3" style="text-align: center;border-style: groove;border-color: blue;border-radius: 15px;">1</div>
                                      
                     </div>
            </div>
  </div>
</div>
        </div>
        <div class="col-md-6" style="margin:auto;width: 100%;">

<div class="card">
  <h5 class="card-header" style="
    text-align: center;
">Bebek Bilgileri</h5>
  <div class="card-body">
              <div class="row">
                    <div class="col-md-3">İsim</div><div class="col-md-3"> <b>Örnek</b></div> <div class="col-md-3">Soyisim</div><div class="col-md-3"> <b>Örnek</b></div>
            </div>
             <div class="row">
                    <div class="col-md-3">Cinsiyet</div><div class="col-md-3"> <b>Örnek</b></div> 
            </div>
               <div class="row">
                     <div class="col-md-4">Doğum Tarihi</div><div class="col-md-6"> <b>2018.01.01</b></div>
            </div>
             <div class="row">
                        <div class="row" style="margin-top: 2%;">
                           <div class="col-md-4" style="">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Ağırlık(gr)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
                             <div class="col-md-4">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Boy(cm)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
                            <div class="col-md-4">
                                      <div class="" style="padding: 15%;border-radius: 5px;border-style: groove;border-color: blue;">                                       
                                             <div class="">
                                                <div class="input-group-prepend row">
                                                    <img id="basic-addon1" src="/public/img/calendar.svg" onerror="this.onerror=null; this.src='image.png'" style="/* margin-left: 1%; */max-width: 50px;max-height: 60px;margin: auto;">  

                                                </div>
                                                <div class="row">
                                                         <input type="text" class="form-control" placeholder="Baş Çevresi(cm)" aria-label="Username" aria-describedby="basic-addon1" style="text-align: center;">
                                                </div>
                                             </div>
                                      </div>
                            </div>
              </div>
    </div>                       
</div>
</div>        
  </div>




        </div>
</div>



</div>
