<%- include('hastaIzlemHeader'); -%>


          <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Medeni Hali<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Evli</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Evlenme Yaşı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">18</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Canlı/Ölü Sayısı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">1/0</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Düşük Sayısı <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">0</b></div>
          </div>
          <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Konjenital Anomali Doğumu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Yok</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Kan Grubu<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">AB+</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Ad Soyad<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Örnek</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Yaş <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">32</b></div>
          </div>
          <div class="row" style="margin-top: 1%;">
                <div class="col-md-3"><div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Aşı Kartı</div></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Kan Uyuşmazlığı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Yok</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Kan Grubu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">B+</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Telefonu  <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">32</b></div>
          </div>
            <div class="container">
                            <div class=" row" style="height: 220px;border-radius: 20px;padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;position: relative;">
                                        <div class="col-md-2">
                        <div class="row">
                             <img src="/public/img/aşıkartı.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto;
                                  margin-right: auto;max-width: 80px;
                                      max-height: 80px;">   
                        </div> 
                        <div class="col-md-12"style="color:blue;text-align: center; margin-top: 4%;">Aşı Kartı</div>
                        <div class="col-md-12"style="color:red;text-align: center; margin-top: 5%;">+Yeni Aşı</div>

                         
             </div>   
             <div class="col-md-2">
                          <div class="rcorners2" style=" height: 15%;border-color: green;
                         border-style: groove;
                         border-width: 6px;height: 166px;">
                                 <div class="row">
                                      <div class="col-md-12 row">
                                              <div class="col-md-6">
                                                      <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                              </div> 
                                              <div class="col-md-6"style="margin:auto;">TD1</div> 
                                      </div> 
                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                        <div class="col-md-12"style="text-align: center; margin-top: 5%;">2017.01.09</div>
                                </div> 

                         
                         
                         
                         </div>

             </div>
             <div class="col-md-2">
                          <div class="rcorners2" style=" height: 15%;border-color: green;
                         border-style: groove;
                         border-width: 6px;height: 166px;">
                                 <div class="row">
                                      <div class="col-md-12 row">
                                              <div class="col-md-6">
                                                      <img src="/public/img/yesiltik.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                              </div> 
                                              <div class="col-md-6"style="margin:auto;">TD2</div> 
                                      </div> 
                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulama Tarihi</div>
                                        <div class="col-md-12"style="text-align: center; margin-top: 5%;">2017.01.09</div>
                                </div> 

                         
                         
                         
                         </div>

             </div>
             <div class="col-md-2">
                          <div class="rcorners2" style=" height: 15%;border-color: red;
                         border-style: groove;
                         border-width: 6px;height: 166px;">
                                 <div class="row">
                                      <div class="col-md-12 row">
                                              <div class="col-md-6">
                                                      <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                              </div> 
                                              <div class="col-md-6"style="margin:auto;">TD3</div> 
                                      </div> 
                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                </div> 

                         
                         
                         
                         </div>

             </div>
             <div class="col-md-2">
                          <div class="rcorners2" style=" height: 15%;border-color: red;
                         border-style: groove;
                         border-width: 6px;height: 166px;">
                                 <div class="row">
                                      <div class="col-md-12 row">
                                              <div class="col-md-6">
                                                      <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                              </div> 
                                              <div class="col-md-6"style="margin:auto;">TD4</div> 
                                      </div> 
                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                </div> 

                         
                         
                         
                         </div>

             </div>
             <div class="col-md-2">
                          <div class="rcorners2" style=" height: 15%;border-color: red;
                         border-style: groove;
                         border-width: 6px;height: 166px;">
                                 <div class="row">
                                      <div class="col-md-12 row">
                                              <div class="col-md-6">
                                                      <img src="/public/img/carpi.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin-left: auto; margin-right: auto;max-width: 30px;max-height: 30px;">   
                                              </div> 
                                              <div class="col-md-6"style="margin:auto;">TD5</div> 
                                      </div> 
                                        <div class="col-md-12"style="text-align: center; margin-top: 4%;">Uygulanmadı</div>
                                </div> 

                         
                         
                         
                         </div>

             </div>
             <div class="row" style="margin-top:5px;margin-left: auto;margin-right: auto;"><p id="gebelikNeden"style="visibility: visible; color: darkred; margin: auto;transition: all ease-in .2s;"><b>Bu Nedenden Gebelikte Risk Var</b></p></div>

                            </div>
           </div>






            <div style="margin-top: 2%;border-radius: 20px;padding: 12px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 320px;">
                       
             </div>


<div class="row"style="text-align: center;margin-top:5px;">
    <div class="col-md-5"></div>
    <div class="col-md-7">
            <button id="digerGebeliklerBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Diğer Gebelikler</button>
            <button id="gebelikSonlandirBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Gebelik Sonlandır</button>
            <button id="btnYeniIzlem" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Yeni İzlem</button>

    </div>



</div>
<form id="YeniIzlemForm" action="/izlemler/Gebeizlem/YeniIzlem" method="post"></form>
<form id="digerGebeliklerForm" action="/izlemler/Gebeizlem/digergebelikler" method="post"></form>
<form id="gebelikSonlandirForm" action="/izlemler/Gebeizlem/gebelikSonlandir" method="post"></form>


<script>
$( "#btnYeniIzlem" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#YeniIzlemForm').submit();
     
});
$( "#digerGebeliklerBtn" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#digerGebeliklerForm').submit();
     
});
$( "#gebelikSonlandirBtn" ).click(function() {
    //var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
    //$('#YeniIzlemForm').append(input);
    $('#gebelikSonlandirForm').submit();
     
});



</script>