<%- include('hastaIzlemHeader'); -%>

      

          <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">TC No<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">12312312312</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">EFT No<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">232</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">İsim<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Örnek</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Soyisim <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Örnek</b></div>
          </div>





             <div class="row"style="margin-top:1%;">
                    <div  class="panel" style="width: 80%;">
                                        <div class="row" style="margin-top: 1%;">
                                                <div class="input-group mb-3 col-md-6">
                                                    <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">Gebelik Sonucu</span>
                                                    </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% GebelikSonucu.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                                                </div>
                                                <div class="input-group mb-3 col-md-6">
                                                     <div class="input-group-prepend">
                                                             <span class="input-group-text " id="inputGroup-sizing-default">Gebelik Sonucu</span>
                                                     </div>
                                                     <input class="form-control" name="sonlanmaTarih" type="text" aria-label="Default" aria-describedby="">
                                                 </div>
                                        </div>
                                         <div class="row" style="margin-top: 1%;">
                                                <div class="input-group mb-3 col-md-6">
                                                    <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">Doğum Yöntemi</span>
                                                    </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% DogumYontemi.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                                                </div>
                                                <div class="input-group mb-3 col-md-6">
                                                     <div class="input-group-prepend">
                                                             <span class="input-group-text " id="inputGroup-sizing-default">Doğan Bebek Toplamı</span>
                                                     </div>
                                                     <input class="form-control" name="sonlanmaTarih" type="number" aria-label="Default" aria-describedby="">
                                                 </div>
                                        </div>
                                        <div class="row" style="margin-top: 1%;">                                               
                                               <div class="input-group mb-3 col-md-6">
                                                    <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">Doğuma Yardım Eden</span>
                                                    </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% DogumaYardimEden.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                                                </div>
                                                <div class="input-group mb-3 col-md-6">
                                                    <div class="input-group-prepend">
                                                       <span class="input-group-text " id="inputGroup-sizing-default">Doğum Gerçekleştiği Yer</span>
                                                    </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% DogumGerceklestigiYer.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                                                </div>
                                        </div>                                     
                                         <div class="row">
                                              <div class="" style="    margin: auto;">
                                                  <div class="custom-control custom-checkbox custom-control-inline">
                                                       <input type="checkbox" class="custom-control-input" id="defaultInline12" value="premature">
                                                        <label class="custom-control-label" for="defaultInline12">Prematüre</label>
                                                  </div>
                                                  <div class="custom-control custom-checkbox custom-control-inline">
                                                       <input type="checkbox" class="custom-control-input" id="defaultInline13" value="anneOldu">
                                                        <label class="custom-control-label" for="defaultInline13">Doğumda Anne Öldü</label>
                                                  </div>
 
                                             </div>
                                             <div class="input-group mb-3 col-md-6">
                                                     <div class="input-group-prepend">
                                                             <span class="input-group-text " id="inputGroup-sizing-default">Canlı-Ölü Bebek Sayısı</span>
                                                     </div>
                                                     <input class="form-control" name="sonlanmaTarih" type="number" aria-label="Default" aria-describedby="">-
                                                    <input class="form-control" name="sonlanmaTarih" type="number" aria-label="Default" aria-describedby="">
                                             </div>
                                        </div>
                    </div>
             </div>
            

<div class="row" style="">
                        
                    <button id="bebekEkleBtn" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">BEBEK EKLE</button>
    </div>
                   
                    
                            <div class="container" id="ilacTable" style="margin-top:2%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row">                               
                                           <div class="col-md-5" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                             <b>TC No</b>
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                             <b>Adı-Soyadı</b>
                                           </div>
                                            <div class="col-md-3" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                             <b>Cinsiyet</b>
                                           </div>
                                     </div>
                                         <% gebelikler.forEach(function(e) { %>
                                    
                                      <div  class="row ilacRow">            
                                           <div class="col-md-5 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"><%=e.TC %></div>  
                                            <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"><%=e.ad %></div>  
                                            <div class="col-md-3 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%=e.cinsiyet %></div>
                                     </div>
                                         <%}); %>
                            </div>
