<div class="row" style="margin-top: 2%;">
          <div class="input-group mb-3 col-md-6">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">İşlem Grubu</span>
                                       </div>
                                                      <select id="islemGrubu"class="browser-default custom-select">
                                                                    <% islemGrubu.forEach(function(element) { %>
                                                                     <option <%=element.KODU=="BeyinGelisimiRiskler"?"selected":"" %>  value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
          </div>
</div>


<div class="row" style="margin-top:2%;">
     <div class="col-md-6">
              <div class="container" id="testlerTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                    <div class="row testlerheaderDiv">
                                                         <div id="islemAdi" class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Beyin Gelişimi için Riskler</div>                                               
                                                    </div>
                                                    
                                                   
               </div>                                                   
     </div>
     <div class="col-md-6">
               <div class="container" id="secilenTestlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                        <div class="row" id="secilenHeader">
                                                                   <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                                                             Seçilenler
                                                                  </div> 
                                                       </div>
               </div>
               <div class="row" style="margin-top: 3%;">
                              <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                              <button id="silBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sil</button>
                              <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                           </div>

     </div>
</div>
