<style>
.image-circle{
    border-radius: 50%;
    height: 120px;
    border: 4px solid #FFF;
    margin: auto;
    margin-top: -67px;
}

</style>


<div class="container" style="margin-top: 26px;">
                      <div class="row">
                             <div class="col-md-3" style="background-color: white;border-radius: 15px;color: #325179;font-family: Avenir Next;text-align: center;-webkit-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);-moz-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                                            <div style="color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 4%;text-align:center;"><b> <%=hasta.Ad.toUpperCase()+" "+hasta.Soyad.toUpperCase() %></b></div>
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:center;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"><%=hasta.age%></div>
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:left;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"> <%=hasta.Cinsiyet==1?"Erkek":"Kadın" %>  </div>
                             </div>
                    </div>
                    <div class="row" style="border-radius: 15px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;border-top-left-radius: 0px;">
                         
                                      <div class="col-md-10">
                                               <div class="row">
                                                         <div class="col-md-2" style="padding: 14px;margin-bottom: auto;margin-top: auto;">
                                                                   <div class="row"> <img src="/public/img/noSmoke.svg" style="width: 40px;"><div style="margin: auto;color: #325179;">Kullanmıyor</div></div>
                                                         </div>
                                                         <div class="col-md-2" style="padding: 14px;margin-bottom: auto;margin-top: auto;">
                                                                   <div class="row"> <img src="/public/img/noAlkol.svg" style="width: 40px;"><div style="margin: auto;color: #325179;">Kullanmıyor</div></div>

                                                         </div>
                                                         <div class="col-md-2" style="padding: 14px;margin-bottom: auto;margin-top: auto;">
                                                                   <div class="row"> <img src="/public/img/noDrug.svg" style="width: 40px;"><div style="margin: auto;color: #325179;">Kullanmıyor</div></div>

                                                         </div>
                                                         <div class="col-md-2" style="padding: 14px;background-color: #e6f5fb;">
                                                                   <div class="row"> <img src="/public/img/adres.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Adres</div></div>
                                                         </div>
                                                          <div class="col-md-2" style="padding: 14px;background-color: #d3ecf4;">
                                                                   <div class="row"> <img src="/public/img/aileGrupları.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Aile Grupları</div></div>
                                                         </div>
                                                          <div class="col-md-2" style="padding: 14px;background-color: #c5dfec;">
                                                                   <div class="row"> <img src="/public/img/hastaGrupları.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Hasta Grupları</div></div>
                                                         </div>

                                               </div>
                                      </div>
                                      <div class="col-md-2">

                                                   <div class="row"> <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" style=""></div>
                                                    <div class="row" style="margin: auto;"> <div style="margin: auto;color: #325179;">Daha Fazla<img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     </div>                                 
                                      </div>
                          
                    </div>
  </div>












<!-- Modal -->
<div class="modal fade" id="dahaFazla" role="dialog">
<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
    <h4 class="">EMRE EREL</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <div class="row"> <div class="row col-md-6"><div class="col-md-6">Hasta Türü</div>   <div class="col-md-6"><b>Kesin Kayıtlı</b></div></div><div class="row col-md-6">   </div>     </div>
    <div class="row"> <div class="row col-md-6"><div class="col-md-6">Anne Adı</div>   <div class="col-md-6"><b>Sevinç</b></div></div><div class="row col-md-6"> <div class="col-md-6">Baba Adı</div>   <div class="col-md-6"><b>Burak</b></div>       </div></div>
    <div class="row"> <div class="row col-md-6"><div class="col-md-6">Doğum tarihi</div>   <div class="col-md-6"><b>2018-09-07</b></div></div><div class="row col-md-6"> <div class="col-md-6">Doğum Tarihi(Beyan) </div>   <div class="col-md-6"><b>2018-09-07</b></div>       </div></div>
    <div class="row"> <div class="row col-md-6"><div class="col-md-6">Doğum Yeri</div>   <div class="col-md-6"><b>İzmir</b></div></div><div class="row col-md-6"> <div class="col-md-6">Uyruk </div>   <div class="col-md-6"><b>   </b></div>       </div></div>
    <div class="row"> <div class="row col-md-6"><div class="col-md-6">Medeni Hali </div>   <div class="col-md-6"><b>Bekar</b></div></div><div class="row col-md-6"> <div class="col-md-6">    </div>   <div class="col-md-6"><b>    </b></div>       </div></div>





    </div>
    <div class="modal-footer">
      <button type="button" class="bg-success" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>
</div>