
<%- include('hastaProfiliUst'); -%>



 <div class="container" style="margin-top:1%">
       <div class="row" style="margin-top: 1%;">
                  <div class="col-md-6" style="">
                         <div class="row">
                                                <div class="" data-toggle="modal" data-target="#KronikHastaliklarModal" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;width: 22%;">
                                                                   <div class="row"> <img src="/public/img/kronik.svg" style="margin: auto;height: 50px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Kronik Hastalıklar</div></div>
                                                </div>
                                                <div class="" data-toggle="modal" data-target="#ameliyatModal" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;width: 22%;margin: auto;">
                                                                   <div class="row"> <img src="/public/img/ameliyat.svg" style="margin: auto;height: 50px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ameliyat ve Yaralanmalar</div></div>
                                                </div>
                                                <div class=""data-toggle="modal" data-target="#ilaclarModal" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;width: 22%;margin: auto;">
                                                                   <div class="row"> <img src="/public/img/surekliKullanilanIlaclar.svg" style="margin: auto;height: 50px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Sürekli Kullanılan İlaçlar</div></div>
                                                </div>
                                                <div class="" data-toggle="modal" data-target="#alerjiModal"style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;width: 22%;margin: auto;">
                                                                   <div class="row"> <img src="/public/img/alerji.svg" style="margin: auto;height: 50px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Alerji Durumu</div></div>
                                                </div>

                          </div>
                  </div> 
                   <div class="col-md-6">
                         <div class="row">
                                     <div id="ilacAdıKullanım" class="" style="min-width: 80px;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;text-align: center;">Muayeneler</div>                            
                         </div>
                         <div class="row">
                                 <div data-toggle="modal" data-target="#MuayenelerModal" style="border-radius: 20px; padding: 14px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 113px;">

                                    <div class="row">
                                     <div class="col-md-6"> 
                                            <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><b>Son Muayene Tarihi:</b></div></div>
                                            <div class="row"> <div style="color: #325179;margin: auto;text-align: center;">2018-06-21</div></div>
                                           
                                     </div>
                                     <div class="col-md-6">
                                            <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><b>Kontrole Gelecek</b></div></div>
                                            <div class="row"> <div style="color: #325179;margin: auto;text-align: center;">2018-12-15</div></div>
                                     </div>                                                                                                                  
                                    </div> 
                                                                              
                                       



                            
                                  </div>
                         </div>
                   </div>
                                        
       </div>
       <div class="row" style="margin-top: 1%;">
                  <div class="col-md-6">
                         <div class="row">
                                     <div id="ilacAdıKullanım" class="" style="min-width: 80px;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;text-align: center;">İzlemler</div>                            
                         </div>
                         <div class="row">
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;height: 155px;">

                                           <div class="row" style="margin-top: 2%;">
                                                    
                                       
                                           </div>    
                                                                              
                        
                                  </div>
                         </div>
                   </div>
                   <div class="col-md-6">
                         <div class="row">
                                     <div id="ilacAdıKullanım" class="" style="min-width: 80px;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;text-align: center;">Aşılar</div>                            
                         </div>
                         <div class="row">
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 155px;">

                                  <div class="row">
                                     <div class="col-md-7"> 
                                            <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><b>SON AŞI İSMİ:</b></div></div>
                                            <div class="row"> <div style="color: #325179;margin: auto;text-align: center;">null</div></div>
                                            <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><b>SON AŞI TARİHİ:</b></div></div>
                                            <div class="row"> <div style="color: #325179;margin: auto;"> 2019-11-12</div></div>
                                     </div>
                                     <div class="col-md-5">
                                         <div data-toggle="modal" data-target="#YeniAsiModal" style="border-style: solid;border-radius: 22px;padding-bottom: 15px;padding-top: 10px;border-color: red;">
                                            <div class="row" style="margin-top:1%;"> <div style="color:red;margin: auto;font-size: small;"><b>+YENİ AŞI</b></div></div>
                                            <div class="row" style="margin-top:5%;"><img src="/public/img/homeAsilar.svg" class="" style="height: 64px;margin:auto;"> </div>
                                         </div>
                                     </div>                                                                                                                  
                                  </div>                             
                               </div>
                         </div>
                   </div>
      </div>  
</div>

       <div class="row" style="margin-top: 1%;">
                                    <div class="col-md-3" style="">
                                                <div id="kısaAnamnezCorner" class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;">
                                                                   <div class="row"> <img src="/public/img/kısaanamnez.svg" style="margin: auto;height: 80px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Kısa Anamnez</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-3" style="">
                                                <div id="detaylıCorner" class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;">
                                                                   <div class="row"> <img src="/public/img/detayliAnamnez.svg" style="margin: auto;height: 80px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Detaylı Anamnez</div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-3" style="">
                                                <div id="raporCorner"class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;">
                                                                   <div class="row"> <img src="/public/img/rapor.svg" style="margin: auto;height: 80px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Rapor  </div></div>
                                                </div>
                                    </div>
                                    <div class="col-md-3" style="">
                                                <div id="istemCorner" class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;">
                                                                   <div class="row"> <img src="/public/img/istemSonuc.svg" style="margin: auto;height: 80px;"></div>
                                                                   <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">İstem & Sonuç</div></div>
                                                </div>
                                    </div>

      </div>                         


  <form id="kısaAnamnezForm" method="post" action="/hasta/kisaAnamnez"> </form>
                            <form id="raporForm" method="get" action="/hasta/rapor"> </form>
                            <form id="istemForm" method="get" action="/hasta/istem"> </form>
                            <form id="detayliForm" method="get" action="/hasta/detayli-muayene-1"> </form>

<!-- Modal -->
<div class="modal" id="sevketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Sevk Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
   
    <div class="container" style="margin-top: 3%;">
         <div class="row" style="margin-top: 2%;">
                    
          </div>
          <div class="row" style="margin-top: 2%;">
                     
          </div>
         <div class="row" style="margin-top: 2%;">
                              
          </div>
          <div class="row" style="margin-top: 2%;">
                     
          </div>
          <div class="row" style="margin-top: 2%;">
                          
          </div>
       



          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edileceği İlçe</div>
                        <div class="col-md-6" style="">     
                                  <select id="ilceler"class="browser-default custom-select">
                                  </select>

                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Açıklama</div>
                        <div class="col-md-6" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>

                        </div>        
          </div>


    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="temizleSevketModal" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
  </div>
  
</div>
</div>
</div>


<!-- Modal -->
<div class="modal" id="MuayenelerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
      <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
         <div style="color: white;    font-size: x-large;">Muayeneler</div> 
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
           <div class="container" style="margin-top: 3%;"> 
                   
                  <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                              <div class="container" id="" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">

                                <div class="row" id="">
                                             <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;font-weight: bold;color: #325179;">
                                             PR Sıra No
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                            Geliş Tarihi
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;font-weight: bold;color: #325179;">
                                             Durumu
                                           </div>
                                 </div>
                              </div>         
                              <div class="container" id="MuayeneTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height:300px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                     
                                     
                              </div>  
                  </div>
                 
          </div>
     </div>
       <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kapat</button>
      </div>
  </div>
  </div>
  </div>
  


<!-- Modal -->
<div class="modal" id="KronikHastaliklarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Kronik Hastalıklar</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
         <div class="container" style="margin-top: 3%;"> 
                 
                <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                                            <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Hastanın Kronik Hastalıkları </div>                                               
                                                        </div>
        
                                              </div>
                                                <div class="container" id="secilenKronikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                        <% hastanınKronikHastalıkları.forEach(function(element) { %>
                                                                  <div  class="row secilenKronikTable ">
                                                                         <div class="col-md-3 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-width: thin;"><%= element.ICD %></div>
                                                                         <div class="col-md-9 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;"><%= element.Tani_Adi %></div> 
                                                                  </div>
                                                         <%}); %>

                                                 </div>
                </div>
                <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
      
                    <div class=" form-group has-search" style="width: 100%;" >
                             <span class="fa fa-search form-control-feedback"></span>
                             <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:1.5rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                    </div>                            
       
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Yeni Kronik Hastalık Ekle</div>                                               
                                                        </div>                                                      
                                              </div>
                                               <div class="container headerDiv" id="KronikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% kronikHastalıklar.forEach(function(element) { %>
                                                    <div class="row kronikRow">
                                                            <div class="col-md-3 cbxKronik" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                     <% color="red";%>  
                                                                      <%hastanınKronikHastalıkları.forEach(function(hk) {
                                                                              if(hk.ICD.trim()==element.KODU.trim()){color="green" ;}                                                                
                                                                     });%>
                                                                      <div class="" style="background-color:<%= color %>;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-3 kodKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.KODU %></div> 
                                                             <div class="col-md-6 isimKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                                </div>  
                </div>
        </div>
   </div>
     <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="kronikKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal" id="ilaclarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
      <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
         <div style="color: white;    font-size: x-large;">Sık Kullandığı İlaçlar</div> 
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
           <div class="container" style="margin-top: 3%;"> 
                   
                  <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                          <div class="row ">
                                                            <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Hastanın Kullandığı İlaçlar</div>                                               
                                                          </div>
          
                                                </div>
                                                  <div class="container" id="secilenilacTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                          <% hasta_ilacları.forEach(function(element) { %>
                                                                    <div  class="row secilenilacTable ">
                                                                           <div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;"><%= element %></div> 
                                                                    </div>
                                                           <%}); %>
  
                                                   </div>
                  </div>
                  <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
        
                      <div class=" form-group has-search" style="width: 100%;" >
                               <span class="fa fa-search form-control-feedback"></span>
                               <input id="ilacAra" class="form-control"  type="text" placeholder="İlaç Ara" aria-label="Default" aria-describedby="" style="font-size:1.5rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                      </div>                            
         
                                                <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                          <div class="row ">
                                                            <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Yeni Kronik Hastalık Ekle</div>                                               
                                                          </div>                                                      
                                                </div>
                                                 <div class="container headerDivilac" id="ilacTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                 
                                                        <% ilaclar.forEach(function(element) { %>
                                                      <div class="row ilacRow">
                                                              <div class="col-md-3 cbxilac" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                       <% color="red";%>  
                                                                        <%hasta_ilacları.forEach(function(hk) {
                                                                                if(hk.trim()==element.ADI.trim()){color="green" ;}                                                                
                                                                       });%>
                                                                        <div class="" style="background-color:<%= color %>;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.ADI %>"></div>
                                                              </div> 
                                                               <div class="col-md-9 isimilac" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                      </div>
                                                      <%}); %>
                                                  </div>  
                  </div>
          </div>
     </div>
       <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                <button id="ilacKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
      </div>
  </div>
  </div>
  </div>

<!-- Modal -->
<div class="modal" id="ameliyatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" style="background-color:#f1f3f3;">
        <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
           <div style="color: white;    font-size: x-large;">Ameliyat ve Yaralanmalar</div> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
             <div class="container" style="margin-top: 3%;"> 
                     
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                                                <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                            <div class="row ">
                                                              <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Hastanın Geçirdiği Ameliyat ve Yaralanmalar</div>                                               
                                                            </div>
            
                                                  </div>
                                                    <div class="container" id="secilenameliyatTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                            <% hasta_ameliyat.forEach(function(element) { %>
                                                                      <div  class="row secilenameliyatTable ">
                                                                             <div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;"><%= element %></div> 
                                                                      </div>
                                                             <%}); %>
    
                                                     </div>
                    </div>
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">                        
                        <div class="input-group mb-3">
                            <input id='yeniAmel' class="form-control" name="yeniAmel" type="text" aria-label="Default" aria-describedby="">
                            <div class="input-group-prepend">
                                <button id="amelEkleBtn"type="button" class="btn btn-primary" >Ekle</button>
                            </div>
                         </div>                                                      
                    </div>
            </div>
       </div>
         <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                  <button id="amelKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
        </div>
    </div>
    </div>
    </div>
    
<!-- Modal -->
<div class="modal" id="alerjiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" style="background-color:#f1f3f3;">
        <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
           <div style="color: white;    font-size: x-large;">Alerjiler</div> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
             <div class="container" style="margin-top: 3%;"> 
                     
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">
                                                <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                            <div class="row ">
                                                              <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Hastanın Alerjileri</div>                                               
                                                            </div>
            
                                                  </div>
                                                    <div class="container" id="secilenalerjiTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 150px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                            <% hasta_alerji.forEach(function(element) { %>
                                                                      <div  class="row secilenalerjiTable ">
                                                                             <div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;"><%= element %></div> 
                                                                      </div>
                                                             <%}); %>
    
                                                     </div>
                    </div>
                    <div class="row" style="margin-top: 2%;margin-bottom: 2%;">                        
                        <div class="input-group mb-3">
                            <input id='yeniAlerji' class="form-control"  type="text" aria-label="Default" aria-describedby="">
                            <div class="input-group-prepend">
                                <button id="alerjiEkleBtn"type="button" class="btn btn-primary" >Ekle</button>
                            </div>
                         </div>                                                      
                    </div>
            </div>
       </div>
         <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                  <button id="alerjiKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
        </div>
    </div>
    </div>
    </div>
<!-- Modal -->
<div class="modal" id="YeniAsiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content" style="background-color:#f1f3f3;">
      <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
         <div style="color: white;    font-size: x-large;">Aşı Ekle</div> 
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
           <div class="container" style="margin-top: 3%;"> 
            <form id="hastayaAsiEkleForm" method="post" action="/hasta/asiKaydet"> 
             <div class="row" style="">    
                  <div class="input-group mb-3 col-md-12">
                     <div class="input-group-prepend">
                          <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                     </div>
                      <select name="asiAdi"class="browser-default custom-select" required>
                         <% asilar.forEach(function(element) { %>
                           <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                          <%}); %>
                      </select>
                  </div>
             </div>
             <div class="row">
                <div class="input-group mb-3 col-md-12">
                   <div class="input-group-prepend">
                        <span class="input-group-text " id="inputGroup-sizing-default">Lot/Pari No</span>
                   </div>
                  <input class="form-control" name="lotNo" type="text" aria-label="Default" aria-describedby="">
                </div>                 
             </div>
             <div class="row" style="margin-top:1%;">
              <div class="col-md-6">
                  <div class="input-group mb-3"style="margin-top:1%;">
                      <div class="input-group-prepend">
                           <span class="input-group-text " id="inputGroup-sizing-default">Uygulama Şekli</span>
                      </div>
                      <select name="uygulamaSekli"class="browser-default custom-select" required>
                            <% asiuygulamasekli.forEach(function(element) { %>
                             <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                         <%}); %>
                      </select>
                  </div>
              </div>
             <div class="col-md-6">
                     <div class="input-group mb-3"style="margin-top:1%;">
                         <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Aşı Kaynak</span>
                         </div>
                         <select name="asiKaynak" class="browser-default custom-select"required>
                                   <% asikaynak.forEach(function(element) { %>
                                  <tr>
                                  <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                         <%}); %>
                         </select>
                     </div>
              </div>
             </div>   
             <div class="row">
              <div class="input-group mb-3 col-md-12">
                 <div class="input-group-prepend">
                      <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                 </div>
                <input class="form-control" name="yeniAsiAciklama" type="text" aria-label="Default" aria-describedby="">
              </div>                 
             </div>
             <div class="row">
              <div class="input-group mb-3 col-md-12">
                 <div class="input-group-prepend">
                      <span class="input-group-text " id="inputGroup-sizing-default">Karekod</span>
                 </div>
                <input class="form-control" name="karekod" type="text" aria-label="Default" aria-describedby="">
              </div>                 
             </div>
             <div class="row" style="margin-top:1%;">
              <div class="col-md-6">
                  <div class="input-group mb-3"style="margin-top:1%;">
                      <div class="input-group-prepend">
                           <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                      </div>
                      <select name="asiDoz"class="browser-default custom-select" required>
                            <% asidoz.forEach(function(element) { %>
                             <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                         <%}); %>
                      </select>
                  </div>
              </div>
              <div class="col-md-6">
                 <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" name="stokDusur" id="stokDusur" value="1">
                    <label class="custom-control-label" for="stokDusur">Stoktan Düşür</label>
                 </div>
              </div>
             </div>   
             <div class="row" style="margin-top:1%;">
              <div class="col-md-6">
                 <div class="input-group mb-3">
                   <div class="input-group-prepend">
                       <span class="input-group-text " id="inputGroup-sizing-default">Seri No</span>
                   </div>
                   <input class="form-control" name="seriNo" type="text" aria-label="Default" aria-describedby="">
                 </div> 
              </div>
              <div class="col-md-6">
                 <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" name="bolgedisi" id="bolgedisi" value="1">
                    <label class="custom-control-label" for="bolgedisi">Bölge Dışında Yapıldı</label>
                 </div>
              </div>
             </div>   
             <div class="row" style="margin-top:1%;">
              <div class="col-md-6">
                 <div class="input-group mb-3">
                   <div class="input-group-prepend">
                       <span class="input-group-text " id="inputGroup-sizing-default">Son Kullanma Tarihi</span>
                   </div>
                   <input class="form-control" name="STTasi" type="date" aria-label="Default" aria-describedby="">
                 </div> 
              </div>
              <div class="col-md-6">
                 <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" name="ozhekimAsisi" id="ozhekimAsisi" value="1">
                    <label class="custom-control-label" for="ozhekimAsisi">Özel Hekim Aşısı</label>
                 </div>
              </div>
             </div>   
            </form>
          </div>
     </div>
       <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                <button id="AsiKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
      </div>
  </div>
  </div>
  </div>

  
<script>


var secilenameller=[];
     <%hasta_ameliyat.forEach(function(hk) {%>
            
        secilenameller.push({ADI:'<%= hk %>'});    
  <%});%>

$( "#amelEkleBtn" ).click(function() {
  yeniAmel=$( "#yeniAmel" ).val();
  secilenameller.push({ADI:yeniAmel});
       var html= '<div  class="row secilenameliyatTable ">';
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+yeniAmel+'</div> </div>';
      
       $("#secilenameliyatTable").append(html);
});
$( "#amelKaydetBtn" ).click(function() {
       $.ajax({
        url: '/hasta/hastaameliyat',
        method: 'get',
        data: { secilenameller: secilenameller}
        }).done(function(res) {
              alert("Değişiklikler Kaydedildi..");
      });

});


var secilenalerjiler=[];
     <%hasta_alerji.forEach(function(hk) {%>
            
      secilenalerjiler.push({ADI:'<%= hk %>'});    
  <%});%>

$( "#alerjiEkleBtn" ).click(function() {
  yeniAmel=$( "#yeniAlerji" ).val();
  secilenalerjiler.push({ADI:yeniAmel});
       var html= '<div  class="row secilenalerjiTable ">';
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+yeniAmel+'</div> </div>';
      
       $("#secilenalerjiTable").append(html);
});
$( "#alerjiKaydetBtn" ).click(function() {
       $.ajax({
        url: '/hasta/hastaalerji',
        method: 'get',
        data: { secilenalerjiler: secilenalerjiler}
        }).done(function(res) {
              alert("Değişiklikler Kaydedildi..");
      });

});





 $("#ilacAra").on("keyup", function () {
            var value = $(this).val().toLowerCase();
                $( ".ilacRow" ).remove();
                $.get( "/ilacFilter", { value:value} )
                    .done(function( ilaclar ) {   
                                $.each(ilaclar, function (index, value) {

                                    color="red"
                                    var found_names = $.grep(secilenilaclar, function(v) {
                                        return v.ADI === value.ADI;
                                    });
                                    if (found_names.length==1){color="green"}
                                  var html= '<div class="row ilacRow">';
                                  html+= ' <div class="col-md-3 cbxilac" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;"><div class="" style="background-color:<%= color %>;height: 25px;width: 25px;margin-left: 46%;"></div></div>'; 
                                  html+= '<div class="col-md-9 isimilac" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
                                                                                     
                                  $( ".headerDivilac" ).append(html);         
                                });  
                });
});


var secilenilaclar=[];
     <%hasta_ilacları.forEach(function(hk) {%>
            
        secilenilaclar.push({ADI:'<%= hk %>'});    
  <%});%>


$(document).on('click', ".ilacRow", function(){
    //Your code
    if($(this).children(".cbxilac").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxilac").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var ADI= $(this).children(".isimilac").html();

       var html= '<div  class="row secilenilacTable ">';
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
      
        $("#secilenilacTable").append(html);
        var t={ADI:ADI};
        secilenilaclar.push(t);
    }
    else{
        $(this).children(".cbxilac").children().css('background-color','red')
        var ADI= $(this).children(".isimilac").html();
        var str=":contains("+ADI+")" ;
        $(".secilenilacTable").remove(str);
        secilenilaclar.forEach(element => {
            if(element.ADI==ADI){
              secilenilaclar = jQuery.grep(secilenilaclar, function(value) {
                    return value != element;
                  });

            }
        });

    }

});

$( "#ilacKaydetBtn" ).click(function() {
       $.ajax({
        url: '/hasta/hastailac',
        method: 'get',
        data: { secilenilaclar: secilenilaclar}
        }).done(function(res) {
              alert("Değişiklikler Kaydedildi..");
      });

});


  $( "#AsiKaydetBtn" ).click(function() {
    $( "#hastayaAsiEkleForm" ).submit();

  });
  $("#taniAra").on("keyup", function () {
            var value = $(this).val().toLowerCase();
                $( ".kronikRow" ).remove();
                $.get( "/kronikFilter", { value:value} )
                    .done(function( tanılar ) {      
                                $.each(tanılar, function (index, value) {
                                    color="red"
                                    var found_names = $.grep(secilenKronikler, function(v) {
                                        return v.KODU === value.KODU;
                                    });
                                    if (found_names.length==1){color="green"}
                                  var html= '<div class="row kronikRow">';
                                  html+= ' <div class="col-md-3 cbxKronik" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                                  html+= ' <div class="" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'"></div></div> ';  
                                  html+= '<div class="col-md-3 kodKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.KODU+'</div>  ';
                                  html+= '<div class="col-md-6 isimKronik" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
                                                                                     
                                  $( ".headerDiv" ).append(html);         
                                });  
                });
});
var secilenKronikler=[];
     <%hastanınKronikHastalıkları.forEach(function(hk) {%>
            
            secilenKronikler.push({KODU:'<%= hk.ICD %>',ADI:'<%= hk.Tani_Adi %>'});    
  <%});%>


$(document).on('click', ".kronikRow", function(){
    //Your code

    if($(this).children(".cbxKronik").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxKronik").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxKronik").children().attr("name");
        var ADI= $(this).children(".isimKronik").html();

       var html= '<div  class="row secilenKronikTable ">';
       html+= '<div class="col-md-3 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-width: thin;">'+ KODU+'</div>'; 
       html+= '<div class="col-md-9 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
      
        $("#secilenKronikTable").append(html);
        var t={KODU:KODU,ADI:ADI};
        secilenKronikler.push(t);
    }
    else{
        $(this).children(".cbxKronik").children().css('background-color','red')
        var KODU= $(this).children(".cbxKronik").children().attr("name");
        var str=":contains("+KODU+")" ;
        $(".secilenKronikTable").remove(str);
        secilenKronikler.forEach(element => {
            if(element.KODU==KODU){
                secilenKronikler = jQuery.grep(secilenKronikler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$( "#kronikKaydetBtn" ).click(function() {
       $.ajax({
        url: '/hasta/hastaKronik',
        method: 'get',
        data: { secilenKronikler: secilenKronikler}
        }).done(function(res) {
              alert("Değişiklikler Kaydedildi..");
      });

});

</script>



          <script src="/public/js/hastaProfili.js"></script>

