
<style>
.image-circle{
    border-radius: 50%;
  
    border: 4px solid #FFF;
    margin: 10px;
}

</style>
<div class="container">

<div class="row">
        <div class="col-md-11" style="background-color: white;height: 65px;margin: auto;border-radius: 22px;box-shadow: 6px 7px 6px grey;width: 97%;">

                    <div class="row">
                             <div class="col-md-3">
                                            <div style="color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;text-align:center;"><b> <%=hasta.Ad.toUpperCase()+" "+hasta.Soyad.toUpperCase() %> </b></div>
                     
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:center;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"> <%=hasta.age%> </div>
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:center;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"> <%=hasta.Cinsiyet==1?"Erkek":"Kadın" %> </div>

                             </div>
                     </div>
        </div>  
        <div class="col-md-1">         
            <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" style="
    margin-left: -50%;
">                     
        </div>
  </div>     
             </div>     
            