<%- include('hastaHeader'); -%>

<div class="container">


    <div class="row">
            <div class="col-md-6">
                <div class="row">
                             <div class="" style="background-color: white;border-radius: 15px;color: #325179;font-family: Avenir Next;text-align: center;-webkit-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);-moz-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                                            <div style="color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 4%;text-align:center;padding-left: 15px;padding-right: 15px;padding-bottom: 8px;"><b> Hastalık Hikayesi Bulunan Akraba Bilgileri </b></div>
                             </div>
                </div>
                 <div class="row" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-top-left-radius: 0px;height: 600px;width:99%;overflow: auto;padding-bottom: 15px;">
                                <div class="container akrabaRow" style="background-color: #E6F5FB;text-align: center;height: 240px;border-radius: 20px;width: 96%;    margin-top: 5%;">
                                                                <div class="hastaliklar" style="display: none;">Hıçkırık?Göz İltihabı</div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-5" style="">
                                                                               <div class="row" style="margin-top:2%;">   
                                                                                         <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="" style="    margin: auto;height: 160px;">
                                                                               </div>
                                                                                <div class="row" style="margin-top:5%;">   
                                                                                                <div style="margin: auto;color: #325179;font-size: 18px;"><b>TC NO:</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">12312312312</div>                                                                                   
                                                                                </div>
                                                                      
                                                                        </div>
                                                                        <div class="col-md-7" style="">
                                                                                 <div class="row" style="margin-top:3%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>İSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Metin</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>SOYİSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">GÖÜNLDAŞ</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>YAŞ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">21</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>AKRABALIK DERECESİ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Kuzen</div>                                                                                   
                                                                                </div>
                                                                        </div>                                                                   
                                                                </div>                             
                                </div>
                                <div class="container akrabaRow" style="background-color: #E6F5FB;text-align: center;height: 240px;border-radius: 20px;width: 96%;    margin-top: 5%;">
                                                                <div class="hastaliklar" style="display: none;">Kemik Erimesi?Kalp Romatizması?Romatizma</div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-5" style="">
                                                                               <div class="row" style="margin-top:2%;">   
                                                                                         <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="" style="    margin: auto;height: 160px;">
                                                                               </div>
                                                                                <div class="row" style="margin-top:5%;">   
                                                                                                <div style="margin: auto;color: #325179;font-size: 18px;"><b>TC NO:</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">12312312312</div>                                                                                   
                                                                                </div>
                                                                      
                                                                        </div>
                                                                        <div class="col-md-7" style="">
                                                                                 <div class="row" style="margin-top:3%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>İSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Furkan</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>SOYİSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">EREL</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>YAŞ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">20</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>AKRABALIK DERECESİ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Kardeş</div>                                                                                   
                                                                                </div>
                                                                        </div>                                                                   
                                                                </div>                             
                                </div>
                                <div class="container akrabaRow" style="background-color: #E6F5FB;text-align: center;height: 240px;border-radius: 20px;width: 96%;    margin-top: 5%;">
                                                                <div class="hastaliklar" style="display: none;">Çarpıntı?Göz İltihabı</div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-5" style="">
                                                                               <div class="row" style="margin-top:2%;">   
                                                                                         <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="" style="    margin: auto;height: 160px;">
                                                                               </div>
                                                                                <div class="row" style="margin-top:5%;">   
                                                                                                <div style="margin: auto;color: #325179;font-size: 18px;"><b>TC NO:</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">12312312312</div>                                                                                   
                                                                                </div>
                                                                      
                                                                        </div>
                                                                        <div class="col-md-7" style="">
                                                                                 <div class="row" style="margin-top:3%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>İSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Asena</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>SOYİSİM</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Teymuyrü</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>YAŞ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">30</div>                                                                                   
                                                                                </div>
                                                                                 <div class="row" style="margin-top:5%;">   
                                                                                                <div style="color: #325179;font-size: 18px;"><b>AKRABALIK DERECESİ</b></div> <div style="margin: auto;color: #325179;font-size: 18px;">Jobmate</div>                                                                                   
                                                                                </div>
                                                                        </div>                                                                   
                                                                </div>                             
                                </div>
                          
                 </div>


            </div>  


             <div class="col-md-6">
                <div class="row">
                             <div class="" style="background-color: white;border-radius: 15px;color: #325179;font-family: Avenir Next;text-align: center;-webkit-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);-moz-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                                            <div style="color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 4%;text-align:center;padding-left: 15px;padding-right: 15px;padding-bottom: 8px;"><b> Akrabaya Girilmiş Hastalık Bilgileri</b></div>
                             </div>
                </div>
                 <div class="row" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-top-left-radius: 0px;height: 600px;width:99%;">
                           <div class="col-md-12 secilenAkraba"style="margin-top: 2%;">

                           </div>
                 </div>
            </div>  
    </div>
</div>


<div class="row" style="margin: auto;margin-top: 3%;"> 
        <div id="önceki"style="margin: auto;color: #325179;font-size: 20px;"><img src="/public/img/önceki.svg" class="" style="width: 10px;margin-right: 5px;"><b>Önceki</b></div>     
        <div id="sonraki"style="margin: auto;color: #325179;font-size: 20px;"><b>Sonraki</b><img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     
</div>

<form id="detayliForm4" action="/hasta/detayli-muayene-5" method="post"></form>
<form id="öncekiSayfaForm" action="/hasta/detayli-muayene-3" method="post"></form>


<script>

var row;
 $( ".akrabaRow" ).click(function() {
    var hastalıklarStr=$(this).children(".hastaliklar").html();
    var hastalıklar=hastalıklarStr.split("?");

    $(".secilenAkraba").empty();
    hastalıklar.forEach(element => {
      
         row= '<div class="row" style="margin-top: 4%;border-bottom-style: solid;"><div style="color: #325179;font-size: 18px;margin: auto;">'+element+'</div></div>';
        $( ".secilenAkraba" ).append(row);

    });
 });

    $( "#sonraki").click(function() {
        $('#detayliForm4').submit();
    });
   $( "#önceki").click(function() {
        $('#öncekiSayfaForm').submit();
    });


</script>



