<%- include('hastaHeader'); -%>

<div class="container" style="margin-top:1%;">
            <div class="row" style="margin-top:1%;">
                       <div class="col-md-6" style="">
                                              <div class="row" style="margin-top:1%;">
      
                                                            <div class=" form-group has-search" style="width: 100%;" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                                                            </div>                            
                                              </div>

                                              <div class="row" style="margin-top:1%;">
      
                                                       <div id="onTanı" class="col-md-3 selected tanıTür" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">Ön Tanı</div>
                                                       <div id="anaTanı" class="col-md-3 tanıTür" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Ana Tanı</div>
                                                       <div id="ekTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;padding: 18px;text-align: center;">Ek Tanı</div>
                                                       <div id="ayırıcıTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Ayırıcı Tanı</div>
                                              </div>
                                              <div class="row" style="margin-top:3%;">
                                               <div class="container" id="taniTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                    <div class="row headerDiv">
                                                         <div class="col-md-1" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"></div> 
                                                         <div class="col-md-5" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">ICD Kodu</div>  
                                                         <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">İsim</div>
                                                    </div>
                                                    <% ICDLER.forEach(function(ICD) { %>
                                    
                                                    <div class="row taniRow">
                                                             <div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                  <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                                             </div> 
                                                             <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                                             <div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                                    </div>
                                                    <%}); %>
                                              </div>  
                                               </div>   
                                               <div class="row" style="margin-top:3%;">
                                                <div class="container" id="secilenTanilarTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                        <div class="row" id="secilenHeader">
                                             <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;">
                                              ICD Kodu
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                            Tanı Türü
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                                                </div>
                                               </div>
                       </div> 
                       <div class="col-md-6" style="">
                                    <div class="row" style="margin-top: 25px;width: 92%;margin-left: auto;margin-right: auto;">
                                              <div class="col-md-3" style="">Rapor :</div>
                                              <div class="col-md-9" style="">     
                                                     <input id="raporAra" class="form-control"  type="text"  style="">
                                              </div>        
                                     </div>
                                      <div class="row" style="margin-top:5%;">
                                               <div class="container" id="taniTable"style="width: 92%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                    <div class="row headerDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Testler</div> 
                                                        
                                                    </div>
                                                    <% ICDLER.forEach(function(ICD) { %>
                                    
                                                    <div class="row taniRow">
                                                             <div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                  <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                                             </div> 
                                                             <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                                             <div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                                    </div>
                                                    <%}); %>
                                              </div>  
                                               </div>   
                                               <div class="row" style="margin-top:3%;">
                                                <div class="container" id="secilenTanilarTable" style="width: 92%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                        <div class="row" id="secilenHeader">
                                             <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;">
                                             İstemler
                                           </div> 
                                     </div>
                                                </div>
                                               </div>
                       </div> 
                       

            </div>
            <div class="row" style="margin-top:1%;">
        <div class="col-md-6">
                    <div class="row">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" style="height: 120px;" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
         </div>    
         <div class="col-md-6" style="height:30px;">
               
                       <div class="row" style="margin-top:68px;">
                              <button type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 18%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Sevket</button>
                              <button id="mynBitirBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Muayeneyi Bitir</button>
                         </div>               
         </div>  
                               
</div>


</div>




<script src="/public/js/rapor.js"></script>
