


<%- include('hastaHeader'); -%>





 <form id="kisaAnamnezForm">


<div class="container" style="margin-top:1%;">


<div class="row" style="margin-top:1%;">
      
                                                            <div class="col-md-12 form-group has-search" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                                                            </div>                            
</div>
<div class="container" style="margin-top:1%;">

<div class="row" style="margin-top:1%;">
      
                             <div id="onTanı" class="col-md-3 selected tanıTür" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">Ön Tanı</div>
                             <div id="anaTanı" class="col-md-3 tanıTür" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Ana Tanı</div>
                             <div id="ekTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;padding: 18px;text-align: center;">Ek Tanı</div>
                             <div id="ayırıcıTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Ayırıcı Tanı</div>
               
</div>
</div>



<div class="row" style="margin-top:1%;">
         <div class="col-md-6" style="height:30px;">
                   
                    
                            <div class="container" id="taniTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row headerDiv">
                                             <div class="col-md-1" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                           </div> 
                                           <div class="col-md-5" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                             ICD Kodu
                                           </div>  
                                            <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                                         <% ICDLER.forEach(function(ICD) { %>
                                    
                                      <div class="row taniRow">
                                             <div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                    <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                           </div> 
                                           <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                            <div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                     </div>
                                         <%}); %>
                            </div>
                                                <div class="container" syle="margin-top:10%">

                    <div class="row" style="margin-top:30px;">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
                        </div>
     

                                 
         </div>  
       <div class="col-md-6">
                   
                    
                            <div class="container" id="secilenTanilarTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 520px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row" id="secilenHeader">
                                             <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;">
                                              ICD Kodu
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                            Tanı Türü
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                                                 
                            </div>
                                 
         </div>         
</div>


</div>

</form>

<form id="mynBitirForm" action="/hasta/kisaAnamnez" method="post"></form>


 <div class="row" style="margin: auto;margin-top: 3%;"> 
        <div id="önceki"style="margin: auto;color: #325179;font-size: 20px;"><img src="/public/img/önceki.svg" class="" style="width: 10px;margin-right: 5px;"><b>Önceki</b></div>     
        <div id="sonraki"style="margin: auto;color: #325179;font-size: 20px;"><b>Sonraki</b><img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     
    </div>


<form id="detayliForm6" action="/hasta/detayli-muayene-7" method="post"></form>
<form id="öncekiSayfaForm" action="/hasta/detayli-muayene-5" method="post"></form>



<script>



   
$(document).ready(function(){
 
 


$( "#temizleSevketModal").click(function() {

   
    $("#sevketModal")
    .find("input,textarea,select")
    .val('')
    .end()
    .find("input[type=checkbox], input[type=radio]")
    .prop("checked", "")
    .end();


});

var secilenTanılar=[];

 $( "#sonraki").click(function() {
     console.log(secilenTanılar);
      secilenTanılar.forEach(element => {
            var string=element.kod+"?"+element.taniTuru+"?"+element.isim;
            var input = $("<input>").attr("type", "hidden").attr("name", "tanilar").val(string);
           $('#detayliForm6').append(input);
      });

        $('#detayliForm6').submit();
    });
   $( "#önceki").click(function() {
        $('#öncekiSayfaForm').submit();
    });



$(document).on('click', ".taniRow", function(){
    //Your code

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];;
        var isim= $(this).children(".cbx").children().attr("name").split("?")[1];;

       var html= '<div  class="row secilenTanilarTable ">';
       html+= '<div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+kod+'</div>'; 
       html+= '<div class="col-md-4 tür" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+tanıTürü+'</div>';  
       html+= '<div class="col-md-4 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+isim+'</div> </div>';
      
        $("#secilenTanilarTable").append(html);
        var t={kod:kod,taniTuru:tanıTürü,isim:isim};
        secilenTanılar.push(t);
    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
        var str=":contains("+kod+")" ;
        $(".secilenTanilarTable").remove(str);
        secilenTanılar.forEach(element => {
            if(element.kod==kod){
                secilenTanılar = jQuery.grep(secilenTanılar, function(value) {
                    return value != element;
                  });

            }
        });

    }
});
    $("#taniAra").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        
            // $.ajax({
            //     url: '/tanFilter',
            //     method: 'get',
            //     data: { value: value }
            //     }).done(function(tanılar) {
                    
            //        $( ".taniRow" ).remove();

                  
            //         $.each(tanılar, function (index, value) {
            //             var html= '<div class="row taniRow">';
            //             html+= '<div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
            //             html+= '<div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
            //             html+= ' <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+value.KODU+'</div>  ';
            //             html+= '<div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';

            //            // $( "#taniTable" ).append(html);      
            //            $( ".headerDiv" ).after(html);                 
                       
            //         });  
                                                     
            // });
            $( ".taniRow" ).remove();
            $.get( "/tanFilter", { value:value} )
                .done(function( tanılar ) {
                  
                            $.each(tanılar, function (index, value) {
                                color="red"
                                var found_names = $.grep(secilenTanılar, function(v) {
                                    return v.kod === value.KODU;
                                });
                                if (found_names.length==1){color="green"}
                              var html= '<div class="row taniRow">';
                              html+= '<div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
                              html+= ' <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+value.KODU+'</div>  ';
                              html+= '<div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
      
                              $( ".headerDiv" ).after(html);         
                            });  
            });

    });



var tanıTürü="Ön Tanı";
$( "#anaTanı").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();
    }
});
$( "#ekTanı").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});
$( "#ayırıcıTanı").click(function() {
    if($(this).hasClass("selected")){
    
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});
$( "#onTanı").click(function() {
    if($(this).hasClass("selected")){
      
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});





$("#datepicker").change(function() {
    if($(this).prop('checked')) {
        $(this).datepicker();

    } else {
        $(this).datepicker("hide");
    }
});




//_-----------------il seçince ilçeler gelsin


$('#iller').on('change', function() {
    var ilkodu= this.value;

    $.ajax({
        url: '/ilceleriGetir',
        method: 'get',
        data: { ilkodu: ilkodu }
        }).done(function(res) {
            var ilceArray=res.ilceler;
            for (var i = 0; i <= ilceArray.length; i++) {
                $('#ilceler').append('<option value="' + ilceArray[i].KODU + '">' + ilceArray[i].ADI + '</option>');
            }
    });
 
});

});
</script>