<style>
.image-circle{
    border-radius: 50%;
    height: 120px;
    border: 4px solid #FFF;
    margin: auto;
    margin-top: -67px;
}

</style>


<div class="container" style="margin-top: 26px;margin-bottom: 26px;">
                      <div class="row">
                             <div class="col-md-3" style="background-color: white;border-radius: 15px;color: #325179;font-family: Avenir Next;text-align: center;-webkit-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);-moz-box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);box-shadow: 46px 0px 38px -17px rgba(0,0,0,0.49);border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                                            <div style="color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 4%;text-align:center;"><b> <%=hasta.Ad.toUpperCase()+" "+hasta.Soyad.toUpperCase() %></b></div>
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:center;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"><%=hasta.age%></div>
                             </div>
                             <div class="col-md-3">
                                            <div style="text-align:left;color: #325179;font-family: Avenir Next;font-size: larger;margin-top: 6%;"> <%=hasta.Cinsiyet==1?"Erkek":"Kadın" %>  </div>
                             </div>
                    </div>
                    <div class="row" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-top-left-radius: 0px;">
                         
                                      <div class="col-md-10">
                                               <div class="row">
                                                         <div class="col-md-4" style="padding: 14px;margin-bottom: auto;margin-top: auto;">
                                                                  <div class="row"style="margin: auto;"><div class="col-md-6" style="margin: auto;color: #325179;">İzlem Tarihi:</div><div class="col-md-6" style="margin: auto;color: #325179;"><input type="date" name="izlemTarihi"value="<%=new Date().toISOString().split('T')[0]%>"min="2018-01-01" max="2019-12-31"></div></div>
                                                                  <div class="row"style="margin: auto;"><div data-toggle="modal" data-target="#islemBilgileriModal"  class="col-md-6" style="color: #325179;">İşlem Bilgileri</div></div>
                                                         </div>
                                                       
                                                         <div class="col-md-2" data-toggle="modal" data-target="#adresModal" style="padding: 14px;background-color: #e6f5fb;">
                                                                   <div class="row"> <img src="/public/img/adres.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Adres</div></div>
                                                         </div>
                                                          <div class="col-md-2" style="padding: 14px;background-color: #d3ecf4;">
                                                                   <div class="row"> <img src="/public/img/aileGrupları.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Aile Bilgileri</div></div>
                                                         </div>
                                                          <div class="col-md-2" style="padding: 14px;background-color: #c5dfec;">
                                                                   <div class="row"> <img src="/public/img/hastaGrupları.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">Hasta Grupları</div></div>
                                                         </div>
                                                         <div class="col-md-2" style="padding: 14px;background-color: #e6f5fb;">
                                                                   <div class="row"> <img src="/public/img/adres.svg" style="margin: auto;width: 40px;"></div>
                                                                   <div class="row"style="margin: auto;"><div style="margin: auto;color: #325179;">İzlemler</div></div>
                                                         </div>
                                               </div>
                                      </div>
                                      <div class="col-md-2">

                                                   <div class="row"> <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" style=""></div>
                                                    <div class="row" style="margin: auto;"> <div data-toggle="modal" data-target="#dahaFazlaModal"  style="margin: auto;color: #325179;">Daha Fazla<img src="/public/img/dahaFazla.svg" class="" style="width: 10px;margin-left: 5px;"></div>     </div>                                 
                                      </div>
                          
                    </div>
  </div>



<!-- Modal -->
<div class="modal" id="islemBilgileriModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">İşlem Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
   
    <div class="container" style="margin-top: 3%;">
         <div class="row" style="margin-top: 2%;">
                  <div class="input-group mb-3 col-md-10">
                        <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapan Kişinin TC </span>
                        </div>
                         <input class="form-control" name="islemYapanTc" type="text" aria-label="Default" aria-describedby="">
                  </div>                     
          </div>
          <div class="row" style="margin-top: 2%;">
                  <div class="input-group mb-3 col-md-10">
                        <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Kişinin Adı Soyadı</span>
                        </div>
                         <input class="form-control" name="baAdSoyad" type="text" aria-label="Default" aria-describedby="">
                  </div>                     
          </div>
          <div class="row" style="margin-top: 2%;">
                  <div class="input-group mb-3 col-md-10">
                        <div class="input-group-prepend">
                               <span class="input-group-text " id="inputGroup-sizing-default">Bilgi Alınan Kişinin Telefonu</span>
                        </div>
                         <input class="form-control" name="baTel" type="text" aria-label="Default" aria-describedby="">
                  </div>                     
          </div>
           <div class="row" style="margin-top: 2%;">
                  <div class="input-group mb-3 col-md-10">
                                  <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">İşlem Yapılan Yer</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                       </select>
                                  </div>
                   </div>          
          </div>
  
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="temizleSevketModal" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
  </div>
  
</div>
</div>
</div>




<!-- Modal -->
<div class="modal" id="adresModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Adres Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
   
    <div class="container" style="margin-top: 3%;">
                    <div class="">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>Beyan Adresi</b></div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İl:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">İzmir</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İlçe:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Balçova</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Mahalle:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Sokak:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Köy:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b></b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Dış Kapı No:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İç Kapı No:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">5</div></div>                                                              
                                        </div>
                                         <div class="row" style="margin-top:2%;">  <div class="col-md-12" style=""><div style="margin: auto;color: ##3251D4;font-size: inherit;"><b>Acil Durumda Aranacak Kişi</b></div></div></div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Telefon:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İsim:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>                                                              
                                        </div>
                                          <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>                                                                                                                           
                                        </div>
                              </div>
                      </div>
                       <div class="" style="margin-top: 3%;">
                              <div class="" style="background-color: #D3ECF4;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: max-content;text-align: center;font-size: 17px;"><b>İş Adresi</b></div>                            
                      </div>
                       <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: #D3ECF4;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İl:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">İzmir</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İlçe:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Balçova</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Mahalle:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Sokak:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Köy:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b></b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Dış Kapı No:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İç Kapı No:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"></div>-</div>                                                              
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Telefon:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>                                                                                                                 
                                        </div>
                                          <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Adres:</b></div></div>
                                                                        <div class="col-md-9" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>                                                                                                                           
                                        </div>
                              </div>
                      </div>         
    </div>

    </div>

</div>
</div>
</div>






<!-- Modal -->
<div class="modal" id="dahaFazlaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">İşlem Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Hasta Türü:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Kesin Kayıtlı</div></div>
                                                                       
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Anne Adı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Ayşe</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Baba Adı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Ali</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Doğum Tarihi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Doğum Tarihi(Beyan)</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Medeni Hali:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Evli</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Evlenme Yaşı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">21</div></div>                                                              
                                        </div>
                                       <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Kan Grubu::</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">AB+</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Sosyal Güvencesi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">SGK</div></div>                                                              
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İlk Gebelik Yaşı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">24</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Çocuk Sayısı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">2</div></div>                                                              
                                        </div>
                                          <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Canlı Doğum Sayısı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">2</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Ölü Doğum Sayısı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">0</div></div>                                                              
                                        </div>
                                          <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Düşük Sayısı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">1</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Toplam Gebelik Sayısı:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">3</div></div>                                                              
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Hemoglobin:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">11.5</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Servikal Smear:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">-</div></div>                                                              
                                        </div>
        
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="temizleSevketModal" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
  </div>
  
</div>
</div>
</div>


