<div class="row"style="margin-top:2%;margin-bottom:1%;">
        <div class="col-md-2" style="margin:auto;">
                     <img id="logo" src="/public/img/ephesuslogo.svg" style="width: 140px;"this.src='image.png'">  
        </div>
        <div class="col-md-7"style="margin:auto;color:#325179;font-family:Avenir Next;font-size: x-large;">

                    <b>Hoşgeldiniz Doktor Gökhan Akbulut</b>
        </div>
      
       <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row">
                         <img id="ayarlarBtn"src="/public/img/istekkutusu.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          max-height: 60px;">  
                 </div>
                  <div class="row">
                         <div style="margin: auto;color:#325179;font-family:Avenir Next;">İstek Kutusu</div>
                </div>
        </div>
        <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row">
                         <img id="ayarlarBtn"src="/public/img/ayarlar.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          max-height: 60px;">  
                 </div>
                  <div class="row">
                         <div style="margin: auto;color:#325179;font-family:Avenir Next;">Ayarlar</div>
                </div>
        </div>
        <div class="col-md-1"style="color:white; margin: auto;">
                  <div class="row">
                         <img id="ayarlarBtn"src="/public/img/dil.svg" onerror="this.onerror=null; this.src='image.png'"style=" margin:auto;
                          max-height: 60px;">  
                 </div>
                  <div class="row">
                       <div style="margin: auto;color:#325179;font-family:Avenir Next;"> Dil</div>
                </div>
        </div>



</div>


<form id="ayarlarForm" action="/ayarlar" method="get" ></form>
