<!--ilk satır boşluk-->

<link href="public/css/home.css" rel="stylesheet">
<style>
.izlemResimleri{

height: 60px;
 margin-left:auto;
  margin-right:auto;



}
</style>




<div class="row" style=" margin-left: auto;margin-right: auto;margin-top:1%;">
      
                                                            <div class="col-md-11 form-group has-search" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="myInput" class="form-control"  name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                                                            </div>

                                                           <div class="col-md-1">
                                                                   
                                                                 <div class="form-group has-search" style="width: 100%;height:60px; background-color: #fff;border: 1px solid #ced4da;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;text-align: center;">
                                                                   
                                                                   <img id="plus" src="/public/img/plus.svg" onerror="this.onerror=null; this.src='image.png'"style="height: 50px;margin: auto;margin-top: 4%;">            
                                                             
                                                                 </div>      
                                                             
                                                           </div>       
                                
</div>

 <form id="hasta" action="/hasta/hastaProfili" method = "post">       </form> 
   <form id="hastaEkle" action="/hasta/hastaEkleme" method = "get"> </form> 


<div class="row" style="margin-left: auto;
margin-right: auto;">

<div class="col-md-3">
    
                <div id="kadınİzlem" class="izlemBtn" style="background-color:#5380c1;">
                    <div class="row" >
                          
                                        <img src="/public/img/kadınizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                    </div>
                    <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                    <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Kadın İzlem</div>
                </div>
                </div>
   
     <div class="row">
                 <div class="col-md-6">
                          <div id="gebeizlem" class="izlemBtn" style="background-color:#d47db2;margin-left:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/gebeizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Gebe İzlem</div>
                                 </div>
                         </div>      
                </div>
                 <div class="col-md-6">
                          <div id="lohusaizlem" class="izlemBtn" style="background-color:#663367;margin-right:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/lohusaizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Lohusa İzlem</div>
                                 </div>
                         </div>      
                </div>


     </div>    
</div>

<div class="col-md-3">
    
                <div id="bebekcocukizlem" class="izlemBtn" style="background-color:#8ccab6;">
                    <div class="row" >                    
                                        <img src="/public/img/bebekcocukizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                    </div>
                    <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                    <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Bebek-Çocuk İzlem</div>
                </div>
                </div>
   
     <div class="row">
                 <div class="col-md-6">
                          <div id="otizmizlem" class="izlemBtn" style="background-color:#00996c;margin-left:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/otizm.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Otizm İzlem</div>
                                 </div>
                         </div>      
                </div>
                 <div class="col-md-6">
                          <div id="yetiskinizlem" class="izlemBtn" style="background-color:#008d9b;margin-right:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/yetiskin.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Yetişkin İzlem</div>
                                 </div>
                         </div>      
                </div>


     </div>    
</div>

<div class="col-md-3">
    
                <div id="obeziteizlem" class="izlemBtn" style="background-color:#fbd106;">
                    <div class="row" >
                          
                                        <img src="/public/img/obezite.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                    </div>
                    <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                    <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Obezite İzlem</div>
                </div>
                </div>
   
     <div class="row">
                 <div class="col-md-6">
                          <div id="otizmizlem" class="izlemBtn" style="background-color:#faad40;margin-left:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/diyabetizlem.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Diyabet İzlem</div>
                                 </div>
                         </div>      
                </div>
                 <div class="col-md-6">
                          <div id="kanserizlem" class="izlemBtn" style="background-color:#cb6828;margin-right:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/kanser.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Kanser İzlem</div>
                                 </div>
                         </div>      
                </div>


     </div>    
</div>

<div class="col-md-3">
    
                <div id="obeziteizlem" class="izlemBtn" style="background-color:#b4d3ef;">
                    <div class="row" >
                          
                                        <img src="/public/img/65yas.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                    </div>
                    <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                    <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">65 Yaş İzlem</div>
                </div>
                </div>
   
     <div class="row">
                 <div class="col-md-6">
                          <div id="evdesaglik" class="izlemBtn" style="background-color:#8ab3dd;margin-left:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/evdesaglık.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Evde Sağlık</div>
                                 </div>
                         </div>      
                </div>
                 <div class="col-md-6">
                          <div id="digerizlemler" class="izlemBtn" style="background-color:#628db5;margin-right:0px;">
                                  <div class="row" >
                          
                                        <img src="/public/img/digerizlemler.svg" onerror="this.onerror=null; this.src='image.png'"class="izlemResimleri">        
                                                  </div>
                                 <div class="row"> <div style="margin-left:auto; margin-right:auto; color:white;font-size:large;"> 65/98</div></div>
                                 <div class="row"style=""> <div class style="margin-left:auto; margin-right:auto;font-size: large;margin-top: 1% ;color:white;">Diğer İzlemler</div>
                                 </div>
                         </div>      
                </div>


     </div>    
</div>
</div>


<div class="row" style="margin-top: 2%;margin-left: auto;margin-right: auto;">
                                     <div id="ilacAdıKullanım" class="" style="min-width: 80px;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -36px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;text-align: center;margin-left: auto;font-size:22px">İstatistikler</div>                            
</div>
<div class="row" style="margin-left: auto;margin-right: auto;">
                 <div style="border-radius: 20px;padding: 12px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 320px;border-top-right-radius: 0px;">
                       <div class="row" style="margin-top: 1%;">
                                <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;font-size: 22px;"><img src="/public/img/donem.svg" class="" style="height: 25px;margin-right: 12px;"><b>DÖNEM</b></div>
                                </div>              
                                 <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;font-size: 22px;">2019/07</div>
                                </div>  
                                <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;font-size: 22px;"><img id='guncelleBtn' src="/public/img/sonGuncelleme.svg" class="" style="height: 25px;margin-right: 12px;"><b>SON GÜNCELLEME</b></div>
                                </div>              
                                 <div class="col-md-3"> 
                                        <div style="margin: auto;color: #325179;font-size: 22px;">2018/08/08</div>
                                </div>    
                       </div>
                        <div class="row" style="margin-top:1%;">
                                <div class="col-md-6" style="height:30px;">
                                        <div class="container" style="background-color: #E6F5FB;text-align: center;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;width: 96%;">
                                                                <div class="row" style="margin-top:1%;">   
                                                                        <div class="col-md-6" style=""></div>
                                                                        <div class="col-md-3" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/izlemler.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">İzlemler</div></div>
                                                                        </div>
                                                                         <div class="col-md-3" style="">
                                                                                <div class="row" style="margin-top:1%;"><img src="/public/img/homeAsilar.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                                <div class="row" style="margin-top:1%;margin: auto;">  <div style="margin: auto;color: #325179;">Aşılar</div></div>
                                                                        </div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>G/Y:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: 20px;">2/1</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: 20px;">2/1</div></div>
                                                                     
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>BAŞARI:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: 20px;">%50</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: 20px;">%50</div></div>
                                                                     
                                                                </div>
                                         
                                        </div>
                                </div>  
                                <div class="col-md-6" style="height:30px;">
                                        <div class="container" style="background-color: #D3ECF4;text-align: center;height: 210px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;width: 96%;">
                                                                <div class="row" style="margin-top:3%;">   
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>KESİN KAYITLI KİŞİ</b></div></div>
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>TOPLAM GEBE SAYISI  </b></div></div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                           <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;">155</div></div>
                                                                           <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;">183</div></div>
                                                                     
                                                                </div>
                                                                  <div class="row" style="margin-top:3%;">   
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>GEZİCİ HİZMET ALAN</b></div></div>
                                                                          <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;"><b>TOPLAM BEBEK  </b></div></div>
                                                                </div>
                                                                <div class="row" style="margin-top:2%;">   
                                                                           <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;">155</div></div>
                                                                           <div class="col-md-6" style=""><div style="margin: auto;color: #325179;font-size: 20px;">183</div></div>
                                                                     
                                                                </div>
                                         
                                        </div>
                                </div>  
                        </div>
                </div>
</div>

 





<form id="izlemForm" action="/izlemler" method="get" ></form>
<form id="kanserizlemForm" action="/izlemler/Kanserizlem" method="get" ></form>
<form id="evdeSaglikForm" action="/izlemler/EvdeSaglik" method="get" ></form>


<script src="public/js/home.js"></script>
  <script src="public/js/mobile-detect.js"></script>
<script>
    var md = new MobileDetect(window.navigator.userAgent);
    // ... see below
    $( "#guncelleBtn" ).click(function() {
      
        $.ajax({
          url: '/guncelleHome',
          method: 'post',
          }).done(function(res) {
           
        });
  
    });
    
</script>


