<div class="container"style="margin-top: 1%;">
             <div class="container">
                     <div class="row form-group has-search">
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="myInput" class="form-control ui-autocomplete-input" name="isim" type="text" placeholder="Hasta Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;" autocomplete="off">
                     </div>
             </div>
            <div class="container" id="" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-bottom-left-radius: 0;border-bottom-right-radius: 0;">

                                <div class="row" id="">
                                             <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;font-weight: bold;color: #325179;">
                                              İsim-Soyisim
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;font-weight: bold;color: #325179;">
                                            TC No
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;font-weight: bold;color: #325179;">
                                             Yaş
                                           </div>
                                 </div>
             </div>
             <div class="container" id="hastaTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 60%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                     
                                     <% izleminHastaları.forEach(function(element) { %>
                                                 <div  class="row hastaRow ">
                                                 <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;"><%= element.Ad.toUpperCase() +" "+element.Soyad.toUpperCase() %></div>
                                                 <div class="col-md-4 tc " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;color: #325179;"><%= element.Id %></div>
                                                 <div class="col-md-4 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;color: #325179;"><%= Math.floor(( new Date()-new Date(element.DogumTarihi ))/31557600000) %></div></div>
                                     <%}); %>
            </div>
  </div>



         



        <form id="izlemlerForm" action="/izlemler/<%=(izlemAdı=="kanserHedefListesi"?"Kanserizlem/"+izlemAdı:izlemAdı=="ESHizmetiIzlemleri"?"EvdeSaglik/"+izlemAdı:izlemAdı)%>" method="post" ></form>



        <script src="../public/js/izlemler.js"></script>

        