<form id="kadinFORM" action="/izlemler/Kadinizlem/kaydet" method="post">

<%- include('./hastaIzlemHeader'); -%>
          
                    

                    
<div class="container">
          <div class="row" style="margin-top:1%;margin-bottom:1%;">
      
                             <div id="tab1" class="col-md-3 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">G. Geçmişi, AP, P. İzlem</div>
                             <div id="tab2" class="col-md-3 sekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Cinsel S., Lab. Muayeneler</div>
                             <div id="tab3"class="col-md-4 sekme" style="background-color: #b5d8e5;padding: 18px;text-align: center;">Cybe Bulgu, üREME s., Risk T., S. Hastalıklar</div>
                             <div id="tab4"class="col-md-2 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Kadına Şiddet</div>       
         </div>
</div>
          <div id="kadınSekme1" class="kadınTab">
              <%- include('kadinizlem-Sekme1'); -%>
          </div>
          <div id="kadınSekme2"class="container kadınTab" style="display:none;">
              <%- include('kadinizlem-Sekme2'); -%>
          </div>
          <div id="kadınSekme3"class="container kadınTab"style="display:none;">
              <%- include('kadinizlem-Sekme3'); -%>
          </div>
          <div id="kadınSekme4"class="container kadınTab"style="display:none;">
              <%- include('kadinizlem-Sekme4'); -%>
          </div>

<div class="container">

                            <div class="" >
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                           </div>
                           <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea name="aciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                           </div>

                          <div class="row" style="margin-top: 1%;">
                              <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                              <button id="Kaydetbtn" type="submit" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                           </div>
</div>
</form>

<!-- Modal -->
<div class="modal" id="YeniAsiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content" style="background-color:#f1f3f3;">
            <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
               <div style="color: white;    font-size: x-large;">Aşı Ekle</div> 
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                 <div class="container" style="margin-top: 3%;"> 
                  <form id="hastayaAsiEkleForm" method="post" action="/hasta/asiKaydet"> 
                   <div class="row" style="">    
                        <div class="input-group  mb-3 col-md-12">
                           <div class="input-group-prepend">
                                <span class="input-group-text " id="inputGroup-sizing-default">Aşı Adı</span>
                           </div>
                            <select name="asiAdi"class="browser-default custom-select" required>
                               <% asilar.forEach(function(element) { %>
                                 <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                <%}); %>
                            </select>
                        </div>
                   </div>
                   <div class="row">
                      <div class="input-group  mb-3  col-md-12">
                         <div class="input-group-prepend">
                              <span class="input-group-text " id="inputGroup-sizing-default">Lot/Pari No</span>
                         </div>
                        <input class="form-control" name="lotNo" type="text" aria-label="Default" aria-describedby="">
                      </div>                 
                   </div>
                   <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">
                        <div class="input-group mb-3"style="margin-top:1%;">
                            <div class="input-group-prepend">
                                 <span class="input-group-text " id="inputGroup-sizing-default">Uygulama Şekli</span>
                            </div>
                            <select name="uygulamaSekli"class="browser-default custom-select" required>
                                  <% asiuygulamasekli.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                               <%}); %>
                            </select>
                        </div>
                    </div>
                   <div class="col-md-6">
                           <div class="input-group mb-3"style="margin-top:1%;">
                               <div class="input-group-prepend">
                                     <span class="input-group-text " id="inputGroup-sizing-default">Aşı Kaynak</span>
                               </div>
                               <select name="asiKaynak" class="browser-default custom-select"required>
                                         <% asikaynak.forEach(function(element) { %>
                                        <tr>
                                        <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                               <%}); %>
                               </select>
                           </div>
                    </div>
                   </div>   
                   <div class="row">
                    <div class="input-group mb-3 col-md-12">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Açıklama</span>
                       </div>
                      <input class="form-control" name="yeniAsiAciklama" type="text" aria-label="Default" aria-describedby="">
                    </div>                 
                   </div>
                   <div class="row">
                    <div class="input-group mb-3 col-md-12">
                       <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-default">Karekod</span>
                       </div>
                      <input class="form-control" name="karekod" type="text" aria-label="Default" aria-describedby="">
                    </div>                 
                   </div>
                   <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">
                        <div class="input-group mb-3"style="margin-top:1%;">
                            <div class="input-group-prepend">
                                 <span class="input-group-text " id="inputGroup-sizing-default">Doz Miktarı</span>
                            </div>
                            <select name="asiDoz"class="browser-default custom-select" required>
                                  <% asidoz.forEach(function(element) { %>
                                   <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                               <%}); %>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" name="stokDusur" id="stokDusur" value="1">
                          <label class="custom-control-label" for="stokDusur">Stoktan Düşür</label>
                       </div>
                    </div>
                   </div>   
                   <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">
                       <div class="input-group mb-3">
                         <div class="input-group-prepend">
                             <span class="input-group-text " id="inputGroup-sizing-default">Seri No</span>
                         </div>
                         <input class="form-control" name="seriNo" type="text" aria-label="Default" aria-describedby="">
                       </div> 
                    </div>
                    <div class="col-md-6">
                       <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" name="bolgedisi" id="bolgedisi" value="1">
                          <label class="custom-control-label" for="bolgedisi">Bölge Dışında Yapıldı</label>
                       </div>
                    </div>
                   </div>   
                   <div class="row" style="margin-top:1%;">
                    <div class="col-md-6">
                       <div class="input-group mb-3">
                         <div class="input-group-prepend">
                             <span class="input-group-text " id="inputGroup-sizing-default">Son Kullanma Tarihi</span>
                         </div>
                         <input class="form-control" name="STTasi" type="date" aria-label="Default" aria-describedby="">
                       </div> 
                    </div>
                    <div class="col-md-6">
                       <div class="custom-control custom-checkbox custom-control-inline">
                          <input type="checkbox" class="custom-control-input" name="ozhekimAsisi" id="ozhekimAsisi" value="1">
                          <label class="custom-control-label" for="ozhekimAsisi">Özel Hekim Aşısı</label>
                       </div>
                    </div>
                   </div>   
                  </form>
                </div>
           </div>
             <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                                      <button id="AsiKaydetBtn"type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
            </div>
        </div>
        </div>
        </div>
      
  
  
  <script>
    $( "#AsiKaydetBtn" ).click(function() {
      $( "#hastayaAsiEkleForm" ).submit();
  
    });
    $(document).on('click', ".kadinSaglikRow", function(){
              //Your code
          
              if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
                  $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
                  var kod= $(this).children(".cbx").children().attr("name");
                  var isim= $(this).children(".isim").html();
                  
                  secilenKadinSagliklar.push(kod);
              }
              else{
                  $(this).children(".cbx").children().css('background-color','red')
                  var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
                  secilenKadinSagliklar.forEach(element => {
                      if(element.kod==kod){
                          secilenKadinSagliklar = jQuery.grep(secilenKadinSagliklar, function(value) {
                              return value != element;
                            });
          
                      }
                  });
              }
          });
          $(document).on('click', ".kadinRiskFakt", function(){
              //Your code
          
              if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
                  $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
                  var kod= $(this).children(".cbx").children().attr("name");
                  var isim= $(this).children(".isim").html();
                  secilenKadinRiskFaktorler.push(kod);
              }
              else{
                  $(this).children(".cbx").children().css('background-color','red')
                  var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
                  secilenKadinRiskFaktorler.forEach(element => {
                      if(element.kod==kod){
                          secilenKadinRiskFaktorler = jQuery.grep(secilenKadinRiskFaktorler, function(value) {
                              return value != element;
                            });
          
                      }
                  });
              }
          });
  
  </script>
<script src="../public/js/kadinizlem.js"></script>
<script>

        var secilenKadinSagliklar=[];
        var secilenKadinRiskFaktorler=[];

        var secilenCybeler=[];
        var secilenDanışmanlar=[];
        var secilenRiskler=[];

        var secilenSiddetler=[];
        var secilenDegerlendirmeler=[];

        $( "#Kaydetbtn" ).click(function() {
            var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
            $('#kadinFORM').append(input);
             var i;
            var kadinSaglikStr="";
            for (i = 0; i < secilenKadinSagliklar.length; i++) {
                  kadinSaglikStr+=secilenKadinSagliklar[i];
                  if(i+1<secilenKadinSagliklar.length){
                      kadinSaglikStr+="%";
                  }
            }
            var input2 = $("<input>").attr("type", "hidden").attr("name", "kadinSaglikStr").val(kadinSaglikStr);
            $('#kadinFORM').append(input2);

             var kadinRiskStr="";
            for (i = 0; i < secilenKadinRiskFaktorler.length; i++) {
                  kadinRiskStr+=secilenKadinRiskFaktorler[i];
                  if(i+1<secilenKadinRiskFaktorler.length){
                      kadinRiskStr+="%";
                  }
            }
            var input3 = $("<input>").attr("type", "hidden").attr("name", "kadinRiskStr").val(kadinRiskStr);
            $('#kadinFORM').append(input3);

             var cybeStr="";
            for (i = 0; i < secilenCybeler.length; i++) {
                  cybeStr+=secilenCybeler[i].isim;
                  if(i+1<secilenCybeler.length){
                      cybeStr+="%";
                  }
            }
            var input4 = $("<input>").attr("type", "hidden").attr("name", "cybeStr").val(cybeStr);
            $('#kadinFORM').append(input4);

              var danismanliklarStr="";
            for (i = 0; i < secilenDanışmanlar.length; i++) {
                  danismanliklarStr+=secilenDanışmanlar[i].isim;
                  if(i+1<secilenDanışmanlar.length){
                      danismanliklarStr+="%";
                  }
            }
            var input5 = $("<input>").attr("type", "hidden").attr("name", "danismanliklarStr").val(danismanliklarStr);
            $('#kadinFORM').append(input5);

             var risklerStr="";
            for (i = 0; i < secilenRiskler.length; i++) {
                  risklerStr+=secilenRiskler[i].isim;
                  if(i+1<secilenRiskler.length){
                      risklerStr+="%";
                  }
            }
            var input6 = $("<input>").attr("type", "hidden").attr("name", "risklerStr").val(risklerStr);
            $('#kadinFORM').append(input6);

             var siddetlerStr="";
            for (i = 0; i < secilenSiddetler.length; i++) {
                  siddetlerStr+=secilenSiddetler[i].kod;
                  if(i+1<secilenSiddetler.length){
                      siddetlerStr+="%";
                  }
            }
            var input7 = $("<input>").attr("type", "hidden").attr("name", "siddetlerStr").val(siddetlerStr);
            $('#kadinFORM').append(input7);

               var degerlendirmelerStr="";
            for (i = 0; i < secilenDegerlendirmeler.length; i++) {
                  degerlendirmelerStr+=secilenDegerlendirmeler[i].kod;
                  if(i+1<secilenDegerlendirmeler.length){
                      degerlendirmelerStr+="%";
                  }
            }
            var input8 = $("<input>").attr("type", "hidden").attr("name", "degerlendirmelerStr").val(degerlendirmelerStr);
            $('#kadinFORM').append(input8);

            $("#kadinFORM").submit();
         
      });
        
        
</script>