                    
<div class="row" style="margin-top:1%;margin-bottom:1%;">
                   <div class="col-md-7" >
                        <div class="row" style="margin-top:1%;margin-bottom:1%;">
                            <div class="col-md-5" >
                                <div class="input-group ">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hemoglobin Değeri</span>
                                     </div>
                                     <input class="form-control" name="hemoglobin" type="number" aria-label="Default" aria-describedby=""placeholder="12.0" step="0.1" min="0" max="20">
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                              <div class="col-md-5" style="margin: auto;">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                             <input type="checkbox" class="custom-control-input" name="APdanAlmıyor" id="APdanAlmıyor" value="APdanAlmıyor">
                                             <label class="custom-control-label" for="APdanAlmıyor">AP Danışmanlığı Almıyor</label>
                                    </div>  
                              </div>
                              <div class="col-md-7">
                                    <div id="APKullanmamaNeden" class="input-group" style="display: none;">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">AP Kullanmama Nedeni</span>
                                          </div>
                                           <select name="APkullanmamaNedeni"class="browser-default custom-select" required>
                                           <% APKullanmamaNedeni.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                           </select>
                                    </div>
                              </div>
                        </div>
                        <div class="row" style="margin-top:2%;">                                       
                                    <div  class="input-group col-md-12" style="">
                                          <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">AP İşlemleri</span>
                                          </div>
                                           <select name="APYontemi"class="browser-default custom-select" required>
                                           <% APYöntemleri.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                           </select>
                                    </div>
                        </div>
                        <div class="row" style="margin-top:2%;margin-bottom:1%;">
                            <div class="col-md-6" >
                                  <div class="input-group ">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">AP Yöntem Lojistiği</span>
                                       </div>
                                       <select name="APyontemLojistigi"class="browser-default custom-select">
                                           <% APYontemLojistik.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                            </div>
                             <div class="col-md-6" >
                                  <div class="input-group">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Bir Önceki Yöntem</span>
                                       </div>
                                       <select name="oncekiAPyontem"class="browser-default custom-select">
                                          <% APOncekiYontem.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="custom-control custom-checkbox custom-control-inline">
                                       <input type="checkbox" class="custom-control-input" name="konanomali" id="konanomali" value="1">
                                       <label class="custom-control-label" for="konanomali">Kon. Anomali Doğ.</label>
                                 </div>  
                            </div>

                            <div class="col-md-6">
                              <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" class="custom-control-input" name="serviksmear" id="serviksmear" value="1">
                                    <label class="custom-control-label" for="serviksmear">Servikal Smear</label>
                              </div>  
                            </div>
                        </div>
                        <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                  <div class="col-md-6" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;">
                                                            <div class="row">
                                                                <div class="col-md-7"> 
                                                                        <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><B>SON AŞI İSMİ:</B></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;text-align: center;"><%=skrsSonAşı.ADI%></div></div>
                                                                        <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><B>SON AŞI TARİHİ:</B></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;"> <%=sonAşı.Tarih.toISOString().split("T")[0] %></div></div>
                                                               </div>
                                                               <div class="col-md-5">
                                                                  <div data-toggle="modal" data-target="#YeniAsiModal" style="border-style: solid;border-radius: 22px;padding-bottom: 15px;padding-top: 10px;border-color: red;">
                                                                        <div class="row" style="margin-top:1%;"> <div style="color:red;margin: auto;font-size: small;"><b>+YENİ AŞI</b></div></div>
                                                                        <div class="row" style="margin-top:5%;"><img src="/public/img/homeAsilar.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                     </div>
                                                               </div>                                                                                                                  
                                                            </div>
                                                </div>
                                 </div>
                                  <div class="col-md-6" style="">
                                                <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 150px;">
                                                            <div class="row">
                                                                <div class="col-md-7"> 
                                                                        <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><B>TOPLAM GEBE SAYISI:</B></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                                        <div class="row" style="margin-top:2%;"> <div style="color: #325179;margin: auto;"><B>DÜŞÜK SAYISI:</B></div></div>
                                                                        <div class="row"> <div style="color: #325179;margin: auto;">Örnek</div></div>
                                                                        <div class="row">
                                                                                  <div class="custom-control custom-checkbox custom-control-inline" style="MARGIN: auto;">
                                                                                       <input type="checkbox" class="custom-control-input" name="Asikonanomali"id="Asikonanomali" value="Asikonanomali">
                                                                                       <label class="custom-control-label" for="Asikonanomali">Kon. Anomali Doğ.</label>
                                                                                  </div>  
                                                                        </div>
                                                               </div>
                                                               <div class="col-md-5">
                                                                     <div style="border-style: solid;border-radius: 22px;padding-bottom: 15px;padding-top: 10px;border-color: red;">
                                                                        <div class="row" style="margin-top:1%;"> <div style="color:red;margin: auto;font-size: small;"><b>+GEBE BİLDİRİM</b></div></div>
                                                                        <div class="row" style="margin-top:5%;"><img src="/public/img/izlemler.svg" class="" style="height: 64px;margin:auto;"> </div>
                                                                     </div>
                                                               </div>
                                                            </div>
                                                </div>
                                 </div>
                        </div>








                  </div>
                  <div class="col-md-5" >
                           <div class="row" style="margin-top:1%;margin-bottom:1%;">
                            <div class="col-md-6" >
                                     <div class="row" style="">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row testlerheaderDiv">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Kadın Sağlığı İşlemleri</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="testlerTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 325px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% KadinSaglikIslemleri.forEach(function(element) { %>
                                                    <div class="row kadinSaglikRow">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                                     </div>
                            </div>
                             <div class="col-md-6" >
                                  <div class="row" style="">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                    <div class="row testlerheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Kadın Sağlığı Risk Faktörleri</div>                                               
                                                    </div>
                                               </div>
                                               <div class="container" id="testlerTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 325px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       <% KadinSaglikRiskFaktorleri.forEach(function(element) { %>
                                                    <div class="row kadinRiskFakt">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                                  </div>
                            </div>
                           </div>
                          
                  </div>

         </div>
</div>


