
<div class="" style="margin-top:2%;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -20px;height: 75px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: fit-content;text-align: center;font-size: xx-large;">KANSER İZLEM</div>
<div class="container btnKanserHedefListesi" style="border-top-left-radius: 0;border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;position: relative;z-index: 5;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/basvurulistesi.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Kanser Hedef listesi</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>
<div class="container btnKanserTarama" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;position: relative;z-index: 4;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/EvdeSaglikHizmetIslem.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Kanser Tarama Analiz Ekranı </div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>

<div class="container btnHPV" style="border-radius: 15px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;padding: 25px;border-top-left-radius: 0;position: relative;z-index: 3;">
          <div class="row" style="">
               <div class="col-md-3" style="">
                         <img src="/public/img/HastaNakil.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
                <div class="col-md-6" style="">
                         <div class="" style="font-size: xx-large;margin-top: 41px;text-align: left;color: #325179;font-family: Avenir Next;">Toplu HPV Sonuç Sorgulama</div>
                </div>
               <div class="col-md-3" style="">
                         <img src="/public/img/dahaFazla.svg" style="margin: auto;height: 130px;width: 95px;">
               </div>
          </div>
</div>


<form id="KanserHedeflistesiForm" action="/izlemler/Kanserizlem/kanserHedeflistesi" method="post">
</form>

<form id="KanserTaramaAnalizEkranıForm" action="/izlemler/Kanserizlem/kanserTaramaAnalizEkrani" method="get">
</form>


<form id="TopluHPVSonucSorgulamaForm" action="/izlemler/Kanserizlem/TopluHPVSonucSorgulama" method="get" >
</form>

<script src="../public/js/kanser.js"></script>
