<%- include('hastaHeader'); -%>

<div class="row" style="margin-top: 20px;">
              <div class="col-md-6">
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Tarama Türü</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% TaramaTürü.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                     <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                <div class="input-group mb-3 col-md-10">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Tarama Tarihi</span>
                                     </div>
                                     <input class="form-control" name="hemoglobin" type="date" aria-label="Default" aria-describedby="">
                                </div>                               
                    </div>
                     <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                <div class="input-group mb-3 col-md-10">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">HPV Tarama Barkodu</span>
                                     </div>
                                     <input class="form-control" name="hemoglobin" type="text" aria-label="Default" aria-describedby="">
                                      <select id="anemiGrubu" class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                      </select>
                                </div>                               
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Gaitada Gizli Kan Testi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% GaitadaGizliKanTesti.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                     <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Kendine Meme Muayenesi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% KendiKendineMemeMuayenesi.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                     <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Klinik Meme Muayenesi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% KlinikMemeMuayenesi.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">PAP-Smear Testi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% PapSmearTesti.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">HPV Tarama Testi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% HPVTaramaTesti.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Kolon Görüntüleme Yöntemi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% KolonGörüntülemeYöntemi.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                      <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Mamografi</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% Mamografi.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                     <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                <div class="input-group mb-3 col-md-10">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Bildirimi</span>
                                     </div>
                                     <input class="form-control" name="hemoglobin" type="text" aria-label="Default" aria-describedby="" placeholder="Erişim No.">
                                      <select id="a" class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                      </select>
                                </div>                               
                    </div>
                      <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Sonucu</span>
                                       </div>
                                       <select id="anemiGrubu" class="browser-default custom-select">
                                          <% MamografiSonucu.forEach(function(e) { %>
                                                 <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}); %>                                       </select>
                                  </div>
                    </div>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                 <div class="input-group mb-3 col-md-10">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Sonlanması</span>
                                       </div>
                                       <select id="a" class="browser-default custom-select">
                                                                                    
                                       </select>
                                  </div>
                    </div>

              </div>
              <div class="col-md-6">
                        <div class="row" style="margin-top:3%;">
                               <div class="col-md-6">
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">HPV Tipleri</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="HPVTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 200px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% HPVTipleri.forEach(function(element) { %>
                                                    <div class="row HPVRow">
                                                            <div class="col-md-3 cbxHPV" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimHPV" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                               </div> 
                               <div class="col-md-6">
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">Servikal Sitoloji Sonuçları</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="ServikalTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 200px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% ServikalSitoloji.forEach(function(element) { %>
                                                    <div class="row ServikalRow">
                                                            <div class="col-md-3 cbxServikal" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimServikal" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>                                              
                               </div>
                        </div>
                          <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;margin-top:5%;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                                        </div>
        
                         </div>
                         <div class="container" id="secilenlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 200px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       
                        </div>
                        <div class="" style="margin-top:4%;">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                         </div>
                         <div class="">
                                         <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                               <textarea class="kutu" rows="10" placeholder="Örnek.." style="height:150px;" required=""></textarea>
                                         </div>
                         </div>
                  </div>
</div>
<div class="row" style="margin-top:2%;">
      <div class="col-md-3">
            <div class="custom-control custom-checkbox custom-control-inline">
                                       <input type="checkbox" class="custom-control-input" name="servik" id="servik" value="servik">
                                       <label class="custom-control-label" for="servik">Serviks T.Onam Formu Verilmiş</label>
            </div> 
      </div>
        <div class="col-md-3">
            <div class="custom-control custom-checkbox custom-control-inline">
                                       <input type="checkbox" class="custom-control-input" name="meme" id="meme" value="meme">
                                       <label class="custom-control-label" for="meme">Meme T.Onam Formu Verilmiş</label>
            </div> 
      </div>
        <div class="col-md-3">
            <div class="custom-control custom-checkbox custom-control-inline">
                                       <input type="checkbox" class="custom-control-input" name="konanomali" id="konanomali" value="konanomali">
                                       <label class="custom-control-label" for="konanomali">Kolorektal T.Onam Formu Verilmiş</label>
            </div> 
      </div>
      <div class="col-md-3">
            <button id="btnKaydet" type="button" class="btn btn-primary" style="width: 200px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
      </div>
</div>

<script>

  $( "#btnKaydet" ).click(function() {
  //  var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
   // $('#TopluHPVSonucSorgulamaForm').append(input);
    //$('#yenitarama').submit();
     
  });

var secilenHPVIsaretler=[];
var secilenServikaller=[];


   
    

$(document).on('click', ".HPVRow", function(){
    //Your code

    if($(this).children(".cbxHPV").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxHPV").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxHPV").children().attr("name");
        var ADI= $(this).children(".isimHPV").html();
       var html= '<div  class="row secilenler ">';
       html+= '<div class="col-md-1 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;">'+KODU+'</div>'; 
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
       $("#secilenlerTable").append(html);

   
        var t={KODU:KODU,ADI:ADI};
        secilenHPVIsaretler.push(t);
    }
    else{
        $(this).children(".cbxHPV").children().css('background-color','red')
        var KODU= $(this).children(".cbxHPV").children().attr("name");
        var str=":contains("+KODU+")" ;
        $(".secilenler").remove(str);
        secilenHPVIsaretler.forEach(element => {
            if(element.KODU==KODU){
                secilenHPVIsaretler = jQuery.grep(secilenHPVIsaretler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$(document).on('click', ".ServikalRow", function(){
    //Your code

    if($(this).children(".cbxServikal").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxServikal").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxServikal").children().attr("name");
        var ADI= $(this).children(".isimServikal").html();
 var html= '<div  class="row secilenler ">';
       html+= '<div class="col-md-1 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;">'+KODU+'</div>'; 
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
       $("#secilenlerTable").append(html);
      
        var t={KODU:KODU,ADI:ADI};
        secilenServikaller.push(t);
    }
    else{
        $(this).children(".cbxServikal").children().css('background-color','red')
        var KODU= $(this).children(".cbxServikal").children().attr("name");
         var str=":contains("+KODU+")" ;
        $(".secilenler").remove(str);
        secilenServikaller.forEach(element => {
            if(element.KODU==KODU){
                secilenServikaller = jQuery.grep(secilenServikaller, function(value) {
                    return value != element;
                  });

            }
        });

    }
});



</script>