<script>
$(document).on('click', ".hastaTypeRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.hastaTypeRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceHastaType").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceHastaType").html();
    }
});

$(document).on('click', ".KTRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.KTRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceKT").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceKT").html();
    }
});

$(document).on('click', ".cinsRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.cinsRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceCins").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceCins").html();
    }
});

</script>
<div class="container">

<div class="row"  style="margin-top: 3%;">
             <div class="col-md-6">
                  <div class="container">
                       <div class="row">
                             <div class="col-md-6">
                                   <div class="row hastaTypeRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceHastaType" style="padding: 10px;">Kesin Kayıtlı</div>
                                   </div>
                             </div>
                             <div class="col-md-6">
                                    <div class="row hastaTypeRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceHastaType" style="padding: 10px;">Tüm Hastalar</div>
                                   </div>                             
                             </div>
                       </div>
           </div>                     
                       <div class="row"  style="margin-top: 2%;">
                              <div class="input-group col-md-12">
                                               <div class="input-group-prepend">
                                                    <span class="input-group-text " id="inputGroup-sizing-default">Hedef Liste</span>
                                               </div>
                                                 <select class="browser-default custom-select">
                                             
                                                 </select>
                              </div>
                       </div>
           <div class="container">
                        <div class="row" style="margin-top: 2%;">
                             <div class="col-md-6">
                                   <div class="row KTRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceKT" style="padding: 10px;">K.T. Kaydı Olmayan Hastalar</div>
                                   </div>
                             </div>
                             <div class="col-md-6">
                                    <div class="row KTRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceKT" style="padding: 10px;">K.T. Kaydı Olan Hastalar</div>
                                   </div>                             
                             </div>
                       </div>
                         <div class="row" style="margin-top: 2%;">
                             <div class="col-md-6">
                                   <div class="row cinsRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceCins" style="padding: 10px;">Erkek</div>
                                   </div>
                             </div>
                             <div class="col-md-6">
                                    <div class="row cinsRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceCins" style="padding: 10px;">Kadın</div>
                                   </div>                             
                             </div>
                        </div>
            </div> 
                        <div class="row">
                                <div class="input-group col-md-12">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Tarama Tarihi</span>
                                     </div>
                                     <input class="form-control" name="" type="date" aria-label="Default" aria-describedby="" placeholder="">
                                     <input class="form-control" name="" type="date" aria-label="Default" aria-describedby="" placeholder="">
                                </div>
                        </div>
            </div>
            <div class="col-md-6">
                      <div class="row"> <div class="col-md-12" style="color: #325179;font-family: Avenir Next;">SERVİKS TARAMASI</div></div>
                      <hr style="background-color:#325179">
                      <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">HPV Tipi</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% HPVTipleri.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">HPV Tarama Testi</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% HPVTaramaTesti.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">PAP-SMEAR Testi</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% PapSmearTesti.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Servikal Sitoloji  </span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% ServikalSitoloji.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
            </div>
</div>
<div class="row"  style="margin-top: 2%;">
            <div class="col-md-6">
                      <div class="row"> <div class="col-md-12" style="color: #325179;font-family: Avenir Next;">MEME TARAMASI</div></div>
                      <hr style="background-color:#325179">
                      <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Klinik Meme Muayenesi</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% KlinikMemeMuayenesi.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Mamografi  </span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% Mamografi.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Sonucu </span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% MamografiSonucu.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                <div class="container">
                        <div class="row" >
                              <div class="col-md-4" style="">
                                   <div class="row mamogRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceMamog" style="padding: 10px;">Mamografi </div>
                                   </div>
                             </div>
                             <div class="col-md-4"style="">
                                    <div class="row mamogRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceMamog" style="padding: 10px;">Bildirim Yapılanlar </div>
                                   </div>                             
                             </div>
                              <div class="col-md-4"style="">
                                    <div class="row mamogRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceMamog" style="padding: 10px;">Bildirim Yapılmayanlar </div>
                                   </div>                             
                             </div>
                      </div>
                  </div>
                        <div class="row" >     
                                <div class="input-group mb-3 col-md-12">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Mamografi Bildirim No</span>
                                     </div>
                                     <input class="form-control" name="hemoglobin" type="text" aria-label="Default" aria-describedby="">
                                </div>                   
                      </div>
            </div>
            <div class="col-md-6">
                      <div class="row"> <div class="col-md-12" style="color: #325179;font-family: Avenir Next;">KOLOREKTAL TARAMASI</div></div>
                      <hr style="background-color:#325179">
                      <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Gaitada Gizli KanTesti</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% GaitadaGizliKanTesti.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>
                       <div class="row" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Kolon Görüntüleme Yöntemi</span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                           <% KolonGörüntülemeYöntemi.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                           <%}); %>
                                       </select>
                                  </div>
                      </div>     
                      <div class="container">              
                       <div class="row" >
                              <div class="col-md-6" style="">
                                   <div class="row barkodRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choicebarkod" style="padding: 10px;">HPV Barkodlu Kayıtlar </div>
                                   </div>
                             </div>
                             <div class="col-md-6"style="">
                                    <div class="row barkodRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choicebarkod" style="padding: 10px;">HPV Barkodsuz Kayıtlar </div>
                                   </div>                             
                             </div>
                      </div>
                        </div>
                      <div class="row"style="margin-top: 2%;" >
                                  <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Sonuç Durumu  </span>
                                       </div>
                                       <select id="anemiGrubu"class="browser-default custom-select">
                                         <option selected="">Seçiniz..</option>
                                         
                                       </select>
                                  </div>
                      </div>                  
            </div>
    </div>
                      <div class="container">              
    <div class="row" >
                              <div class="col-md-4" style="">
                                   <div class="row onamRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceOnam" style="padding: 10px;">Serviks T.Onam Formu Verilmiş </div>
                                   </div>
                             </div>
                             <div class="col-md-4"style="">
                                    <div class="row onamRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceOnam" style="padding: 10px;">Meme T.Onam Formu Verilmiş </div>
                                   </div>                             
                             </div>
                              <div class="col-md-4"style="">
                                    <div class="row onamRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choiceOnam" style="padding: 10px;">Kolorektal T.Onam Formu Verilmiş</div>
                                   </div>                             
                             </div>
     </div></div>
     <div class="row" style="margin-top:3%;">
                                           
           <button id="btnListele" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Listele</button>
     </div>
</div>


<script>
$(document).on('click', ".barkodRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.barkodRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choicebarkod").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choicebarkod").html();
    }
});

$(document).on('click', ".mamogRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $('.mamogRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceMamog").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceMamog").html();
    }
});
$(document).on('click', ".onamRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
       // $('.onamRow').children(".cbx").children().css('background-color','red')
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choiceOnam").html();
        
        

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choiceOnam").html();
    }
});

</script>