<%- include('hastaHeader'); -%>

<div class="row" style="margin-top: 20px;">
                              <div class="col-md-6">
                                              <div class="container" style="height: 10%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                     <div class="row" id="secilenHeader">
                                                           <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;border-top-left-radius: 20px;">
                                                                  Tarama Adı
                                                          </div> 
                                                          <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                                                  Tarama Tarihi
                                                         </div>  
                                                           <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                                                  USS
                                                          </div>  
                                            
                                                          <div class="col-md-3" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                                                   SMS
                                                         </div>
                                                    </div>
                                               </div>
                                               <div class="container" id="KadinSaglikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 90%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      
                                                    <!--<div class="row KadinRow">
                                                            <div class="col-md-3 cbxKadin" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="1"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimKadin" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">ÜREME SAĞLIĞI DANIŞMANLIĞI</div> 
                                                    </div>-->
                                                                          
                                               </div>  
                              </div>
                              <div class="col-md-6">
                                    <div style="border-radius: 20px; padding: 14px;background-color:white;width: 100%;text-align: left;box-shadow: 6px 7px 6px grey;">                                                    
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Tarama Türü:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Kanser Veri Paketi Tümü</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Tarama Tarihi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">12/12/19</div></div>
                                        </div>
                                        <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>PAP-Semar Testi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Kolon Görüntüleme Yöntemi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>HPV Tarama Barkodu:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>HPV Tarama Testi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>İşlem Türü:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Mamografi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Gaitada Gizli Kan Testi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Mamografi Bildirimi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                        </div>
                                         <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Kendi Kendine Meme Muayenesi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Mamografi Sonucu:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                        </div>
                                           <div class="row" style="margin-top:2%;">   
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Klinik Meme Muayenesi:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Yapılmadı</div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;"><b>Tarama Sonlanması:</b></div></div>
                                                                        <div class="col-md-3" style=""><div style="margin: auto;color: #325179;font-size: inherit;">Sonlandı</div></div>
                                        </div>
                                     
                                     


                                    </div>
                              </div>
</div>





<div class="row" style="margin-top:3%;">
        <div class="col-md-3">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">HPV Tipleri</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="HPVTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 300px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                    
                                               </div>  
       </div> 
       <div class="col-md-3">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-top-left-radius: 20px;border-top-right-radius: 20px;">Servikal Sitoloji Sonuçları</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="ServikalTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 300px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                    
                                               </div>  
       </div>
       <div class="col-md-6">

                                  <div class="custom-control custom-checkbox custom-control-inline">
                                       <input type="checkbox" class="custom-control-input" name="konanomali" id="konanomali" value="konanomali">
                                       <label class="custom-control-label" for="konanomali">Kolorektal Onam Formu Verilmiş</label>
                                 </div>
                      <div class=""style="margin-top:2%;">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                      </div>
                      <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                      </div>
                     <div class="row" style="margin-top:3%;">
                                           
                           <button id="btnYeniTarama" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Yeni Tarama</button>
                     </div>

      </div>
</div>








<form id="yenitarama" method="post" action="/izlemler/Kanserizlem/kanserHedeflistesi/YeniTarama">
</form>

<script>

  $( "#btnYeniTarama" ).click(function() {
  //  var input = $("<input>").attr("type", "hidden").attr("name", "izlemAdı").val("topluhpvsonucsorgulama");
   // $('#TopluHPVSonucSorgulamaForm').append(input);
    $('#yenitarama').submit();
     
  });

var secilenHPVIsaretler=[];
var secilenServikaller=[];


   
    

$(document).on('click', ".HPVRow", function(){
    //Your code

    if($(this).children(".cbxHPV").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxHPV").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxHPV").children().attr("name");
        var ADI= $(this).children(".isimHPV").html();

   
        var t={KODU:KODU,ADI:ADI};
        secilenHPVIsaretler.push(t);
    }
    else{
        $(this).children(".cbxHPV").children().css('background-color','red')
        var KODU= $(this).children(".cbxHPV").children().attr("name");
        secilenHPVIsaretler.forEach(element => {
            if(element.KODU==KODU){
                secilenHPVIsaretler = jQuery.grep(secilenHPVIsaretler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$(document).on('click', ".ServikalRow", function(){
    //Your code

    if($(this).children(".cbxServikal").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxServikal").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxServikal").children().attr("name");
        var ADI= $(this).children(".isimServikal").html();

      
        var t={KODU:KODU,ADI:ADI};
        secilenServikaller.push(t);
    }
    else{
        $(this).children(".cbxServikal").children().css('background-color','red')
        var KODU= $(this).children(".cbxServikal").children().attr("name");
        secilenServikaller.forEach(element => {
            if(element.KODU==KODU){
                secilenServikaller = jQuery.grep(secilenServikaller, function(value) {
                    return value != element;
                  });

            }
        });

    }
});



</script>
