


<%- include('hastaHeader'); -%>

 <form id="kisaAnamnezForm">



<div class="container">

<div class="row">
         <div class="col-md-6">
                    <div class="row">

                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Şikayet</div>                            

                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea name="sikayet" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
         </div>  
        <div class="col-md-6">
                    <div class="row">

                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Hikaye ve Fizik Muayene</div>                            

                    </div>
                    <div class="row">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea name="hikaye"class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
         </div>                           
</div>



<div class="row" style="margin-top:1%;">
      
                                                            <div class=" form-group has-search" style="width: 100%;" >
                                                                     <span class="fa fa-search form-control-feedback"></span>
                                                                     <input id="taniAra" class="form-control"  type="text" placeholder="Tanı Ara" aria-label="Default" aria-describedby="" style="font-size:2rem;box-shadow: 6px 7px 6px grey;    border-radius: 1rem;">
                                                            </div>                            
</div>

<div class="row" style="margin-top:1%;">
      
                             <div id="onTanı" class="col-md-3 selected tanıTür" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">Ön Tanı</div>
                             <div id="anaTanı" class="col-md-3 tanıTür" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Ana Tanı</div>
                             <div id="ekTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;padding: 18px;text-align: center;">Ek Tanı</div>
                             <div id="ayırıcıTanı"class="col-md-3 tanıTür" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Ayırıcı Tanı</div>
               
</div>
</div>



<div class="row" style="margin-top:1%;">
         <div class="col-md-6" style="">
                   
                             <div class="container" id=""style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 20px;border-top-right-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row headerDiv">
                                             <div class="col-md-2" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                             ICD Kodu
                                           </div>  
                                            <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                            </div>
                            <div class="container" id="taniTable"style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: overlay;overflow-x: hidden;border-top-left-radius: 0;border-top-right-radius: 0;">
                                   
                                         <% ICDLER.forEach(function(ICD) { %>
                                    
                                      <div class="row taniRow">
                                             <div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                    <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= ICD.KODU+"?"+ICD.ADI %>"></div>
                                           </div> 
                                           <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"> <%= ICD.KODU %></div>  
                                            <div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= ICD.ADI  %></div>
                                     </div>
                                         <%}); %>
                            </div>
                                 
         </div>  
       <div class="col-md-6">
                   
                    
                            <div class="container" id="secilenTanilarTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row" id="secilenHeader">
                                             <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;">
                                              ICD Kodu
                                           </div> 
                                           <div class="col-md-4" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                            Tanı Türü
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             İsim
                                           </div>
                                     </div>
                                                 
                            </div>
                                 
         </div>         
</div>

<div class="row" style="margin-top:1%;">
        <div class="col-md-6">
                    <div class="">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                    </div>
                    <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                    </div>
         </div>    
         <div class="col-md-6" style="height:30px;">
                <div class="row" style="margin-top:5%">
                             <div class="col-md-4" style="">
                                  Kontrole Gelecek                    
                             </div>
                              <div class="col-md-4" style="">
                                  <label class="switch">
                                       <input name="kontrolTarihi" id="datepicker" type="checkbox">
                                       <span class="slider round"></span>
                                  </label>
                             </div>
                              <input type="text" id="" style="display:none;">
                </div>
                       <div class="row" style="margin-top: 2%;">
                              <button type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Sevket</button>
                              <button id="receteBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Reçete</button>
                              <button id="mynBitirBtn" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Muayeneyi Bitir</button>

                         </div>
                 
         </div>  
                               
</div>








<!-- Modal -->
<div class="modal" id="sevketModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content" style="background-color:#f1f3f3;">
    <div class="modal-header" style="background-color: #325179;color: white;text-align:center;">
       <div style="color: white;    font-size: x-large;">Sevk Bilgileri</div> 
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
   
    <div class="container" style="margin-top: 3%;">
         <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Nedeni</div>
                        <div class="col-md-6" style="">     
                                  <select class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                         <% sevkNedeni.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                         <%}); %>
                                  </select>

                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edilen Hastane</div>
                        <div class="col-md-6" style="">     
                                  <select class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                                 <option value="sgk">SGK</option>
                                  </select>

                        </div>        
          </div>
         <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Vasıtası</div>
                        <div class="col-md-6" style="">     
                                      <label class="radio-inline">
                                            <input type="radio" value="1" name="sevkVasitasi" checked>Ambulans
                                      </label>
                                      <label class="radio-inline" style="margin-left: 10%;">
                                            <input type="radio" value="0" name="sevkVasitasi">Kendi İmkanlarıyla
                                      </label>
                        </div>          
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Refakatçi Durumu</div>
                        <div class="col-md-6" style="">     
                                      <label class="radio-inline">
                                            <input type="radio" value="1" name="refakatci" checked>Var
                                      </label>
                                      <label class="radio-inline" style="margin-left: 10%;">
                                            <input type="radio" value="0"name="refakatci">Yok
                                      </label>
                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edileceği İl</div>
                        <div class="col-md-6" style="">     
                                  <select id="iller" class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                                 <% iller.forEach(function(element) { %>
                                                 <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                  </select>
                        </div>        
          </div>
       



          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Sevk Edileceği İlçe</div>
                        <div class="col-md-6" style="">     
                                  <select id="ilceler"class="browser-default custom-select">
                                                 <option selected="">Seçiniz..</option>
                                  </select>

                        </div>        
          </div>
          <div class="row" style="margin-top: 2%;">
                        <div class="col-md-4" style="">Açıklama</div>
                        <div class="col-md-6" style="">     
                                 <div style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>

                        </div>        
          </div>


    </div>
    <div class="modal-footer" style="display: block;text-align: center;margin-top: 2%;">
                              <button id="temizleSevketModal" type="button" class="" data-toggle="modal" data-target="#sevketModal" style="width: 25%;margin-left: 5%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Temizle</button>
                              <button type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;"data-dismiss="modal">Kaydet</button>
    </div>
  </div>
  
</div>
</div>
</div>


</form>

<form id="tanilariKaydetForm" action="/hasta//kisaAnamnez/TaniKaydet" method="post"></form>
</form>




<script>
$(document).ready(function(){
 
 


$( "#temizleSevketModal").click(function() {

   
    $("#sevketModal")
    .find("input,textarea,select")
    .val('')
    .end()
    .find("input[type=checkbox], input[type=radio]")
    .prop("checked", "")
    .end();


});

var secilenTanılar=[];

$( "#receteBtn").click(function() {
    $('#kisaAnamnezForm').attr('action', '/hasta/kisaAnamnez/recete');
    $('#kisaAnamnezForm').attr('method', 'get');
    secilenTanılar.forEach(element => {
        var string=element.kod+"?"+element.taniTuru+"?"+element.isim;
        var input = $("<input>").attr("type", "hidden").attr("name", "tanilar").val(string);
        $('#kisaAnamnezForm').append(input);
    });

    $('#kisaAnamnezForm').submit();
});

$( "#mynBitirBtn").click(function() {

    var input = $("<input>").attr("type", "hidden").attr("name", "secilenTanilar").val(JSON.stringify(secilenTanılar));
    $('#tanilariKaydetForm').append(input);
    var input = $("<input>").attr("type", "hidden").attr("name", "hastaId").val((<%=hasta.Id%>));
    $('#tanilariKaydetForm').append(input);
    $("#tanilariKaydetForm").submit();
});



$(document).on('click', ".taniRow", function(){
    //Your code

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];;
        var isim= $(this).children(".cbx").children().attr("name").split("?")[1];;

       var html= '<div  class="row secilenTanilarTable ">';
       html+= '<div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+kod+'</div>'; 
       html+= '<div class="col-md-4 tür" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">'+tanıTürü+'</div>';  
       html+= '<div class="col-md-4 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+isim+'</div> </div>';
      
        $("#secilenTanilarTable").append(html);
        var t={kod:kod,taniTuru:tanıTürü,isim:isim};
        secilenTanılar.push(t);
    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];
        var str=":contains("+kod+")" ;
        $(".secilenTanilarTable").remove(str);
        secilenTanılar.forEach(element => {
            if(element.kod==kod){
                secilenTanılar = jQuery.grep(secilenTanılar, function(value) {
                    return value != element;
                  });

            }
        });

    }
});
    $("#taniAra").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        
            // $.ajax({
            //     url: '/tanFilter',
            //     method: 'get',
            //     data: { value: value }
            //     }).done(function(tanılar) {
                    
            //        $( ".taniRow" ).remove();

                  
            //         $.each(tanılar, function (index, value) {
            //             var html= '<div class="row taniRow">';
            //             html+= '<div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
            //             html+= '<div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
            //             html+= ' <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+value.KODU+'</div>  ';
            //             html+= '<div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';

            //            // $( "#taniTable" ).append(html);      
            //            $( ".headerDiv" ).after(html);                 
                       
            //         });  
                                                     
            // });
            $( ".taniRow" ).remove();
            $.get( "/tanFilter", { value:value} )
                .done(function( tanılar ) {
                  
                            $.each(tanılar, function (index, value) {
                                color="red"
                                var found_names = $.grep(secilenTanılar, function(v) {
                                    return v.kod === value.KODU;
                                });
                                if (found_names.length==1){color="green"}
                              var html= '<div class="row taniRow">';
                              html+= '<div class="col-md-2 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">'; 
                              html+= '<div class="tik" style="background-color:'+color+';height: 25px;width: 25px;margin-left: 46%;" name="'+value.KODU+'?'+value.ADI+'"></div></div> ';  
                              html+= ' <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">'+value.KODU+'</div>  ';
                              html+= '<div class="col-md-6 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">'+value.ADI+'</div> </div>';
      
                              $( ".headerDiv" ).after(html);         
                            });  
            });

    });



var tanıTürü="Ön Tanı";
$( "#anaTanı").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();
    }
});
$( "#ekTanı").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});
$( "#ayırıcıTanı").click(function() {
    if($(this).hasClass("selected")){
    
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});
$( "#onTanı").click(function() {
    if($(this).hasClass("selected")){
      
    }
    else{
        $(".tanıTür").css("background-color","#b5d8e5");
        $(".tanıTür").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        tanıTürü=$(this).text();

    }
});





$("#datepicker").change(function() {
    if($(this).prop('checked')) {
        $(this).datepicker();

    } else {
        $(this).datepicker("hide");
    }
});




//_-----------------il seçince ilçeler gelsin


$('#iller').on('change', function() {
    var ilkodu= this.value;

    $.ajax({
        url: '/ilceleriGetir',
        method: 'get',
        data: { ilkodu: ilkodu }
        }).done(function(res) {
            var ilceArray=res.ilceler;
            for (var i = 0; i <= ilceArray.length; i++) {
                $('#ilceler').append('<option value="' + ilceArray[i].KODU + '">' + ilceArray[i].ADI + '</option>');
            }
    });
 
});

});


</script>



