<form id="tanilariKaydetForm" action="/hasta//kisaAnamnez/TaniKaydet" method="post"></form>
<%- include('hastaHeader'); -%>


   <div class="container">

<div class="row" style="margin-top:1%;">
                             <div id="TümilaclarSekmesi" class="col-md-2 selected ilacSekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">Tüm İlaçlar</div>
                             <div id="bnmlistemSekmesi" class="col-md-2 ilacSekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Benim Listem</div>
                             <div id="skKullanilanlarSekmesi"class="col-md-2 ilacSekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Sık Kullanılanlar</div>
                             <div id="hastaIlaclariSekmesi"class="col-md-2 ilacSekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Hasta İlaçları</div>
                             <div id="majilacSekmesi"class="col-md-2 ilacSekme" style="background-color: #b5d8e5;text-align: center;padding: 18px;text-align: center;">Majilaç/Tib.Mal</div>
                             <div id="taniIlacSekmesi"class="col-md-2 ilacSekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Tanı İlaç Listesi</div>
</div>


<div class="row" style="margin-top: 2%;">
                        <div class="col-md-1" >İlaç Adı:</div>
                        <div class="col-md-5">     
                                        <input id="ilacAra" class="form-control"  type="text" placeholder="İlaç Ara" >
                        </div>       
                        <div class="col-md-2" >Reçete Türü:</div>
                        <div class="col-md-4" >     
                                      <select id="receteTur"class="browser-default custom-select">
                                                  <% receteTuru.forEach(function(element) {
                                                    if(element.ADI=="NORMAL"){%>
                                                        <option selected value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                   <% }
                                                    else { %> 
                                                         <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%} }); %>
                                      </select>
                        </div>                   
 </div>

<div class="row" style="margin-top:1%;">
         <div class="col-md-6" style="height:30px;">
                   
                    
                            <div class="container" id="ilacTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;
overflow-x: hidden;">
                                     <div class="row">
                                             <div class="col-md-1" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">
                                           </div> 
                                           <div class="col-md-5" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;">
                                             İlaç Adı
                                           </div>  
                                            <div class="col-md-4" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             Etkin Madde
                                           </div>
                                            <div class="col-md-2" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                             Satış Fiyatı
                                           </div>
                                     </div>
                                         <% ilaclar.forEach(function(e) { %>
                                    
                                      <div  class="row ilacRow">
                                             <div class="col-md-1 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                    <div class="tik" style="background-color: red;height: 25px;width: 25px;margin-left: 46%;" name="<%= e.ADI+'?'+e.ATC_ADI+'?'+e.BARKODU %>"></div>
                                           </div> 
                                           <div class="col-md-5 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"><%=e.ADI %></div>  
                                            <div class="col-md-4 kod" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;"><%=e.ATC_ADI %></div>  
                                            <div class="col-md-2 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"></div>
                                     </div>
                                         <%}); %>
                            </div>
                                 
         </div>  
       <div class="col-md-6">
                   
                    
                            <div class="container" id="secilenIlacRow" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 250px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                     <div class="row" id="secilenHeader">
                                             <div class="col-md-6" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;">
                                              ICPC Kodu
                                           </div> 
                                           <div class="col-md-6" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;">
                                            İlaç Adı
                                           </div>  
                                          
                                     </div>
                                                 
                            </div>
                                 
         </div>         
</div>


<div class="row" style="MARGIN-TOP: 2%;">
                              <div id="ilacAdıKullanım" class="" style="min-width: 80px;background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;text-align: center;"></div>                            
</div>
<div class="row">
        <div class="col-md-9"style="border-radius: 20px; padding: 14px;background-color: white;width: 98%;text-align: center;box-shadow: 6px 7px 6px grey;">

                                        <div class="row" style="margin-top: 2%;">
                                                     <div class="col-md-2" style="text-align: left;">Kullanım Şekli :</div>
                                                     <div class="col-md-4" style="">     
                                                         <select id="kullanimsekli"class="browser-default custom-select">
                                                              <option selected="">Seçiniz..</option>
                                                                    <% kullanımSekli.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                              </select>
                                                     </div>    
                                                     <div class="col-md-1" style="text-align: left;">Brimi :</div>
                                                     <div class="col-md-5" style="">     
                                                         <select id="birimi"class="browser-default custom-select">
                                                              <option selected="">Seçiniz..</option>
                                                                    <% KullanimPeriyoduBirimi.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                              </select>                                                     </div>         
                                        </div>
                                        <div class="row" style="margin-top: 2%;">
                                                     <div class="col-md-2" style="text-align: left;">Kullanım Periyodu :</div>
                                                     <div class="col-md-4" style="">     
                                                         <select id="kullanimperiyodu"class="browser-default custom-select">
                                                              <option selected="text-align: left;">Seçiniz..</option>
                                                                  <% for(var i=0; i<10; i++) { %>
                                                                     <option value="<%= i+'x' %>"> <%= i+"x" %></option>
                                                                     <%}%>
                                                              </select>
                                                     </div>    
                                                     <div class="col-md-1" style="text-align: left;">Miktar :</div>
                                                     <div class="col-md-5" style="">     
                                                         <select id="miktar"class="browser-default custom-select">
                                                             <option selected="">Seçiniz..</option>
                                                                  <% for(var i=0; i<10; i++) { %>
                                                                     <option value="<%= 'x'+i %>"> <%= "x"+i %></option>
                                                                     <%} %>
                                                              </select>                                                 </div>         
                                        </div>
                                        <div class="row" style="margin-top: 2%;">
                                                     <div class="col-md-2" style="text-align: left;">İlaç Açıklaması :</div>
                                                     <div class="col-md-4" style="">   
                                                                <input class="form-control" type="text" placeholder="Örnek..">
                                                     </div> 
                                        </div>
                                        <div class="row" style="margin-top: 2%;">
                                           <button type="button" class="" data-toggle="modal" data-target="#aciklamaModal" style="width: 25%;margin-left: 25%;background-color: #325179;color: white;border-radius: 16px;padding: 21px;">Açıklama</button>
                                           <button id="sabitle" type="button" class="btn btn-primary" style="width: 25%;margin-left: 8%;background-color: #325179;color: white;border-radius: 16px;">Bilgileri Sabitle</button>

                                       </div>



        </div>
         <div class="col-md-1" style=""> 
                     
        </div>
        <div class="col-md-2" style=""> 
                         <div class="row" style="margin-top:10%;"> 
                                        <div style="color: #325179;font-size: 22px;"><img src="/public/img/temizle.svg" class="" style="height: 40px;margin-right: 12px;"><b>TEMİZLE</b></div>
                         </div>   
                         <div class="row" style="margin-top:10%;"> 
                                        <div style="color: #325179;font-size: 22px;"><img src="/public/img/güncelle.svg" class="" style="height: 40px;margin-right: 12px;"><b>GÜNCELLE</b></div>
                         </div>   
                         <div class="row" style="margin-top:10%;"> 
                                        <div id="renkliRecete" style="color: #325179;font-size: 22px;"><img src="/public/img/secilenleriAta.svg" class="" style="height: 40px;margin-right: 12px;"><b>RENKLİ REÇETE</b></div>
                         </div>   
                         <div class="row" style="margin-top:10%;"> 
                                        <div id="recetePDFbtn"style="color: #325179;font-size: 22px;"><img src="/public/img/secilenleriAta.svg" class="" style="height: 40px;margin-right: 12px;"><b>Reçete Görüntüle</b></div>
                         </div>  
        </div>
</div>
  </div>









<!-- Modal -->
<div class="modal" id="aciklamaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog modal-lg">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
    <h4 class="">ATASPIN 500 mg</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <form id="tempForm">
    <div class="container" style="margin-top: 3%;">
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Barkod</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Durumu</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
        </div>   
         <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Etken Madde</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
                <div class="col-md-6">
                           

                </div>   
        </div>   
       <div class="row" style="margin-top: 2%;">
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>Birim</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>Birim Cinsi</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>İthal/İmal</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Farmostic Form</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-6">
                           
                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>Ambalaj</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>Ambalaj Birim</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-4">
                            <div class="col-md-6" style="color:blue;"><b>Reçete</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
        </div>  
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Firma Adı</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-6">
                           
                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Referans Ülke</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-6">
                           
                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Satış Fiyatı</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Değişiklik Tarihi</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 

                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
                <div class="col-md-6">
                            <div class="col-md-6" style="color:blue;"><b>Son Durum</b></div> 
                            <div class="col-md-6" style="color:black;">örnek</div> 
                </div>   
                <div class="col-md-6">
                           
                </div>   
        </div>   
        <div class="row" style="margin-top: 2%;">
<table class="tg" style="margin: auto; width:99%;">
  <tbody><tr>
    <th class="tg-baqh" colspan="4">Eş Değer İlaç Listesi</th>
  </tr>
  <tr>
    <td class="tg-jmv7">İlaç Adı</td>
    <td class="tg-jmv7">Satış Fiyatı</td>
    
  </tr>
  <tr>
    <td class="tg-0lax">majezik</td>
    <td class="tg-0lax">50 tl</td>
    
  </tr>
  <tr>
    <td class="tg-hmp3">novalgin</td>
    <td class="tg-hmp3">30 tl</td>
   
  </tr>
</tbody></table>

        </div>





    </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="bg-success" data-dismiss="modal">Kapat</button>
    </div>
  </div>
  
</div>
</div>
</div>

<form id="renkliForm"action="/renkliRecete" method="post"></form>

      <% 
      if(Array.isArray(SecilenTanılar)){
          SecilenTanılar.forEach(function(e) { %>  
                                      <div  class="row secilenTanılar" style="display:none;">
                                            <div class="tani" style=""><%=e%></div>  
                                     </div>
                                         <%});} 
        else{%>
<div  class="row secilenTanılar" style="display:none;">
                                            <div class="tani" style=""><%=SecilenTanılar%></div>  
                                     </div>


        <%}%>


</form>

<script src="/public/js/recete.js"></script>
<script>

var secilenIlaclar=[];

$( "#mynBitirBtn").click(function() {

    var input = $("<input>").attr("type", "hidden").attr("name", "secilenTanilar").val(JSON.stringify(secilenTanılar));
    $('#tanilariKaydetForm').append(input);
    var input = $("<input>").attr("type", "hidden").attr("name", "hastaId").val((<%=hasta.Id%>));
    $('#tanilariKaydetForm').append(input);
    $("#tanilariKaydetForm").submit();
});

</script>