
<div class="row" style="margin-top:2%;">
        <div class="col-md-3">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Lohusalıkta Tehlike İşaretleri</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="LohusaTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% GebeTehlikeIsaret.forEach(function(element) { %>
                                                    <div class="row LohusaRow">
                                                            <div class="col-md-3 cbxLohusa" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimLohusa" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
       </div>
       <div class="col-md-3">
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                                        </div>
        
                                              </div>
                                                <div class="container" id="secilenLohusaTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       
                                                 </div>
       </div>
       <div class="col-md-3">
                                              <div class="container" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Kadın Sağlığı İşlemleri</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="KadinSaglikTable" style="width: 95%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% KadinSaglikIslemleri.forEach(function(element) { %>
                                                    <div class="row KadinRow">
                                                            <div class="col-md-3 cbxKadin" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimKadin" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
       </div>
       <div class="col-md-3">
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                                        </div>
        
                                              </div>
                                                <div class="container" id="secilenKadinTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 324px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       
                                                 </div>
       </div>
        
</div>

<div class="row" style="margin-top: 2%;">
       <div class="col-md-6">
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">AP Yöntemi</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container" id="APTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 255px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      <% APYöntemleri.forEach(function(element) { %>
                                                    <div class="row APRow">
                                                            <div class="col-md-3 cbxAP" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimAP" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
       </div>
       <div class="col-md-6">
                      <div class="">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                      </div>
                      <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                      </div>
                      <div class="row" style="margin-top: 3%;">
                              <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                              <button id="silBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sil</button>
                              <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                      </div>
      </div>
</div>




<script>
var secilenLohusaIsaretler=[];
var secilenKadinIslemler=[];

var secilenApYontemi;

   
    

$(document).on('click', ".LohusaRow", function(){
    //Your code

    if($(this).children(".cbxLohusa").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxLohusa").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxLohusa").children().attr("name");
        var ADI= $(this).children(".isimLohusa").html();

       var html= '<div  class="row secilenLohusaTable ">';
       html+= '<div class="col-md-1 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;">'+KODU+'</div>'; 
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
      
        $("#secilenLohusaTable").append(html);
        var t={KODU:KODU,ADI:ADI};
        secilenLohusaIsaretler.push(t);
    }
    else{
        $(this).children(".cbxLohusa").children().css('background-color','red')
        var KODU= $(this).children(".cbxLohusa").children().attr("name");

        var str=":contains("+KODU+")" ;
        $(".secilenLohusaTable").remove(str);
        secilenLohusaIsaretler.forEach(element => {
            if(element.KODU==KODU){
                secilenLohusaIsaretler = jQuery.grep(secilenLohusaIsaretler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$(document).on('click', ".KadinRow", function(){
    //Your code

    if($(this).children(".cbxKadin").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbxKadin").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxKadin").children().attr("name");
        var ADI= $(this).children(".isimKadin").html();

       var html= '<div  class="row secilenKadinTable ">';
       html+= '<div class="col-md-1 " style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;">'+KODU+'</div>'; 
       html+= '<div class="col-md-12 " style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+ADI+'</div> </div>';
      
        $("#secilenKadinTable").append(html);
        var t={KODU:KODU,ADI:ADI};
        secilenKadinIslemler.push(t);
    }
    else{
        $(this).children(".cbxKadin").children().css('background-color','red')
        var KODU= $(this).children(".cbxKadin").children().attr("name");

        var str=":contains("+KODU+")" ;
        $(".secilenKadinTable").remove(str);
        secilenKadinIslemler.forEach(element => {
            if(element.KODU==KODU){
              secilenKadinIslemler = jQuery.grep(secilenKadinIslemler, function(value) {
                    return value != element;
                  });

            }
        });

    }
});

$(document).on('click', ".APRow", function(){
    //Your code

    if($(this).children(".cbxAP").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(".cbxAP").children().css('background-color','rgb(255,0, 0)');
        $(this).children(".cbxAP").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var KODU= $(this).children(".cbxAP").children().attr("name");
        var ADI= $(this).children(".isimAP").html();
    
        secilenApYontemi={KODU:KODU,ADI:ADI};
    }
    else{
        $(".cbxAP").children().css('background-color','rgb(255,0, 0)');
        var KODU= $(this).children(".cbxKadin").children().attr("name");

        var str=":contains("+KODU+")" ;
        secilenApYontemi=null;

    }
    console.log(secilenApYontemi);
});

</script>
