
<div class="row" style="margin-top: 2%">

         <div class="input-group mb-3 col-md-4">
                    <div class="input-group-prepend">
                         <span class="input-group-text " id="inputGroup-sizing-default">İzlem Sırası</span>
                    </div>
                                <select name="izlemSirasi" class="browser-default custom-select">
                                                 <% kacinciLohusa.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                  <%}); %>
                                  </select>
        </div>
        <div class="col-md-4">
              <div style="text-align:center;color:red;margin: auto;">5.Hafta</div>
       </div>
       <div class="col-md-4" style="margin: auto;
       text-align: right;">
              <div class="custom-control custom-checkbox custom-control-inline">
                     <input type="checkbox" class="custom-control-input" name="hbs" id="hbs" value="hbs">
                     <label class="custom-control-label" for="hbs">Bölge Dışı İzlem</label>
             </div>  
       </div>      
</div>


<div class="row" style="margin-top:2%;">
       <div class="col-md-6">
          <div class="row">
             <div class="col-md-3">
              <div  style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;">
                        <div class="row"> <img src="/public/img/boy.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Ateş</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="ates" class="bki form-control" type="text" placeholder="Ateş"></div>

            </div>
            </div>
            <div class="col-md-3">
            <div class  style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;margin: auto;">
                        <div class="row"> <img src="/public/img/nabız.svg" style="margin: auto;height: 60px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Nabız</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="nabiz"class="form-control" type="text" placeholder="Nabız"></div>

            </div>
             </div>
            <div class="col-md-6">
           <div class=""  style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;height: 170px;margin: auto;">
                      <div class="row">
                                                            <div class="col-md-5"> <img src="/public/img/tansiyon.svg" style="margin: auto;height: 95px;">  </div>
                                                            <div class="col-md-7"> 
                                                                                   <input name="tanS" class="form-control" type="text" placeholder="S" style="">
                                                                                   <input name="tanD" class="form-control" type="text" placeholder="D" style="margin-top: 20px;">

                                                            </div>

                     </div>
                     <div class="row" style="margin: auto;margin-top:8px;"><div style="color: #325179;font-size: larger;text-align: center;margin: auto;">Tansiyon</div></div>
            </div>
          </div>
          </div>  
       </div>
       <div class="col-md-6">
                                               <div  id="APIslemlerTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 275px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;">
                                                    <div class="row APheaderDiv">
                                                         <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Doğum Sonu İşlemleri</div>                                               
                                                    </div>
                                                    
                                                    <div class="row APRow">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color: rgb(0, 255, 0); height: 25px; width: 25px; margin-left: 46%;" name="5"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">DERİ ALTI İMPLANT</div> 
                                                    </div>                                                                                                          
                                               </div>  
       </div>
        
    </div>

<div class="row" style="margin-top: 2%;">
       <div class="col-md-6">

                <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Uterus Involüsyon	</span>
                                       </div>
                                                   <select name="uterus" class="browser-default custom-select">
                                                                    <% UterusInvolusyon.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
                    </div>
                <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">D Vitamini</span>
                                       </div>
                                                   <select name="Dvit" class="browser-default custom-select">
                                                                    <% DVitamini.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
                    </div>
                    <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Demir Desteği</span>
                                       </div>
                                                    <select name="demir" class="browser-default custom-select">
                                                                    <% DemirDestek.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
               </div>
                <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Postpartum Depresyon</span>
                                       </div>
                                                    <select name="postpartum" class="browser-default custom-select">
                                                                    <% PostpartumDepresyon.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
               </div>
                <div class="row" style="">
                         <div class="input-group mb-3 col-md-12">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Konjenital Anomali</span>
                                       </div>
                                                    <select name="Konjenital" class="browser-default custom-select">
                                                                    <% KonjenitalAnomali.forEach(function(element) { %>
                                                                     <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                                     <%}); %>
                                                     </select>
                         </div>
               </div>


       </div>
       <div class="col-md-6">
                      <div class="">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                      </div>
                      <div class="">
                            <div style="border-radius: 20px; padding: 14px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;">
                                <textarea class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                            </div>
                      </div>
                      <div class="row" style="margin-top: 3%;">
                              <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                              <button id="silBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sil</button>
                              <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                      </div>
      </div>
</div>





