<%- include('hastaIzlemHeader'); -%>


   <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Medeni Hali <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Evli</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Evlenme Yaşı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">18</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Canlı/Ölü Sayısı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">1/0</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Düşük Sayısı  <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">0</b></div>
   </div>
   <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Konjenital Anomali Doğumu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Yok</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Kan Grubu<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">AB+</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Ad Soyad<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Örnek</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Yaş <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">32</b></div>
   </div>
     <div class="row" style="margin-top: 1%;">
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Kan Uyuşmazlığı <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">Yok</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Kan Grubu<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">B</b></div>
                <div class="col-md-3" style="color: #325179;font-family: Avenir Next;">Eş Telefonu<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">05*********</</b></div>
   </div>



   <div class="row"style="margin-top:1%;">
        <div  class="panel" style="width: 80%;">
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Gebelik Sonucu <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Gebelik Sonlanma Tarihi<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>                    
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Doğum Yöntemi <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Doğan Bebek Toplamı<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>                    
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Doğuma Yardım Eden <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Doğum Gerçekleşme Yeri<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>                    
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Canlı/Ölü Sayısı <b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>
                            <div class="col-md-6" style="color: #325179;font-family: Avenir Next;">Prematüre<b style="margin-left: 15px;color: #325179;font-family: Avenir Next;">-</b></div>                    
                        </div>


                       
         </div>
   </div>


            <div style="margin-top: 2%;border-radius: 20px;padding: 12px;background-color: white;width: 100%;text-align: center;box-shadow: 6px 7px 6px grey;height: 320px;">
                       
             </div>

<div class="row" style="margin-top:1%;">
            <div class="col-md-8">                          
            </div>
            <div class="col-md-4">                          
                    <button id="yeniIzlemBtn" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Yeni İzlem</button>
            </div>
</div>
<form id="yeniIzlemForm" action="/izlemler/Lohusaizlem/YeniIzlem" method="get"></form>
</form>

<script src="../public/js/lohusaizlem.js"></script>
