<form id="lohusaFORM" action="/izlemler/Lohusaizlem/kaydet" method="post">
<%- include('hastaHeader'); -%>
<div class="container" style="margin-top: 26px;">
          <div class="row" style="margin-top:1%;">
                             <div id="izlembilgileriSekme" class="col-md-6 selected sekme" style="background-color:white;text-align: center;border-bottom-left-radius: 15px;border-top-left-radius: 15px;padding: 18px;">İzlem Bilgileri</div>
                             <div id="psikoSekme" class="col-md-6 sekme" style="background-color: #b5d8e5;border-bottom-right-radius: 15px;border-top-right-radius: 15px;padding: 18px;text-align: center;">Psikososyal Gruplar</div>   
          </div>
 </div>

           <div id="lohusaSekme1" class=" lohusaTab">
              <%- include('lohusaizlem-YeniIzlemSekme1'); -%>
          </div>
         
          <div id="lohusaSekme2"class=" lohusaTab"style="display:none;">
              <%- include('lohusaizlem-YeniIzlemSekme2'); -%>
          </div>
<div class="">

                <div class="" >
                  <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
               </div>
               <div class="">
                <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                    <textarea name="aciklama" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                </div>
               </div>

              <div class="row" style="margin-top: 1%;">
                  <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                  <button id="KaydetbtnLoh" type="submit" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
               </div>
</div>    
</form>

<script>

$( "#KaydetbtnLoh" ).click(function() {
            var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
            $('#lohusaFORM').append(input);
            var input2 = $("<input>").attr("type", "hidden").attr("name", "secilenLohusaIsaretler").val(JSON.stringify(secilenLohusaIsaretler));
            $('#lohusaFORM').append(input2);
            var input3 = $("<input>").attr("type", "hidden").attr("name", "secilenKadinIslemler").val(JSON.stringify(secilenKadinIslemler));
            $('#lohusaFORM').append(input3);
            var input4 = $("<input>").attr("type", "hidden").attr("name", "secilenApYontemi").val(secilenApYontemi.KODU);
            $('#lohusaFORM').append(input4);

            $("#lohusaFORM").submit();
         
});
var sekme="İzlem Bilgileri";
$( "#izlembilgileriSekme").click(function() {
    if($(this).hasClass("selected")){
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".lohusaTab").css("display","none");
        $("#lohusaSekme1").css("display","");
    }
 
});
$( "#psikoSekme").click(function() {
    if($(this).hasClass("selected")){
       
    }
    else{
        $(".sekme").css("background-color","#b5d8e5");
        $(".sekme").removeClass("selected");
        $(this).css("background-color","white");
        $(this).addClass("selected");
        sekme=$(this).text();
        $(".lohusaTab").css("display","none");
        $("#lohusaSekme2").css("display","");
    }
});

</script>
