

<form id="obeziteFORM" action="/izlemler/Obeziteizlem/kaydet" method="post">


<%- include('hastaIzlemHeader'); -%>
          
                    

                    
<div class="container">
         <div class="row" style="margin-top:1%;margin-bottom:1%;">
                 <div class="col-md-4" style="">
                     <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" name="geziciHizmet" id="geziciHizmet" value="1">
                        <label class="custom-control-label" for="geziciHizmet">Gezici Hizmette Yapıldı </label>
                     </div>  
                 </div>
                 <div class="" style="/* margin: auto; */color: #325179;">İlk Tanı Tarihi:</div><div class="col-md-4" style="/* margin: auto; */color: #325179;"><input type="date" name="ilkTaniTarihi" value="2019-10-21" min="2018-01-01" max="2019-12-31"></div>
         </div>
         <div class="row">
             <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">
                        <div class="row"> <img src="/public/img/boy.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Boy(cm)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="boy" name="boy" class="bki form-control" type="text" placeholder="Boy"></div>

                 </div>
            </div>
                <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ağırlık(gr)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="kilo" name="kilo" class="form-control bki" type="text" placeholder="Ağırlık(gr)"></div>
                  </div>
                </div>
              <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">    
                        <div class="row"> <img src="/public/img/BMI.svg" style="margin: auto;height: 43px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> BMI</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;">
                                <input id="bkiSonuc" name="bkiSonuc" class="form-control" type="text" placeholder="BMI"><input id="bkiDurum" name="bkiDurum"class="form-control" type="text" placeholder="Durum">
                        </div>
                    </div>
              </div>
               <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                            <div class="row"> <img src="/public/img/kansekeri.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Bel Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="belCevresi" class="form-control" type="text" placeholder="Bel Çevresi"></div>
                    </div>
            </div>
                  <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                         <div class="row"> <img src="/public/img/solunum.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Kalça Çevresi</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="kalcaCevresi" class="form-control" type="text" placeholder="Kalça Çevresi"></div>
            </div>
            </div>
                 <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">     
                         <div class="row"> <img src="/public/img/solunum.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Bel-Kalça Oranı</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="belKalcaOrani" class="form-control" type="text" placeholder="Bel-Kalça Oranı"></div>
              </div>
            </div>
     </div>
      <div class="row" style="margin-top: 2%;">
                        <div class="col-md-6" style="">
                                 <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Morbid Obez Hasta Lenfatik Ödem Varlığı</span>
                                           </div>
                                               <select id="morbid" name="morbidLenfatik"class="browser-default custom-select">
                                                 <% MorbidObez.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div>        
                                  <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Egzersiz</span>
                                           </div>
                                               <select id="egzersiz" name="egzersiz" class="browser-default custom-select">
                                                 <% Egzersiz.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div>    
                                  <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Diyet Tedavisi</span>
                                           </div>
                                               <select name="diyetTed" class="browser-default custom-select">
                                                 <% DiyetTedavisi.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div>    
                                 <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Obezite İlaç Tedavisi</span>
                                           </div>
                                               <select name="obezIlacTed" class="browser-default custom-select">
                                                 <% ObeziteIlacTedavisi.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div>  
                                   <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Psikolojik Tedavi</span>
                                           </div>
                                               <select name="psikoTed" class="browser-default custom-select">
                                                 <% PsikolojikTedavi.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div> 
                                 <div class="row" style="">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Yatağa Bağımlılık</span>
                                           </div>
                                               <select name="yatagaBagimlilik" class="browser-default custom-select">
                                                 <% YatagaBagimlilik.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div> 
                                  <div class="row" style="">
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="adimsayar" id="adimsayar" value="1">
                                         <label class="custom-control-label" for="adimsayar">Adımsayar Kullanıyor </label>
                                       </div>  
                                  </div>                
                        </div>
                          <div class="col-md-3">
                                              <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;"> Ek Tanılar</div>                                               
                                                        </div>
        
                                              </div>
                                               <div class="container"  style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 290px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                                  <% EkTanilar.forEach(function(element) { %>
                                                    <div class="row EkTaniRow">
                                                            <div class="col-md-3 cbx" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="tik" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="<%= element.KODU %>"></div>
                                                            </div> 
                                                             <div class="col-md-9 isim" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;"><%= element.ADI %></div> 
                                                    </div>
                                                    <%}); %>
                                               </div>  
                      </div>
                      <div class="col-md-3">
                                             <div class="container" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey; overflow-x: hidden;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;">
                                                        <div class="row ">
                                                          <div class="col-md-12" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;">Seçilenler</div>                                               
                                                        </div>
        
                                              </div>
                                                <div class="container" id="secilenEkTanilar" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 290px;border-radius: 20px;overflow-y: auto;overflow-x: hidden;border-top-right-radius: 0;border-top-left-radius: 0;">
                                                       
                                                 </div>
                     </div>
       </div>                           
</div>
                             <div class="" style="">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                              </div>
                               <div class="">
                                         <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                               <textarea  name="aciklama"class="kutu" rows="10" placeholder="Örnek.." style="height: 180px;" required=""></textarea>
                                         </div>
                               </div>
                               <div class="row" style="margin-top: 3%;">
                                          <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                                                 <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                               </div>
</form>

         








 <script src="http://code.jquery.com/jquery-2.1.3.js"></script>

 <script src="../public/js/jquery-ui.js"></script>

<script src="../public/js/obezite.js"></script>



<script>
var secilenEkTanilar=[];
$(document).on('click', ".EkTaniRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var isim= $(this).children(".isim").html();
        var kod= $(this).children(".cbx").children().attr("name").split("?")[0];;
       var html= '<div  class="row secilenEkTanilar ">';
       html+= '<div class="col-md-1 entegKodu" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;display:none;"></div>'; 
       html+= '<div class="col-md-12 testAdı" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;border-width: thin;">'+isim+'</div> </div>';

        $("#secilenEkTanilar").append(html);
        var t={isim:isim,kod:kod};
        secilenEkTanilar.push(t);

    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var isim= $(this).children(".isim").html();

        var str=":contains("+isim+")" ;
        $(".secilenEkTanilar").remove(str);
        secilenEkTanilar.forEach(element => {
            if(element.isim==isim){
                secilenEkTanilar = jQuery.grep(secilenEkTanilar, function(value) {
                    return value != element;
                  });

            }
        });

    }
});



        
$( ".bki" ).on("keyup", function () {
       var kilo = $("#kilo").val();
       var boy = $("#boy").val();
       
        if(kilo > 0 && boy > 0)
       {
         var sonuc = kilo/(boy/100*boy/100);
         $("#bkiSonuc").val(sonuc);
         if(sonuc < 18.5){
              $("#bkiDurum").val("Zayıf");
         }
         if(sonuc > 18.5 && sonuc < 25){
              $("#bkiDurum").val("Sağlıklı");
         }
         if(sonuc > 25){
               $("#bkiDurum").val("Şişman");
         }



       }      
});

  $( "#Kaydetbtn" ).click(function() {
    
        var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
        $('#obeziteFORM').append(input);


        var i;
        var ekTanilarString="";
        for (i = 0; i < secilenEkTanilar.length; i++) {
              ekTanilarString+=secilenEkTanilar[i].kod;
              if(i+1<secilenEkTanilar.length){
                  ekTanilarString+="%";
              }
        }
        var input2 = $("<input>").attr("type", "hidden").attr("name", "ekTanilar").val(ekTanilarString);
        $('#obeziteFORM').append(input2);
        $("#obeziteFORM").submit();
  });

</script>