<div class="container" style="margin-top:3%;">
<div class="row">
         <div class="col-md-4">
                 <div class="row">
                             <div class="" style="margin-top: auto;margin-bottom: auto;">
                                              Yaş
                             </div>
                             <div class="col-md-3">

                                     <input class="form-control" name="isim" type="number" aria-label="Default" aria-describedby="">
                             </div>
                             <div class="" style="margin-top: auto;margin-bottom: auto;">
                                        ile
                             </div>
                             <div class="col-md-3">
                                     <input class="form-control" name="isim" type="number" aria-label="Default" aria-describedby="">
                             </div>                           
                  </div>
                  <div class="row" style="margin-top: 3%;">
                          <div class="input-group mb-3">
                                                            <div class="input-group-prepend">
                                                                  <span class="input-group-text " id="inputGroup-sizing-default">Medeni Hali</span>
                                                            </div>
                                                            <select name="medeniHali" class="browser-default custom-select"required>
                                                                  <option selected="">Seçiniz..</option>
                                                                      <% MedeniHali.forEach(function(element) { %>
                                                                     <tr>
                                                                     <option value="<%= element.KODU  %>"> <%= element.ADI  %></option>
                                                            <%}); %>
                                                            </select>
                          </div>
                 </div>
                 <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Tüm Hedef Liste </div>
                </div>
                 <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Misafir Hastalar Dahil </div>
                </div>
                <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Vefat Edenler Dahil </div>
                </div>
                 <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Tarama Kaydı Olmayanlar </div>
                </div>
                 <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Tarama Kaydı Olanlar  </div>
                </div>
                 <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Barkodsuz Kayıtlar </div>
                </div>
                  <div class="row choiceRow">
                                                  <div class="col-md-2 cbx" style="text-align: right;padding: 10px;">
                                                        <div class="tik" style="background-color: red;height: 25px;width: 25px;"></div>
                                                  </div> 
                                                  <div class="col-md-8 choice" style="padding: 10px;color: #325179;font-family: Avenir Next;">Barkodlu Kayıtlar </div>
                </div>
                <div class="row" style="margin-top:3%;">                                
                                 <button id="btnListele" type="button" class="btn btn-primary" style="width: 280px;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Listele</button>
                 </div>
         </div> 
         <div class="col-md-8">
                        <div class="container" style="height: 10%;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;margin: 0;border-top-right-radius: 20px;border-top-left-radius: 20px;color: #325179;font-family: Avenir Next;">
                                                     <div class="row" id="secilenHeader">
                                                           <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-bottom: solid;border-right: solid;border-top-left-radius: 20px;color: #325179;font-family: Avenir Next;">
                                                                  TC NO
                                                          </div> 
                                                          <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                                                  İsim-Soyisim
                                                         </div>  
                                                           <div class="col-md-3" style="background-color: white;text-align: center;padding: 10px;border-right: solid;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                                                  Barkod
                                                          </div>  
                                            
                                                          <div class="col-md-3" style="background-color: white;border-top-right-radius: 15px;padding: 10px;text-align: center;border-bottom: solid;color: #325179;font-family: Avenir Next;">
                                                                   Sonuç
                                                         </div>
                                                    </div>
                                               </div>
                                               <div class="container" id="KadinSaglikTable" style="background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;height: 90%;border-radius: 20px;overflow-y: auto;overflow-x: hidden;margin: 0;border-top-right-radius: 0;border-top-left-radius: 0;">
               
                                                      
                                                    <!--<div class="row KadinRow">
                                                            <div class="col-md-3 cbxKadin" style="background-color: white;text-align: right;padding: 10px;border-bottom: solid;">
                                                                      <div class="" style="background-color:red;height: 25px;width: 25px;margin-left: 46%;" name="1"></div>
                                                            </div> 
                                                             <div class="col-md-9 isimKadin" style="background-color: white;padding: 10px;text-align: center;border-bottom: solid;">ÜREME SAĞLIĞI DANIŞMANLIĞI</div> 
                                                    </div>-->                                                                
                         </div>  

         </div> 
 </div>
 </div>

<script>
$(document).on('click', ".choiceRow", function(){

    if($(this).children(".cbx").children().css('background-color')=="rgb(255, 0, 0)"){//kırmızı mı
        $(this).children(".cbx").children().css('background-color','rgb(0, 255, 0)');//yeşil
        var secenek= $(this).children(".choice").html();
    }
    else{
        $(this).children(".cbx").children().css('background-color','red')
        var secenek= $(this).children(".choice").html();
    }
});



</script>