



<form id="yetiskinFORM" action="/izlemler/Yetiskinizlem/kaydet" method="post">
<%- include('hastaIzlemHeader'); -%>
          
                    

                    
<div class="container">
         
         <div class="row">
             <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">
                        <div class="row"> <img src="/public/img/boy.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Boy(cm)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="boy" name="boy" class="bki form-control" type="text" placeholder="Boy"></div>

                 </div>
            </div>
                <div class="col-md-2">
                  <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                        <div class="row"> <img src="/public/img/agirlik.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Ağırlık(gr)</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input id="kilo" name="kilo" class="form-control bki" type="text" placeholder="Ağırlık(gr)"></div>
                  </div>
                </div>
              <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">    
                        <div class="row"> <img src="/public/img/BMI.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> BMI</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;">
                                <input id="bkiSonuc" name="bkiSonuc" class="form-control" type="text" placeholder="BMI"><input id="bkiDurum" name="bkiDurum" class="form-control" type="text" placeholder="Durum">
                        </div>
                    </div>
              </div>
               <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                            <div class="row"> <img src="/public/img/kansekeri.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Ateş</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="ates" class="form-control" type="text" placeholder="Bel Çevresi"></div>
                    </div>
            </div>
                  <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">                         <div class="row"> <img src="/public/img/solunum.svg" style="margin: auto;height: 120px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;">Nabız</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><input name="nabiz" class="form-control" type="text" placeholder="Kalça Çevresi"></div>
                    </div>
                  </div>
                   <div class="col-md-2">
                    <div class="" style="padding: 14px;background-color: white;border-radius: 20px;box-shadow: 6px 7px 6px grey;margin: auto;">    
                        <div class="row"> <img src="/public/img/tansiyon.svg" style="margin: auto;height: 80px;"></div>
                        <div class="row" style="margin: auto;margin-top:8px;"><div style="margin: auto;color: #325179;font-size: larger;text-align: center;"> Tansiyon</div></div>
                        <div class="row" style="margin: auto;margin-top:8px;">
                                <input id="tansiyonS" name="tansiyonS" class="form-control" type="text" placeholder="S"><input name="tansiyonD" id="tansiyonD" class="form-control" type="text" placeholder="D">
                        </div>
                    </div>
                  </div>
     </div>
      <div class="row" style="margin-top: 3%;">
               <div class="col-md-6" >      
                     <div class="row">
                        <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                            <span class="input-group-text " id="inputGroup-sizing-default">Yapılan İzlem</span>
                                       </div>
                                       <select id="izlemTakvim" name="izlemTakvim" class="browser-default custom-select">
                                          <% ergenIzlemTakvimi.forEach(function(e) { 
                                            
                                            if(totalDay<e.SONUYGULANMATARIHI && totalDay>e.ILKUYGULANMATARIHI){%>
                                                    <option selected value="<%= e.KODU %>"> <%= e.ADI %></option>
                                          <%}else{%>
                                            <option value="<%= e.KODU %>"> <%= e.ADI %></option>
                                           <%}
                                            }); %>
                                        </select>
                        </div>
                     </div>
                </div>             
                <div class="col-md-6" >      
                      <div class="row">
                          <div class="col-md-6" >      
                                  <div class="input-group mb-3">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">HB Ölçümü</span>
                                     </div>
                                     <input class="form-control" name="hb" type="text" aria-label="Default" aria-describedby="">
                                 </div>
                          </div> 
                           <div class="col-md-6" style="">      
                                  <div class="input-group mb-3">
                                     <div class="input-group-prepend">
                                           <span class="input-group-text " id="inputGroup-sizing-default">Hct Ölçümü</span>
                                     </div>
                                     <input class="form-control" name="hct" type="text" aria-label="Default" aria-describedby="">
                                 </div>
                          </div> 
                     </div> 
                </div>             
    </div>
      <div class="row" style="margin-top: 1%;">
                        <div class="col-md-6" >      
                                 
                                  <div class="row" style="margin-top:5%">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Okul Çağı Postür Muayene</span>
                                           </div>
                                               <select id="okulcagimyn" name="okulcagimyn" class="browser-default custom-select">
                                                 <% OkulCagiPostur.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div> 
                                 <div class="row" style="margin-top:5%">
                                         <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text " id="inputGroup-sizing-default">Görme Tarama Sonucu</span>
                                           </div>
                                               <select id="gormetarama" name="gormetarama"class="browser-default custom-select">
                                                 <% GormeTaramaSonucu.forEach(function(element) { %>
                                                  <option value="<%= element.KODU %>"> <%= element.ADI %></option>
                                                 <%}); %>
                                               </select>
                                        </div>
                                 </div>       
                                <div class="row" style="margin-top:2%;margin-bottom:1%;">
                                    <div class="col-md-6" style="">      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="sdd"id="sdd" value="1">
                                         <label class="custom-control-label" for="sdd">Sosyal Davranışsal Değerlendirme</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-6" style="">      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="heeadsss" id="heeadsss" value="1">
                                         <label class="custom-control-label" for="heeadsss">HEEADSSS(ERGENSOR)Değerlendirme </label>
                                       </div>  
                                    </div>   
                                </div>             
                                 <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                    <div class="col-md-6" style="">      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="gelisimseld" id="gd" value="1">
                                         <label class="custom-control-label" for="gd">Gelişimsel Değerlendirme</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-6" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="hiperd" id="hd" value="1">
                                         <label class="custom-control-label" for="hd">Hiperlipidemi Değerlendirme</label>
                                       </div>  
                                    </div>   
                                </div>        
                                 <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="dissagligi" id="ds" value="1">
                                         <label class="custom-control-label" for="ds">Diş Sağlığı</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="isitmet" id="isitmet" value="1">
                                         <label class="custom-control-label" for="isitmet">İşitme Taraması</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="gormet" id="gt" value="1">
                                         <label class="custom-control-label" for="gt">Görme Tarama</label>
                                       </div>  
                                    </div>   
                                </div>            
                                 <div class="row" style="margin-top:1%;margin-bottom:1%;">
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="bagisildama" id="bag" value="1">
                                         <label class="custom-control-label" for="bag">Bağışıldama</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="danismanlik" id="danismanlik" value="1">
                                         <label class="custom-control-label" for="danismanlik">Danışmanlık</label>
                                       </div>  
                                    </div>   
                                    <div class="col-md-4" >      
                                       <div class="custom-control custom-checkbox custom-control-inline">
                                         <input type="checkbox" class="custom-control-input" name="fizikmyn" id="fm" value="1">
                                         <label class="custom-control-label" for="fm">Fizik Muayene</label>
                                       </div>  
                                    </div>   
                                </div>                
                        </div>
                        <div class="col-md-6">            
                           <div class="" style="">
                              <div class="" style="background-color: white;border-radius: 10px;padding: 11px;margin-bottom: -43px;height: 80px;color: #325179;font-family: Avenir Next;box-shadow: 6px 7px 6px grey;width: 140px;text-align: center;">Açıklama</div>                            
                              </div>
                               <div class="">
                                         <div style="border-radius: 20px; padding: 14px;background-color: white;text-align: center;box-shadow: 6px 7px 6px grey;">
                                               <textarea name="aciklama"style="height:275px;" class="kutu" rows="10" placeholder="Örnek.." required=""></textarea>
                                         </div>
                               </div>
                               <div class="row" style="margin-top: 3%;">
                                          <div id="SBGönder" style="color: #325179;margin: auto;">İzlemi Sağlık Bakanlığına Gönder</div>
                                                 <button id="silBtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Sil</button>
                                                 <button id="Kaydetbtn" type="button" class="btn btn-primary" style="width: 25%;background-color: #325179;color: white;border-radius: 16px;margin: auto;padding: 12px;">Kaydet</button>
                               </div>
                        </div>
       </div>
</div>


         
</form>






<script>

$( ".bki" ).on("keyup", function () {
       var kilo = $("#kilo").val();
       var boy = $("#boy").val();
       
        if(kilo > 0 && boy > 0)
       {
         var sonuc = kilo/(boy/100*boy/100);
         $("#bkiSonuc").val(sonuc);
         if(sonuc < 18.5){
              $("#bkiDurum").val("Zayıf");
         }
         if(sonuc > 18.5 && sonuc < 25){
              $("#bkiDurum").val("Sağlıklı");
         }
         if(sonuc > 25){
               $("#bkiDurum").val("Şişman");
         }

  }      
});

  $( "#Kaydetbtn" ).click(function() {
      
      
        var input = $("<input>").attr("type", "hidden").attr("name", "hastaTC").val(<%=hasta.Id%>);
        $('#yetiskinFORM').append(input);
      $("#yetiskinFORM").submit();
     
  });


</script>




