<html><head></head><body style="
    font-size: 8px;
"><h4 style="text-align: center;font-size: 12px;"><span style="text-decoration: underline;"><strong><br><br><br><b>BEBEK-ÇOCUK HASTA BİLGİLERİ</b></strong></span></h4>

<div style="
">

  <table style="border-collapse: collapse;width: 80%;margin: auto;font-size: 8px;" border="1">
<tbody>
<tr>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">T.C. Kimlik No :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Kan Grubu :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    /* margin-left: 0%; */
    padding-left: 2%;
    padding-right: 1%;
">Adı Soyadı      :</span><span style="
    padding-left: 2%;
">LEVENT ÖZTEPE</span></td>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Cinsiyet   :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Tarihi :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Sosyal Güvence :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Anne T.C. Kimlik No :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Yeri</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Adres :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
<td style="width: 50%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Telefon :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
</tbody>
</table>


  <table style="border-collapse: collapse;width: 80%;margin: auto;margin-top: 3%;font-size: 8px;" border="1">
<tbody>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;" colspan="3"><b style="
    font-size: 12px;
">Bebek Çocuk Kart ,Beslenme,İzlem,Aşı ve Persantil Bilgileri</b></td>

</tr>
<tr>

<td style="width: 50%;height: 16px;" colspan="3"></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 10px;" colspan="3"><b>DOĞUM KART BİLGİLERİ</b></td>

</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Ağırlığı :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Yöntemi :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">APGAR1 :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Baş Çrv :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Komplikasyon :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">APGAR5 :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>

<td style="width: 30%;/* height: 0; */ colspan=" colspan="3"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 5px;
    padding-right: 1%;
">Açıklamalar :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>

</tr>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 10px;" colspan="3"><b>TARAMALAR-MUAYENE</b></td>

</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">FenilKetanuri :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Konjenitan Hipotroidi :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Biyotinidaz Eksikliği :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>

<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">İşitme Tarama Testi :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Gelişimsel Kalça Çıkığı :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Testis Kontrol Muayenesi :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr><tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Simozis Kontrol Myn :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Topuk Kanı :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Göz Taramasi :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 10px;" colspan="3"><b>DOĞUM KART BİLGİLERİ</b></td>

</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Ağırlığı :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Yöntemi :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">APGAR1 :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Doğum Baş Çrv :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Komplikasyon :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">APGAR5 :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>
<tr>

<td style="width: 30%;/* height: 0; */ colspan=" colspan="3"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 5px;
    padding-right: 1%;
">Açıklamalar :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>

</tr>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 7px;" colspan="3"><b>BESLENME VERİLERİ</b></td>

</tr>
<tr>

<td style="width: 30%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Sadece Anne Sütü Aldığı Ay :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td><td style="width: 33%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Ek Gıdaya Başladığı Ay :</span><span style="
    padding-left: 2%;
">26.7.2018</span></td>
<td style="width: 38%;/* height: 0; */"><span style="
    background-color: darkgray;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 1%;
">Anne Sütü kesildiği Ay :</span><span style="
    padding-left: 2%;
">22964565920</span></td>
</tr>



</tbody>
</table>

<table style="border-collapse: collapse;width: 80%;margin: auto;margin-top: 1%;font-size: 8px;" border="1">
<tbody>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="7"><b style="
    font-size: 10px;
    font-style: italic;
">PERİOD İÇİ YAPILMIŞ AŞILARI</b></td>

</tr><tr style="
    text-align: center;
    font-style: italic;
">

<td style="
    width: 1%;
"><b>Aşı Sıra</b></td><td style="
"><b>Aşı Period</b></td>
<td style="
"><b>Uygulama Tarihi</b></td>
<td style="
"><b>Aşı Adı</b></td>
<td style="
"><b>Lot No</b></td>
<td style="
"><b>Uygulama Yeri</b></td><td style="
"><b>Açıklama</b></td>

</tr>
<tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  <td style="
">asfasf</td>   
    
</tr>    
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="7"><b style="
    font-size: 10px;
    font-style: italic;
">PERİOD DIŞI AŞILARI</b></td>

</tr><tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  <td style="
">asfasf</td>   
    
</tr>    
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="7"><b style="
    font-size: 10px;
    font-style: italic;
">YAPILMIŞ DİĞER TÜM AŞILARI</b></td>

</tr><tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  <td style="
">asfasf</td>   
    
</tr>  
  <tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="7"><b style="
    font-size: 10px;
    font-style: italic;
">YAPILMASI GEREKEN AŞILARI</b></td>

</tr><tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  <td style="
">asfasf</td>   
    
</tr>  
</tbody>
</table>



<table style="border-collapse: collapse;width: 80%;margin: auto;margin-top: 1%;font-size: 8px;" border="1">
<tbody>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="10"><b style="
    font-size: 10px;
    font-style: italic;
">PERİOD İÇİ/DIŞI YAPILMIŞ BEBEK İZLEMLERİ</b></td>

</tr><tr style="
    text-align: center;
    font-style: italic;
">

<td style=""><b>İzlem Sıra</b></td>
<td style=""><b>Period</b></td>
<td style=""><b>Uyg.Tarihi</b></td>
<td style=""><b>Ağırlık</b></td>
<td style=""><b>Boy</b></td>
<td style=""><b>Baş Çrv</b></td>
<td style=""><b>Kol Çrv</b></td>
<td style=""><b>Göğüs</b></td>
<td style=""><b>Notlar</b></td>




</tr>
<tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  
<td style="
">asfasf</td>
<td style="
">asfasf</td><td style="
">asfasf</td>   
    
</tr>    

<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="10"><b style="
    font-size: 10px;
    font-style: italic;
">YAPILMASI GEREKEN BEBEK İZLEMLERİ</b></td>

</tr><tr style="
    text-align: center;
    font-style: italic;
">
<td style="" colspan="2"><b>İzlem Sıra</b></td>
<td style="" colspan="4"><b>Period</b></td>
<td style="" colspan="4"><b>Durum</b></td>
</tr>
<tr style="
    text-align: center;
">
    
<td colspan="2" style="
">9</td>    
 <td colspan="2" style="
">Bebek İzlem (IX)</td> 
    <td colspan="2" style="
">02/04/2019-12/05/2019</td> 
    <td colspan="4" style="
">Yapılmadı</td>   
</tr>    
</tbody></table>

<table style="border-collapse: collapse;width: 80%;margin: auto;margin-top: 1%;font-size: 8px;" border="1">
<tbody>
<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="10"><b style="
    font-size: 10px;
    font-style: italic;
">PERİOD İÇİ/DIŞI YAPILMIŞ ÇOCUK İZLEMLERİ</b></td>

</tr><tr style="
    text-align: center;
    font-style: italic;
">

<td style=""><b>İzlem Sıra</b></td>
<td style=""><b>Period</b></td>
<td style=""><b>Uyg.Tarihi</b></td>
<td style=""><b>Ağırlık</b></td>
<td style=""><b>Boy</b></td>
<td style=""><b>Baş Çrv</b></td>
<td style=""><b>Kol Çrv</b></td>
<td style=""><b>Göğüs</b></td>
<td style=""><b>Notlar</b></td>




</tr>
<tr style="
    text-align: center;
">
    
<td style="
">asfasf</td>    
 <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
    <td style="
">asfasf</td> 
  
<td style="
">asfasf</td>
<td style="
">asfasf</td><td style="
">asfasf</td>   
    
</tr>    

<tr>
<td style="width: 50%;/* height: 0; */text-align: center;font-size: 16px;background-color: darkgray;" colspan="10"><b style="
    font-size: 10px;
    font-style: italic;
">YAPILMASI GEREKEN ÇOCUK İZLEMLERİ</b></td>

</tr><tr style="
    text-align: center;
    font-style: italic;
">
<td style="" colspan="2"><b>İzlem Sıra</b></td>
<td style="" colspan="4"><b>Period</b></td>
<td style="" colspan="4"><b>Durum</b></td>
</tr>
<tr style="
    text-align: center;
">
    
<td colspan="2" style="
">9</td>    
 <td colspan="2" style="
">Bebek İzlem (IX)</td> 
    <td colspan="2" style="
">02/04/2019-12/05/2019</td> 
    <td colspan="4" style="
">Yapılmadı</td>   
</tr>    
    


</tbody></table>



</div></body></html>